<div class="row text-center">
  <div class="col-md-6 col-sm-12">
    <div class="single-banner">
      <a [routerLink]="['admin-teams']">
        <img src="./assets/images/J001654---Icon_Roles.png" alt="Admin">

      </a>
    </div>
    <h4> Admin Teams</h4>

  </div>
  <div class="col-md-6 col-sm-12">
    <div class="single-banner">
      <a [routerLink]="['investigation-teams']">
        <img src="./assets/images/J001654---Icon_Users.png" alt="Manager">

      </a>
    </div>
    <h4> Investigation Teams</h4>

  </div>
</div>