<app-header class="d-none d-lg-block" [hideOptions]="true"></app-header>

<div class="row view content cont p-4">
  <div class="col-sm-12">
    <h5>Give Feedback</h5>
  </div>

  <table class="table table-bordered">
    <tbody>
      <tr>
        <td>Title</td>
        <td>{{feedbackData?.performanceCycleTitle}}</td>
      </tr>
      <tr>
        <td>Start Date</td>
        <td>{{feedbackData?.performanceCycleStartDate | date:'dd/MM/yyyy'}}</td>
      </tr>
      <tr>
        <td>End Date</td>
        <td>{{feedbackData?.performanceCycleEndDate | date:'dd/MM/yyyy'}}</td>
      </tr>
      <tr>
        <td>Requeted By</td>
        <td>{{feedbackData?.feedbackRequestedBy}}</td>
      </tr>
      <!-- <tr>
        <td>Requestor Comments</td>
        <td>{{feedbackData?.requestorComments}}</td>
      </tr> -->
    </tbody>
  </table>

  <div class="row col-sm-12">
    <div class="col-sm-12 col-md-3">
      <label>Title</label>
      <select class="form-control" [(ngModel)]="feedback.title">
        <option value="Mr">Mr.</option>
        <option value="Ms">Ms.</option>
        <option value="Mrs">Mrs.</option>
      </select>
    </div>
    <div class="col-sm-12 col-md-3">
      <label>First Name</label>
      <input class="form-control" [(ngModel)]="feedback.firstName">
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Middle Name</label>
      <input class="form-control" [(ngModel)]="feedback.middleName">
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Last Name</label>
      <input class="form-control" [(ngModel)]="feedback.lastName">
    </div>

  </div>

  <div class="row col-sm-12">
    <div class="col-sm-12 col-md-3">
      <label>Job Title</label>
      <input class="form-control" [(ngModel)]="feedback.jobTitle">
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Phone</label>
      <input class="form-control" [(ngModel)]="feedback.phone">
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Email</label>
      <input class="form-control" [(ngModel)]="feedback.email">
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Date</label><br>
      <span>{{feedback?.feedbackGivenDate | date: 'dd/MM/yyyy'}}</span>
    </div>

  </div>
  <div class="row col-sm-12">
    <div class="col-sm-12">
      <label>Comments:</label>
      <textarea class="form-control" [(ngModel)]="feedback.feedbackComments"></textarea>
    </div>
  </div>
  <div class="row col-sm-12 mt-3">
    <div class="col-sm-12">
      <button class="btn btn-primary" (click)="gievFeedback()">Send</button>
      <button class="btn btn-secondary float-right" (click)="clear()">Clear</button>
    </div>
  </div>
</div>