<div class="row login-form zero-margin">
  <div class="col-sm-8 col-md-4">
    <div class="card">
      <div class="card-header text-center">
        <h3 class=""> Password Reset </h3>
      </div>
      <div class="card-body">
        <form role="form">
          <fieldset>
            <div class="row pb-3">
              <div class="center-block">
                <img class="logo-img" src="./assets/images/logo0.5.jpg" />
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-10  col-md-offset-1 center-block">
                <div class="form-group">
                  <label>LoginId/Email</label>
                  <div class="input-group">
                    <input class="form-control" [(ngModel)]="userInput" name="userLoginId" type="text" required
                      autofocus>
                  </div>
                </div>
                <div class="form-group">
                  <button type="submit" (click)="submit()" class="btn btn-lg btn-primary btn-block">Submit</button>
                </div>
              </div>
            </div>
          </fieldset>
        </form>
        <div class="row">
          <div class="col-sm-12 text-center">
            <a [routerLink]="['/login']">Login</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>