.login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    transform: translateY(50%);
    .input-group-text {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        cursor: pointer;
    }
}