<div class="row">
  <div class="col-md-6">
    <h4>
      <span class="fa fa-building"></span> Employee
    </h4>
  </div>
  <div class="col-md-6 col-sm-12">
    <div class="input-group search float-right">
      <input class="form-control form-control-sm " [(ngModel)]="searchText" placeholder="Search" />
      <span class="input-group-addon">
        <span class="fa fa-search"></span>
      </span>
    </div>
  </div>
</div>
<table class="table table-bordered cms-table">
  <thead>
    <th>Title</th>
    <th> Start Date</th>
    <th>End Date</th>

    <th>Mid year review status</th>
    <!-- <th>Expiry Date </th> -->
    <th>Full year review status</th>
    <th>Status </th>

    <th></th>
  </thead>
  <tbody *ngIf="cycles.length > 0">
    <tr *ngFor="let cycle of cycles | searchFilter : searchText; let i = index">
      <td>
        <a *ngIf="cycle.userPerfCycleId" [routerLink]="['performance-review',cycle?.userPerfCycleId]">{{cycle.performanceCycleTitle}}</a>
      </td>
      <td>{{cycle?.performanceCycleStartDate | date: 'dd/MM/yyyy'}}</td>
      <td>{{cycle?.performanceCycleEndDate | date: 'dd/MM/yyyy'}}</td>
      <td>{{cycle?.userPerfCycleMidYearStatus == 'Y' ? 'Yes' : 'No'}}</td>
      <td>{{cycle?.userPerfCycleFullYearStatus == 'Y' ? 'Yes' : 'No'}}</td>
      <td>{{cycle?.userPerfCycleStatus?.description}}</td>
      <td>
        <span class="fa fa-trash btn btn-sm btn-outline-danger" (click)="removeCycle(cycle, index)" data-toggle="tooltip"
          title="Delete"></span>
      </td>
    </tr>
  </tbody>
</table>
<button class="btn btn-primary" [routerLink]="['add-performance-cycle']">Add</button>