@import './../../../../_common';
@import './../../../../assets/styles/_lms';
// .content{
//     border-color: $lmsColor;
// }

// thead {
//     background-color: $lmsColor;
//     color: white;
// }

// .btn {
//     &:hover {
//         background-color: $lmsColor;
//     }
// }

// .nav-tabs {
  
//     .nav-link {
//         // border-color: $lmsColor;
//         color:  black;
//         cursor: pointer;
//         &:hover, &.active{
//             color:white !important;
//             background-color: $lmsColor;
//             border-color: $lmsColor;
//         }
       
       
//     }
   
//          border-bottom: none;
    
// }
.badge{
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #777;
    border-radius: 10px;
}