<app-header [module]="module"  class="d-none d-lg-block"></app-header>
<div class="row view">
  <div class="col-lg-2 pl-0 pr-0 d-none d-lg-block side-nav-ams">
    <app-side-nav [thisView]="'equipment'"></app-side-nav>
  </div>
  <div class="col-lg-2 pl-0 pr-0 d-lg-none">
    <app-sm-menu [thisView]="'equipment'"></app-sm-menu>
  </div>
  <div class="col-lg-10 col-sm-12 content">
    <router-outlet></router-outlet>
  </div>
</div>