@import './../../../../_common';
@import './../../../../assets/styles/ams';
.content {
    border-color: $amsColor;
}

thead {
    background-color: $amsColor;
    color: white;
}

.btn {
    &:hover {
        background-color: $amsColor;
    }
}

.nav-tabs {
    border-bottom: 1px solid $amsColor;
    .nav-link {
        border-color: $amsColor;
        color: $amsColor;
        &:hover,
        &.active {
            color: white !important;
            background-color: $amsColor;
            border-color: $amsColor;
        }
    }
}