<h4>
  Course Details
</h4>
<div *ngIf="course">
  <div class="row pb-2">
    <div class="col-sm-12 col-md-3">
      <label>Code</label>
      <input class="form-control" [(ngModel)]="course.courseCode" name="courseid" readonly/>
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Name</label>
      <input class="form-control" [(ngModel)]="course.courseName" name="courseName" readonly/>
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Description</label>
      <input class="form-control" [(ngModel)]="course.courseDescription" readonly/>
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Category</label>
      <input class="form-control" [(ngModel)]="course.courseCategory" name="courseSize" readonly/>
    </div>
  </div>
  <div class="row pb-2">
    <div class="col-sm-12 col-md-3">
      <label>Type</label>
      <input class="form-control" [(ngModel)]="course.courseTypeDescription" name="courseid" readonly/>
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Domain</label>
      <input class="form-control" [(ngModel)]="course.courseDomainDescription" name="courseName" readonly/>
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Duration</label>
      <input class="form-control" [(ngModel)]="course.courseDurationDescription" name="numberOfFloors" readonly/>
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Learning Type</label>
      <input class="form-control" [(ngModel)]="course.learningTypeDescription" name="courseSize" readonly/>
    </div>
  </div>
  <div class="row pb-2">
    <div class="col-sm-12 col-md-3">
      <label>Content Description</label>
      <input class="form-control" [(ngModel)]="course.courseContentDesc" name="courseid" readonly/>
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Venue</label>
      <input class="form-control" [(ngModel)]="course.courseVenue" name="courseName" readonly/>
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Pre-requisite</label>
      <input class="form-control" [(ngModel)]="course.coursePreRequisite" name="numberOfFloors" readonly/>
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Passing Grade</label>
      <input class="form-control" [(ngModel)]="course.coursePassingGrade" name="courseSize" readonly/>
    </div>
  </div>
  <div class="row pb-2">
    <div class="col-sm-12 col-md-3">
      <label>Faculty Phone</label>
      <input class="form-control" [(ngModel)]="course.courseFacultyPhone" name="courseid" readonly/>
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Cost</label>
      <input class="form-control" [value]="course.courseCost | number: '1.2-2'" name="courseCost" readonly/>
    </div>

    <div class="col-sm-12 col-md-3">
      <label>Start Date & Time</label>

      <input class="form-control" [value]="course.courseStartDateTime | date:'dd/MM/yyyy'" name="numberOfFloors" readonly/>
    </div>
    <div class="col-sm-12 col-md-3">
      <label>End Date & Time</label>
      <input class="form-control" [ngModel]="course.courseEndDateTime | date:'dd/MM/yyyy'" name="courseSize" readonly/>
    </div>
  </div>
  <div class="row pb-2">
    <div class="col-sm-12 col-md-3">
      <label>Available Seats</label>
      <input class="form-control" [(ngModel)]="course.courseAvailableSeat" name="courseid" readonly/>
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Days To Complete</label>
      <input class="form-control" [(ngModel)]="course.courseDaysToComplete" name="courseName" readonly/>
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Is People Manager Course?</label>
      <input class="form-control" [(ngModel)]="course.coursePeopleManager" name="numberOfFloors" readonly/>
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Approval Required</label>
      <input class="form-control" [(ngModel)]="course.userCourseApprovalRequired" name="courseSize" readonly/>
    </div>
  </div>
  <br />
  <h4>
    Course Progress
  </h4>

  <div class="row pb-2">
    <div class="col-sm-12 col-md-3">
      <label>Planned Start Date</label>
      <input class="form-control" [value]="course && course.userCoursePlannedStartDate | date:'dd/MM/yyyy'" name="courseid" readonly/>
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Planned End Date</label>
      <input class="form-control" [ngModel]="course && course.userCoursePlannedEndDate | date:'dd/MM/yyyy'" name="courseName" readonly/>
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Actual Start Date & Time</label>
      <input class="form-control" [ngModel]="course && course.userCourseActualStartDateTime | date:'dd/MM/yyyy'" readonly/>
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Actual End Date & Time</label>
      <input class="form-control" [ngModel]="course && course.userCourseActualEndDateTime | date:'dd/MM/yyyy'" name="courseSize"
        readonly/>
    </div>
  </div>
  <div class="row pb-2">
    <div class="col-sm-12 col-md-4">
      <label>Course Approval Status</label>
      <input class="form-control" [(ngModel)]="course && course.userCourseApprovalStatusDescription" name="courseid" readonly/>
    </div>
    <div class="col-sm-12 col-md-4">
      <label>Duration</label>
      <input class="form-control" [(ngModel)]="course && course.courseDuration + ' ' + course.courseDurationCode" name="courseName"
        readonly/>
    </div>

    <div class="col-sm-12 col-md-4">
      <label>Course Progress Status</label>
      <input class="form-control" [(ngModel)]="course && course.userCourseLessonStatus" name="courseSize" readonly/>
    </div>

  </div>
  <div class="row pb-2">

    <div class="col-sm-12 col-md-4">
      <label>Last Accessed</label>
      <input class="form-control" [ngModel]="course && course.userCourseLastUpdatedDateTime | date:'dd/MM/yyyy'" name="courseName"
        readonly/>
    </div>

    <div class="col-sm-12 col-md-4">
      <label>Added Reason</label>
      <textarea class="form-control" [(ngModel)]="course && course.userCourseAddReason" name="courseSize" readonly> </textarea>
    </div>
    <div class="col-sm-12 col-md-4">
      <label>Approved Reason</label>
      <textarea class="form-control" [(ngModel)]="course && course.userCourseAppprovedReason" name="courseid" readonly></textarea>
    </div>
  </div>
  <div class="row pb-2">
    <div class="col-sm-12 col-md-4">
      <label>Score</label>
      <input class="form-control" [value]="course.userCourseRawScore | number: '1.2-2'" name="courseSize" readonly/>
    </div>
    <div class="col-sm-12 col-md-4">
      <label>Rejected Reason</label>
      <textarea class="form-control" [(ngModel)]="course && course.userCourseRejectedReason" name="courseName" readonly></textarea>
    </div>
    <div class="col-sm-12 col-md-4">
      <label>Other Reason</label>
      <textarea class="form-control" [(ngModel)]="course && course.userCourseOtherReason" name="numberOfFloors" readonly> </textarea>
    </div>
    <div class="col-sm-12 pb-2">
      <button class="btn btn-primary" (click)="goBack()">Back</button>
    </div>

  </div>