@import './../../../../_common';
@import './../../../../assets/styles/cms';
.content{
    border-color: $cmsColor;
}

thead {
    background-color: $cmsColor;
    color: white;
}

.btn {
    &:hover {
        background-color: $cmsColor;
    }
}
