<app-header [module] = "'User Management System'" class="d-none d-lg-block"></app-header>
<div class="row view">
  <div class="col-lg-2 pl-0 pr-0 d-none d-lg-block side-nav-lms">
    <app-side-nav [thisView]="'my-addresses'"></app-side-nav>
  </div>
  <div class="col-lg-2 pl-0 pr-0 d-lg-none">
    <app-sm-menu [thisView]="'my-addresses'"></app-sm-menu>
  </div>
  <div class="col-lg-10 col-md-12 content">
    <div class="row">
      <div class="col-md-12">
        <h4>
          <span class="fa fa-address-book"></span> My Addresses</h4>
      </div>
    </div>
    <div *ngFor="let add of userAddresses;let ind = index">
      <div class="row">
        <div class="col-md-4 col-sm-12">
          <label>Organization Name (if any)</label>
          <input [(ngModel)]="add.organizationName" type="text" class="form-control">
        </div>
        <div class="col-md-4 col-sm-12">
          <label>Block #/Name</label>
          <input [(ngModel)]="add.blockNumber" type="text" class="form-control">
        </div>
        <div class="col-md-4 col-sm-12">
          <label>Building Name</label>
          <input [(ngModel)]="add.buildingName" type="text" class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-12 row m-0 ">
          <div class="col-sm-4 p-0">
            <label>Postcode</label>
            <input [(ngModel)]="add.postcode1" type="text" class="form-control">
          </div>
          <div class="col-sm-4 p-0" style="padding-top:32px !important">
            <!-- <label>Post Code 2</label> -->
            <input [(ngModel)]="add.postcode2" type="text" class="form-control">
          </div>
          <div class="col-sm-4 pt-2 pl-0">
            <label class="p-1"></label>
            <button class="btn btn-primary d-block" (click)="lookup('post',add)">
              <span class="fa fa-search"> Lookup</span>
            </button>

          </div>

        </div>
        <div class="col-md-4 col-sm-12">
          <label>Locality Name</label>
          <input [(ngModel)]="add.localityName" type="text" class="form-control">
        </div>
        <div class="col-md-4 col-sm-12">
          <label>City</label>
          <input [(ngModel)]="add.city" type="text" class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-12">
          <label>Door #</label>
          <input [(ngModel)]="add.doorNumber" type="text" class="form-control">
        </div>
        <div class="col-md-4 col-sm-12">
          <label>Apartment #/Name</label>
          <input [(ngModel)]="add.apartmentNumber" type="text" class="form-control">
        </div>
        <div class="col-md-4 col-sm-12">
          <label>Street Name</label>
          <input [(ngModel)]="add.streetName" type="text" class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-12">
          <label>Post Town</label>
          <input [(ngModel)]="add.postTown" type="text" class="form-control">
        </div>
        <div class="col-md-4 col-sm-12">
          <label>County</label>
          <input [(ngModel)]="add.county" type="text" class="form-control">
        </div>
        <div class="col-md-4 col-sm-12">
          <label>Country</label>
          <input [(ngModel)]="add.country" type="text" class="form-control">
        </div>
      </div>
      <div class="row pt-3">
        <div class="col-sm-12">
          <button (click)="updateAddress(add)" class="btn btn-primary">Update</button>
          <button (click)="deleteAddress(add.id,ind)" class="btn btn-primary float-right">Delete</button>
        </div>
      </div>
    </div>

    <hr>
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <label>Organization Name (if any)</label>
        <input [(ngModel)]="newAddress.organizationName" type="text" class="form-control">
      </div>
      <div class="col-md-4 col-sm-12">
        <label>Block #/Name</label>
        <input [(ngModel)]="newAddress.blockNumber" type="text" class="form-control">
      </div>
      <div class="col-md-4 col-sm-12">
        <label>Building Name</label>
        <input [(ngModel)]="newAddress.buildingName" type="text" class="form-control">
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-12 row m-0">
        <div class="col-sm-4 p-0">
          <label>Postcode</label>
          <input [(ngModel)]="newAddress.postcode1" type="text" class="form-control">
        </div>
        <div class="col-sm-4 p-0" style="padding-top:32px !important">
          <!-- <label>Post Code 2</label> -->
          <input [(ngModel)]="newAddress.postcode2" type="text" class="form-control">
        </div>
        <div class="col-sm-4 pt-2 pl-0">
          <label class="p-1"></label>
          <button class="btn btn-primary d-block"  (click)="lookup('post',newAddress)">
            <span class="fa fa-search"> Lookup</span>
          </button>

        </div>
      </div>
      <div class="col-md-4 col-sm-12">
        <label>Locality Name</label>
        <input [(ngModel)]="newAddress.localityName" type="text" class="form-control">
      </div>
      <div class="col-md-4 col-sm-12">
        <label>City</label>
        <input [(ngModel)]="newAddress.city" type="text" class="form-control">
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <label>Door #</label>
        <input [(ngModel)]="newAddress.doorNumber" type="text" class="form-control">
      </div>
      <div class="col-md-4 col-sm-12">
        <label>Apartment #/Name</label>
        <input [(ngModel)]="newAddress.apartmentNumber" type="text" class="form-control">
      </div>
      <div class="col-md-4 col-sm-12">
        <label>Street Name</label>
        <input [(ngModel)]="newAddress.streetName" type="text" class="form-control">
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <label>Post Town</label>
        <input [(ngModel)]="newAddress.postTown" type="text" class="form-control">
      </div>
      <div class="col-md-4 col-sm-12">
        <label>County</label>
        <input [(ngModel)]="newAddress.county" type="text" class="form-control">
      </div>
      <div class="col-md-4 col-sm-12">
        <label>Country</label>
        <input [(ngModel)]="newAddress.country" type="text" class="form-control">
      </div>
    </div>
    <div class="row pt-3">
      <div class="col-sm-12">
        <button class="btn btn-primary" (click)="addAddress()">Add</button>
      </div>
    </div>
  </div>
</div>