<div class="row pr-1 pb-3 pt-3 zero-margin">
    <div class="col-3" style="vertical-align:middle">
        <img src="./assets/images/logo.png" alt="gotorisk.co.uk" class="user-image" />
    </div>
    <div class="col-6" style="vertical-align:middle;">
        <span>{{userDetails.loginId}}</span>
        <br>
        <span class="fa fa-circle text-success"> Online</span>
    </div>
    <div class="col-3">
        <button class="btn float-right btn-info btn-sm" style="vertical-align:middle" (click)="logOut()">
            <span class="fa fa-power-off "></span>
        </button>

    </div>
</div>
<div class="navbar">
    <ul>
        <li [ngClass]="{active:thisView=='profile'}">
            <a [routerLink]="['/ums/profile']" title="">
                <i class="fa fa-user-circle-o"></i> Profile
            </a>
        </li>
        <li [ngClass]="{active:thisView=='update-password'}">
            <a [routerLink]="['/ums/update-password']" title="">
                <i class="fa fa-lock"></i> Update Password
            </a>
        </li>
        <li [ngClass]="{active:thisView=='my-addresses'}">
            <a [routerLink]="['/ums/my-addresses']" title="">
                <i class="fa fa-address-book"></i> My Addresses
            </a>
        </li>
        <li [ngClass]="{active:thisView=='office-address'}">
            <a [routerLink]="['/ums/office-address']" title="">
                <i class="fa fa-address-book-o"></i> Office Address
            </a>
        </li>

        <li [ngClass]="{active:thisView=='organization'}" *ngIf="isSupervisor || isAdmin">
            <a [routerLink]="['/ums/organization']" title="">
                <i class="fa fa-address-book-o"></i> Organization
            </a>
        </li>
        <li [ngClass]="{active:thisView=='department'}" *ngIf="isSupervisor || isAdmin">
            <a [routerLink]="['/ums/department']" title="">
                <i class="fa fa-address-book-o"></i> Department
            </a>
        </li>
        <li [ngClass]="{active:thisView=='roles'}" *ngIf="isSupervisor || isAdmin">
            <a [routerLink]="['/ums/roles']" title="">
                <i class="fa fa-address-book-o"></i> Roles
            </a>
        </li>
        <li [ngClass]="{active:thisView=='manage-users'}" *ngIf="isSupervisor || isAdmin">
            <a [routerLink]="['/ums/manage-users']" title="">
                <i class="fa fa-address-book-o"></i> Manage Users
            </a>
        </li>
        <li [ngClass]="{active:thisView=='manage-teams'}" *ngIf="isSupervisor || isAdmin">
            <a [routerLink]="['/ums/manage-teams']" title="">
                <i class="fa fa-address-book-o"></i> Manage Teams
            </a>
        </li>
        <li [ngClass]="{active:thisView=='manage-templates'}" *ngIf="isSupervisor || isAdmin">
            <a [routerLink]="['/ums/manage-templates']" title="">
                <i class="fa fa-address-book-o"></i> Manage Templates
            </a>
        </li>
        <li [ngClass]="{active:thisView=='reports'}" *ngIf="isSupervisor || isAdmin">
            <a [routerLink]="['/ums/reports']" title="">
                <i class="fa fa-address-book-o"></i> Reports
            </a>
        </li>
    </ul>
</div>