<app-header [module] = "'User Management System'" class="d-none d-lg-block"></app-header>
<div class="row view">
  <div class="col-lg-2 pl-0 pr-0 d-none d-lg-block side-nav-lms">
    <app-side-nav [thisView]="'update-password'"></app-side-nav>
  </div>
  <div class="col-lg-2 pl-0 pr-0 d-lg-none">
    <app-sm-menu [thisView]="'update-password'"></app-sm-menu>
  </div>
  <div class="col-lg-10 col-md-12 content">
    <div class="row">
      <div class="col-md-12">
        <h4>
          <span class="fa fa-eye"></span> Update My Password</h4>
      </div>
    </div>
    <div class=" row">
      <div class="col-sm-6">
        <label>Existing Password:</label>
        <input class="form-control" [(ngModel)]="password.oldPassword" type="password">
      </div>
    </div>

    <div class=" row">
      <div class="col-sm-6">
        <label>New Password:</label>
        <input class="form-control" [(ngModel)]="password.newPassword" type="password">
      </div>
    </div>

    <div class=" row">
      <div class="col-sm-6">
        <label>Confirm Password:</label>
        <input class="form-control" [(ngModel)]="password.reConfirmNewPassword" type="password">
      </div>
    </div>
    <div class="row pt-2">
      <div class="col-sm-6">
        <button class="btn btn-primary" (click)="updatePassword()">Update</button>
        <button class="btn btn-primary" (click)="clear()">Clear</button>
      </div>
    </div>
  </div>
</div>