<nav class="navbar navbar-light bg-light d-lg-none">
    <a class="navbar-brand" href="#">
        <img src="/assets/images/logo@0,5x.png" width="30" height="30" class="d-inline-block align-top" alt=""> GoToRisk
    </a>
    <span class="fa fa-2x fa-bars" (click)="toggleSideNav()"></span>
</nav>
<div class="side-nav" [ngClass]="{'menu-open':menuOpen}">
    <span class="fa fa-close close-btn float-right" (click)="closeMenu()">Close</span>
    <ul class="menu">

        <li>
            <div class="row pr-1 pb-3 pt-3 zero-margin">
                <div class="col-3" style="vertical-align:middle">
                    <img src="./assets/images/logo0.5.jpg" alt="gotorisk.co.uk" class="user-image" />
                </div>
                <div class="col-6" style="vertical-align:middle;">
                    <span>{{userDetails.roles[0].roleName}}</span>
                    <br>
                    <span class="fa fa-circle text-success"> Online</span>
                </div>
                <div class="col-3">
                    <button class="btn float-right btn-info btn-sm" style="vertical-align:middle" (click)="logOut()">
                        <span class="fa fa-power-off "></span>
                    </button>

                </div>
            </div>
        </li>
        <li [ngClass]="{active:thisView=='dashboard'}">
            <a title="" [routerLink]="['/ams/dashboard']">
                <i class="fa fa-tasks"></i> Dashboard
            </a>
        </li>
        <li [ngClass]="{active:thisView=='building'}">
            <a title="" [routerLink]="['/ams/buildings']">
                <i class="fa fa-building"></i> Building
            </a>
        </li>
        <li [ngClass]="{active:thisView=='equipment'}">
            <a title="" [routerLink]="['/ams/equipments']">
                <i class="fa fa-print"></i> Equipment
            </a>
        </li>
        <li [ngClass]="{active:thisView=='vehicle'}">
            <a title="" [routerLink]="['/ams/vehicles']">
                <i class="fa fa-bus"></i> Vehicle
            </a>
        </li>
        <li [ngClass]="{active:thisView=='other'}">
            <a title="" [routerLink]="['/ams/others']">
                <i class="fa fa-folder-open"></i> Other
            </a>
        </li>
    </ul>
</div>