<app-header [module]="module" class="d-none d-lg-block"></app-header>
<div class="row view">
  <div class="col-lg-2 pl-0 pr-0 d-none d-lg-block side-nav-ams">
    <app-side-nav [thisView]="'dashboard'"></app-side-nav>
  </div>
  <div class="col-lg-2 pl-0 pr-0 d-lg-none">
    <app-sm-menu [thisView]="'dashboard'"></app-sm-menu>
  </div>
  <div class="col-lg-10 pl-0 pr-0 col-md-12 content">
    <div class="row  dashboard">
      <div class="col-sm-12 col-md-6 text-center">
        <div class="single-banner">
          <a [routerLink]="['/ams/buildings']">
            <img src="./assets/images/J001654---Icon_Buildings.png" alt="gotorisk.co.uk" />

          </a>
        </div>
        <h4>Building</h4>

      </div>
      <div class="col-sm-12 col-md-6 text-center">
        <div class="single-banner">
          <a [routerLink]="['/ams/equipments']">
            <img src="./assets/images/J001654---Icon_Equipment.png" alt="gotorisk.co.uk" />

          </a>
        </div>
        <h4>Equipment</h4>

      </div>
      <div class="col-sm-12 col-md-6 text-center">
        <div class="single-banner">
          <a [routerLink]="['/ams/vehicles']">
            <img src="./assets/images/J001654---Icon_Vehicle.png" alt="gotorisk.co.uk" />

          </a>
        </div>
        <h4>Vehicle</h4>

      </div>
      <div class="col-sm-12 col-md-6 text-center">
        <div class="single-banner">
          <a [routerLink]="['/ams/others']">
            <img src="./assets/images/J001654---Icon_Other.png" alt="gotorisk.co.uk" />
          </a>
        </div>
        <h4>Other</h4>

      </div>
    </div>
  </div>
</div>