<div class="tab-content">
  <h5>Warranty Details</h5>
  <div class="row pb-2">
    <div class="col-sm-12 col-md-3">
      <label>Warranty #</label>
      <input class="form-control" [(ngModel)]="warranty.warrantyNumber" name="warrantyNumber" />
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Warranty Name</label>
      <input class="form-control" [(ngModel)]="warranty.warrantyName" name="warrantyName" />
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Provided By</label>
      <input class="form-control" [(ngModel)]="warranty.warrantyProvidedBy" name="warrantyProvidedBy" />
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Provider Phone</label>
      <input class="form-control" [(ngModel)]="warranty.warrantyProviderPhone" name="warrantyProviderPhone" />
    </div>
  </div>

  <div class="row pb-2">
    <div class="col-sm-12 col-md-6">
      <label>Warranty Description</label>
      <textarea class="form-control" [(ngModel)]="warranty.warrantyDescription" name="warrantyDescription"></textarea>
    </div>
    <div class="col-sm-12 col-md-6">
      <label>Provider Description</label>
      <textarea class="form-control" [(ngModel)]="warranty.warrantyProviderDescription"
        name="warrantyProviderDescription"></textarea>
    </div>
  </div>

  <div class="row pb-2">
    <div class="col-sm-12 col-md-3">
      <label>Provider Email</label>
      <input class="form-control" [(ngModel)]="warranty.warrantyProviderEmail" name="warrantyProviderEmail" />
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Provider Contact Person</label>
      <input class="form-control" [(ngModel)]="warranty.warrantyProviderContactPerson"
        name="warrantyProviderContactPerson" />
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Provided Date</label>
      <input class="form-control" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1"
        [(ngModel)]="warranty.warrantyProvidedDate" name="warrantyProvidedDate" />
      <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
    </div>
  </div>
  <div class="row pb-2">
    <div class="col-sm-12 col-md-3">
      <label>Start Date Time</label>
      <input class="form-control" [owlDateTime]="dt2" [owlDateTimeTrigger]="dt2"
        [(ngModel)]="warranty.warrantyStartDateTime" name="warrantywarrantyStartDateTime" />
      <owl-date-time [pickerType]="'both'" [showSecondsTimer]="true" #dt2></owl-date-time>
    </div>
    <div class="col-sm-12 col-md-3">
      <label>End Date Time</label>
      <input class="form-control" [owlDateTime]="dt3" [owlDateTimeTrigger]="dt3"
        [(ngModel)]="warranty.warrantyEndDateTime" name="warrantyEndDateTime" />
      <owl-date-time [pickerType]="'both'" [showSecondsTimer]="true" #dt3></owl-date-time>
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Grace Date Time</label>
      <input class="form-control" [owlDateTime]="dt4" [owlDateTimeTrigger]="dt4"
        [(ngModel)]="warranty.warrantyGraceDateTime" name="warrantyGraceDateTime" />
      <owl-date-time [pickerType]="'both'" [showSecondsTimer]="true" #dt4></owl-date-time>
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Grace Period In Months</label>
      <input class="form-control" type="number" [(ngModel)]="warranty.gracePeriodInMonths" name="gracePeriodInMonths" />
    </div>
  </div>


  <div class="row pb-2">
    <div class="col-sm-12 col-md-3">
      <label>Amount</label>
      <input class="form-control" [(ngModel)]="warranty.warrantyAmount" name="warrantyAmount" />
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Renewal Date</label>
      <input class="form-control" [owlDateTime]="dt5" [owlDateTimeTrigger]="dt5"
        [(ngModel)]="warranty.warrantyRenewalDate" name="warrantyRenewalDate" />
      <owl-date-time [pickerType]="'both'" #dt5></owl-date-time>
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Renewal Amount</label>
      <input class="form-control" [(ngModel)]="warranty.warrantyRenewalAmount" name="warrantyRenewalAmount" />
    </div>
  </div>

  <div class="row pb-2">
    <div class="col-sm-12">
      <label>Comments</label>
      <textarea class="form-control" [(ngModel)]="warranty.comments" name="comments"></textarea>
    </div>
  </div>
  <div class="row pb-2">
    <div class="col-6">
      <button class="btn btn-primary" (click)="save()">{{editMode?'Update':'Save'}}</button>
    </div>
    <div class="col-6">
      <button class="btn btn-success float-right" data-toggle="modal" data-target="#lookUp">Lookup</button>
    </div>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Warranty #</th>
        <th>Provided By</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Amount</th>
        <th>Renewal Date</th>
        <th>Renewal Amount</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let warranty of asset.warrantyAgreements">
        <td>
          {{warranty.warrantyNumber}}
        </td>
        <td>
          {{warranty.warrantyName}}
        </td>
        <td>
          {{warranty.warrantyStartDateTime | date:'dd/MM/yyyy HH:mm:ss'}}
        </td>
        <td>
          {{warranty.warrantyEndDateTime | date:'dd/MM/yyyy HH:mm:ss'}}
        </td>
        <td>
          {{warranty.warrantyAmount}}
        </td>
        <td>
          {{warranty.warrantyRenewalDate | date:'dd/MM/yyyy'}}
        </td>
        <td>
          {{warranty.warrantyRenewalAmount}}
        </td>
        <td>
          <span class="fa fa-pencil btn btn-sm btn-outline-primary" (click)="editWarranty(warranty)"></span>
          <span class="fa fa-trash btn btn-sm btn-outline-danger" (click)="removeWarrantyFromAsset(warranty)"></span>
        </td>
      </tr>
    </tbody>
  </table>
  <app-supporting-documents [docsObject]="warranty" [addTo]="'warranty'"></app-supporting-documents>
  <div class="modal" tabindex="-1" role="dialog" id="lookUp">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title">Warranty Lookup</h6>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-12 col-md-3">
              <label>Warranty #</label>
            </div>
            <div class="col-sm-12 col-md-4">
              <input class="form-control" [(ngModel)]="lookupOptions.warrantyNumber.value"
                (change)="lookupFieldChange(lookupOptions.warrantyNumber)" />
            </div>
            <div class="col-sm-12 col-md-3">
              <select class="form-control" (change)="lookupFieldChange(lookupOptions.warrantyNumber)"
                [(ngModel)]="lookupOptions.warrantyNumber.operator">
                <option value="EQ">Equals</option>
                <option value="NEQ">Not equals</option>
                <option value="STARTS_WITH">Starts With</option>
                <option value="ENDS_WITH">Ends With</option>
                <option value="CONTAINS">Contains</option>
                <option value="NOT_CONTAINS">not Contains</option>
              </select>
            </div>
            <div class="col-sm-12 col-md-2">
              <span>
                <input type="checkbox" [(ngModel)]="lookupOptions.warrantyNumber.sort"
                  (change)="lookupSortChange(lookupOptions.warrantyNumber)"> Sort
              </span>
              <select class="form-control d-inline w-50" (change)="lookupSortChange(lookupOptions.warrantyNumber)"
                [(ngModel)]="lookupOptions.warrantyNumber.order">
                <option value="ASC">ASC</option>
                <option value="DESC">DESC</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-3">
              <label>Warranty Name</label>
            </div>
            <div class="col-sm-12 col-md-4">
              <input class="form-control" [(ngModel)]="lookupOptions.warrantyName.value"
                (change)="lookupFieldChange(lookupOptions.warrantyName)" />
            </div>
            <div class="col-sm-12 col-md-3">
              <select class="form-control" (change)="lookupFieldChange(lookupOptions.warrantyName)"
                [(ngModel)]="lookupOptions.warrantyName.operator">
                <option value="EQ">Equals</option>
                <option value="NEQ">Not equals</option>
                <option value="STARTS_WITH">Starts With</option>
                <option value="ENDS_WITH">Ends With</option>
                <option value="CONTAINS">Contains</option>
                <option value="NOT_CONTAINS">not Contains</option>
              </select>
            </div>
            <div class="col-sm-12 col-md-2">
              <span>
                <input type="checkbox" [(ngModel)]="lookupOptions.warrantyName.sort"
                  (change)="lookupSortChange(lookupOptions.warrantyName)"> Sort
              </span>
              <select class="form-control d-inline w-50" (change)="lookupSortChange(lookupOptions.warrantyName)"
                [(ngModel)]="lookupOptions.warrantyName.order">
                <option value="ASC">ASC</option>
                <option value="DESC">DESC</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-3">
              <label>Warranty Description</label>
            </div>
            <div class="col-sm-12 col-md-4">
              <input class="form-control" [(ngModel)]="lookupOptions.warrantyDescription.value"
                (change)="lookupFieldChange(lookupOptions.warrantyDescription)" />
            </div>
            <div class="col-sm-12 col-md-3">
              <select class="form-control" (change)="lookupFieldChange(lookupOptions.warrantyDescription)"
                [(ngModel)]="lookupOptions.warrantyDescription.operator">
                <option value="EQ">Equals</option>
                <option value="NEQ">Not equals</option>
                <option value="STARTS_WITH">Starts With</option>
                <option value="ENDS_WITH">Ends With</option>
                <option value="CONTAINS">Contains</option>
                <option value="NOT_CONTAINS">not Contains</option>
              </select>
            </div>
            <div class="col-sm-12 col-md-2">
              <span>
                <input type="checkbox" [(ngModel)]="lookupOptions.warrantyDescription.sort"
                  (change)="lookupSortChange(lookupOptions.warrantyDescription)"> Sort
              </span>
              <select class="form-control d-inline w-50" (change)="lookupSortChange(lookupOptions.warrantyDescription)"
                [(ngModel)]="lookupOptions.warrantyDescription.order">
                <option value="ASC">ASC</option>
                <option value="DESC">DESC</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-3">
              <label>Provided By</label>
            </div>
            <div class="col-sm-12 col-md-4">
              <input class="form-control" [(ngModel)]="lookupOptions.warrantyProvidedBy.value"
                (change)="lookupFieldChange(lookupOptions.warrantyProvidedBy)" />
            </div>
            <div class="col-sm-12 col-md-3">
              <select class="form-control" (change)="lookupFieldChange(lookupOptions.warrantyProvidedBy)"
                [(ngModel)]="lookupOptions.warrantyProvidedBy.operator">
                <option value="EQ">Equals</option>
                <option value="NEQ">Not equals</option>
                <option value="STARTS_WITH">Starts With</option>
                <option value="ENDS_WITH">Ends With</option>
                <option value="CONTAINS">Contains</option>
                <option value="NOT_CONTAINS">Not Contains</option>
              </select>
            </div>
            <div class="col-sm-12 col-md-2">
              <span>
                <input type="checkbox" [(ngModel)]="lookupOptions.warrantyProvidedBy.sort"
                  (change)="lookupSortChange(lookupOptions.warrantyProvidedBy)"> Sort
              </span>
              <select class="form-control d-inline w-50" (change)="lookupSortChange(lookupOptions.warrantyProvidedBy)"
                [(ngModel)]="lookupOptions.warrantyProvidedBy.order">
                <option value="ASC">ASC</option>
                <option value="DESC">DESC</option>
              </select>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12 col-md-3">
              <label>Provider Description</label>
            </div>
            <div class="col-sm-12 col-md-4">
              <input class="form-control" [(ngModel)]="lookupOptions.warrantyProviderDescription.value"
                (change)="lookupFieldChange(lookupOptions.warrantyProviderDescription)" />
            </div>
            <div class="col-sm-12 col-md-3">
              <select class="form-control" (change)="lookupFieldChange(lookupOptions.warrantyProviderDescription)"
                [(ngModel)]="lookupOptions.warrantyProviderDescription.operator">
                <option value="EQ">Equals</option>
                <option value="NEQ">Not equals</option>
                <option value="STARTS_WITH">Starts With</option>
                <option value="ENDS_WITH">Ends With</option>
                <option value="CONTAINS">Contains</option>
                <option value="NOT_CONTAINS">Not Contains</option>
              </select>
            </div>
            <div class="col-sm-12 col-md-2">
              <span>
                <input type="checkbox" [(ngModel)]="lookupOptions.warrantyProviderDescription.sort"
                  (change)="lookupSortChange(lookupOptions.warrantyProviderDescription)"> Sort
              </span>
              <select class="form-control d-inline w-50"
                (change)="lookupSortChange(lookupOptions.warrantyProviderDescription)"
                [(ngModel)]="lookupOptions.warrantyProviderDescription.order">
                <option value="ASC">ASC</option>
                <option value="DESC">DESC</option>
              </select>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12 col-md-3">
              <label>Contact Person</label>
            </div>
            <div class="col-sm-12 col-md-4">
              <input class="form-control" [(ngModel)]="lookupOptions.warrantyProviderContactPerson.value"
                (change)="lookupFieldChange(lookupOptions.warrantyProviderContactPerson)" />
            </div>
            <div class="col-sm-12 col-md-3">
              <select class="form-control" (change)="lookupFieldChange(lookupOptions.warrantyProviderContactPerson)"
                [(ngModel)]="lookupOptions.warrantyProviderContactPerson.operator">
                <option value="EQ">Equals</option>
                <option value="NEQ">Not equals</option>
                <option value="GT"> Greater than</option>
                <option value="LT">Less than</option>
              </select>
            </div>
            <div class="col-sm-12 col-md-2">
              <span>
                <input type="checkbox" [(ngModel)]="lookupOptions.warrantyProviderContactPerson.sort"
                  (change)="lookupSortChange(lookupOptions.warrantyProviderContactPerson)"> Sort
              </span>
              <select class="form-control d-inline w-50"
                (change)="lookupSortChange(lookupOptions.warrantyProviderContactPerson)"
                [(ngModel)]="lookupOptions.warrantyProviderContactPerson.order">
                <option value="ASC">ASC</option>
                <option value="DESC">DESC</option>
              </select>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12 col-md-3">
              <label>Start Date Time</label>
            </div>
            <div class="col-sm-12 col-md-4">
              <input class="form-control" [owlDateTime]="dtdt" [owlDateTimeTrigger]="dtdt"
                [(ngModel)]="lookupOptions.warrantyStartDateTime.value"
                (dateTimeChange)="lookupFieldChange(lookupOptions.warrantyStartDateTime)" />
              <owl-date-time [pickerType]="'both'" [showSecondsTimer]="true" #dtdt></owl-date-time>
            </div>
            <div class="col-sm-12 col-md-3">
              <select class="form-control" (change)="lookupFieldChange(lookupOptions.warrantyStartDateTime)"
                [(ngModel)]="lookupOptions.warrantyStartDateTime.operator">
                <option value="EQ">Equals</option>
                <option value="NEQ">Not equals</option>
                <option value="GT"> Greater than</option>
                <option value="LT">Less than</option>
              </select>
            </div>
            <div class="col-sm-12 col-md-2">
              <span>
                <input type="checkbox" [(ngModel)]="lookupOptions.warrantyStartDateTime.sort"
                  (change)="lookupSortChange(lookupOptions.warrantyStartDateTime)"> Sort
              </span>
              <select class="form-control d-inline w-50"
                (change)="lookupSortChange(lookupOptions.warrantyStartDateTime)"
                [(ngModel)]="lookupOptions.warrantyStartDateTime.order">
                <option value="ASC">ASC</option>
                <option value="DESC">DESC</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-3">
              <label>End Date Time</label>
            </div>
            <div class="col-sm-12 col-md-4">
              <input class="form-control" [owlDateTime]="dtd" [owlDateTimeTrigger]="dtd"
                [(ngModel)]="lookupOptions.warrantyEndDateTime.value"
                (dateTimeChange)="lookupFieldChange(lookupOptions.warrantyEndDateTime)" />
              <owl-date-time [pickerType]="'both'" [showSecondsTimer]="true" #dtd></owl-date-time>
            </div>
            <div class="col-sm-12 col-md-3">
              <select class="form-control" (change)="lookupFieldChange(lookupOptions.endDateTime)"
                [(ngModel)]="lookupOptions.warrantyEndDateTime.operator">
                <option value="EQ">Equals</option>
                <option value="NEQ">Not equals</option>
                <option value="GT"> Greater than</option>
                <option value="LT">Less than</option>
              </select>
            </div>
            <div class="col-sm-12 col-md-2">
              <span>
                <input type="checkbox" [(ngModel)]="lookupOptions.warrantyEndDateTime.sort"
                  (change)="lookupSortChange(lookupOptions.warrantyEndDateTime)"> Sort
              </span>
              <select class="form-control d-inline w-50" (change)="lookupSortChange(lookupOptions.warrantyEndDateTime)"
                [(ngModel)]="lookupOptions.warrantyEndDateTime.order">
                <option value="ASC">ASC</option>
                <option value="DESC">DESC</option>
              </select>
            </div>
          </div>

          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>Warranty #</th>
                <th>Provided By</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Amount</th>
                <th>Renewal Date</th>
                <th>Renewal Amount</th>
                <th></th>
              </tr>
            </thead>
            <tbody *ngIf="lookupItems">
              <tr *ngFor="let warranty of lookupItems.warranties">
                <td>
                  {{warranty.warrantyNumber}}
                </td>
                <td>
                  {{warranty.warrantyName}}
                </td>
                <td>
                  {{warranty.warrantyStartDateTime | date:'dd/MM/yyyy HH:mm:ss'}}
                </td>
                <td>
                  {{warranty.warrantyEndDateTime | date:'dd/MM/yyyy HH:mm:ss'}}
                </td>
                <td>
                  {{warranty.warrantyAmount}}
                </td>
                <td>
                  {{warranty.warrantyRenewalDate | date:'dd/MM/yyyy'}}
                </td>
                <td>
                  {{warranty.warrantyRenewalAmount}}
                </td>
                <td><span class="fa fa-plus btn btn-sm btn-outline-danger"
                    (click)="addExistingWarrantyToAsset(warranty)"></span></td>
              </tr>
            </tbody>
          </table>
          <ng-pagination *ngIf="lookupItems" [itemsCount]="lookupItems.totalRecords" [pageSize]="10"
            (getPageData)="lookupWarranty($event)"></ng-pagination>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary float-right" (click)="lookupWarranty()">Search</button>
          <button type="button" (click)="initLookupParams()" class="btn btn-primary">Clear</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>