<h5>Give Feedback</h5>
<table class="table table-bordered">
  <tbody>
    <tr>
      <td>Title</td>
      <td>{{feedbackData?.performanceCycleTitle}}</td>
    </tr>
    <tr>
      <td>Start Date</td>
      <td>{{feedbackData?.performanceCycleStartDate | date:'dd/MM/yyyy'}}</td>
    </tr>
    <tr>
      <td>End Date</td>
      <td>{{feedbackData?.performanceCycleEndDate | date:'dd/MM/yyyy'}}</td>
    </tr>
    <tr>
      <td>Requested By</td>
      <td>{{feedbackData?.feedbackRequestedBy}}</td>
    </tr>
    <tr>
      <td>Requestor Comments</td>
      <td>{{feedbackData?.requestorComments}}</td>
    </tr>
  </tbody>
</table>
<div class="row">
  <div class="col-sm-12">
    <label>Given By:</label>
    <span>{{loggedInUser.fullName}}</span>
  </div>

</div>
<div class="row">
  <div class="col-sm-12">
    <label>Given Date:</label>
    <span>{{feedback?.feedbackGivenDate | date: 'dd/MM/yyyy'}}</span>
  </div>

</div>
<div class="row">
  <div class="col-sm-12">
    <label>Comments:</label>
    <textarea class="form-control" [(ngModel)]="feedback.feedbackComments"></textarea>
  </div>
</div>
<div class="row mt-3">
  <div class="col-sm-12">
    <button class="btn btn-primary" (click)="gievFeedback()">Send</button>
    <button class="btn btn-secondary float-right" (click)="clear()">Clear</button>
  </div>
</div>