<nav class="navbar navbar-light bg-light d-lg-none">
  <a class="navbar-brand" href="#">
    <img src="assets/images/logo0.5.jpg" width="30" height="30" class="d-inline-block align-top" alt=""> GotoRisk
  </a>
  <span class="fa fa-2x fa-bars" (click)="toggleSideNav()"></span>
</nav>
<div class="side-nav" [ngClass]="{'menu-open':menuOpen}">
  <span class="fa fa-close close-btn float-right" (click)="closeMenu()">Close</span>
  <ul class="menu">
    <li>
      <div class="row pr-1 pb-3 pt-3 zero-margin">
        <div class="col-3" style="vertical-align:middle">
          <img src="assets/images/logo0.5.jpg" alt="gotorisk.co.uk" class="user-image" />
        </div>
        <div class="col-6" style="vertical-align:middle;">
          <span>{{userDetails.loginId}}</span>
          <br>
          <span class="fa fa-circle text-success"> Online</span>
        </div>
        <div class="col-3">
          <button class="btn float-right btn-info btn-sm" style="vertical-align:middle" (click)="logOut()">
            <span class="fa fa-power-off "></span>
          </button>

        </div>
      </div>
    </li>
    <li [ngClass]="{active:thisView=='dashboard'}">
      <a [routerLink]="['/pms/dashboard']" title="">
        <i class="fa fa-tasks"></i> Dashboard
      </a>
    </li>
    <li [ngClass]="{active:thisView=='admin'}" *ngIf="isAdmin">
      <a [routerLink]="['/pms/admin']" title="">
        <i class="fa fa-lock"></i> Admin
      </a>
    </li>
    <li [ngClass]="{active:thisView=='manager'}" *ngIf="isSupervisor">
      <a [routerLink]="['/pms/manager']" title="">
        <i class="fa fa-users"></i> Manager
      </a>
    </li>
    <li [ngClass]="{active:thisView=='employee'}">
      <a [routerLink]="['/pms/employee']" title="">
        <i class="fa fa-user"></i> Employee
      </a>
    </li>
    <li [ngClass]="{active:thisView=='feedback'}">
        <a [routerLink]="['/pms/feedback']" title="">
          <i class="fa fa-commenting-o"></i> Feedback
        </a>
      </li>
  </ul>
</div>