<div class="tab-content">
  <h5>Rent/Lease Details</h5>
  <div class="row pb-2">
    <div class="col-sm-12 col-md-3">
      <label>Agreement ID</label>
      <input class="form-control" [(ngModel)]="rent.agreementId" name="agreementId" />
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Agreement Name</label>
      <input class="form-control" [(ngModel)]="rent.agreementName" name="agreementName" />
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Company Name</label>
      <input class="form-control" [(ngModel)]="rent.companyName" name="companyName" />
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Company Phone</label>
      <input class="form-control" [(ngModel)]="rent.companyPhone" name="companyPhone" />
    </div>
  </div>
  <div class="row pb-2">
    <div class="col-sm-12 col-md-6">
      <label>Rental or Lease Type</label>
      <select class="form-control" [compareWith]="selectCompareFunction" [(ngModel)]="rent.rentalOrLeaseType"
        name="rentalOrLeaseType">
        <option [ngValue]="null"></option>
        <option *ngFor="let type of dropDownsData.rentOrLeaseTypeList" [ngValue]="type">{{type.description}}</option>
      </select>
    </div>
    <div class="col-sm-12 col-md-6">
      <label>If Others, Specify</label>
      <input disabled class="form-control" [disabled]="!rent.rentalOrLeaseType || rent.rentalOrLeaseType.id != 'OTHER'"
        [(ngModel)]="rent.rentalOrLeaseTypeOther" name="rentalOrLeaseTypeOther" />
    </div>
  </div>

  <div class="row pb-2">
    <div class="col-sm-12 col-md-6">
      <label>Agreement Description</label>
      <textarea class="form-control" [(ngModel)]="rent.agreementDescription" name="agreementDescription"></textarea>
    </div>
    <div class="col-sm-12 col-md-6">
      <label>Company Description</label>
      <textarea class="form-control" [(ngModel)]="rent.companyDescription" name="companyDescription"></textarea>
    </div>
  </div>

  <div class="row pb-2">
    <div class="col-sm-12 col-md-3">
      <label>Company Email</label>
      <input class="form-control" [(ngModel)]="rent.companyEmail" name="companyEmail" />
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Contact Person Name</label>
      <input class="form-control" [(ngModel)]="rent.companyContactPerson" name="companyContactPerson" />
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Start Date Time</label>
      <input class="form-control" [owlDateTime]="dt3" [owlDateTimeTrigger]="dt3" [(ngModel)]="rent.startDateTime"
        name="startDateTime" />
      <owl-date-time [pickerType]="'both'" [showSecondsTimer]="true" #dt3></owl-date-time>
    </div>
    <div class="col-sm-12 col-md-3">
      <label>End Date Time</label>
      <input class="form-control" [owlDateTime]="dt2" [owlDateTimeTrigger]="dt2" [(ngModel)]="rent.endDateTime"
        name="endDateTime" />
      <owl-date-time [pickerType]="'both'" [showSecondsTimer]="true" #dt2></owl-date-time>
    </div>
  </div>


  <div class="row pb-2">
    <div class="col-sm-12 col-md-3">
      <label>Amount</label>
      <input class="form-control" [(ngModel)]="rent.agreementAmount" name="agreementAmount" />
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Renewal Amount</label>
      <input class="form-control" [(ngModel)]="rent.renewalAmount" name="renewalAmount" />
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Grace Date Time</label>
      <input class="form-control" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" [(ngModel)]="rent.graceDateTime"
        name="graceDateTime" />
      <owl-date-time [pickerType]="'both'" [showSecondsTimer]="true" #dt1></owl-date-time>
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Grace Period In Months</label>
      <input class="form-control" type="number" [(ngModel)]="rent.gracePeriodInMonths" name="gracePeriodInMonths" />
    </div>
  </div>
  <div class="row pb-2">
    <div class="col-sm-12">
      <label>Comments</label>
      <textarea class="form-control" [(ngModel)]="rent.comments" name="comments"></textarea>
    </div>
  </div>
  <div class="row pb-2">
    <div class="col-6">
      <button class="btn btn-primary" (click)="save()">{{editMode?'Update':'Save'}}</button>
    </div>
    <div class="col-6">
      <button class="btn btn-success float-right" data-toggle="modal" data-target="#lookUp">Lookup</button>
    </div>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Agreement ID</th>
        <th>Name</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Amount</th>
        <th>Rental/Lease Type</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rol of asset.rentalOrLeaseAgreements">
        <td>
          {{rol.agreementId}}
        </td>
        <td>
          {{rol.agreementName}}
        </td>
        <td>
          {{rol.startDateTime | date:'dd/MM/yyyy HH:mm:ss'}}
        </td>
        <td>
          {{rol.endDateTime | date:'dd/MM/yyyy HH:mm:ss'}}
        </td>
        <td>
          {{rol.agreementAmount}}
        </td>
        <td>
          {{rol.rentalOrLeaseType?.description}}
        </td>
        <td>
          <!-- <span class="fa fa-pencil btn btn-sm btn-outline-primary" (click)="editRentOrLease(rol)"></span>
          <span class="fa fa-trash btn btn-sm btn-outline-dangerr" (click)="removeRentOrLeaseFromAsset(rol)"></span> -->

          <span class="fa fa-pencil btn btn-sm btn-outline-primary" (click)="editRentOrLease(rol)"></span>
          <span class="fa fa-trash btn btn-sm btn-outline-danger" (click)="removeRentOrLeaseFromAsset(rol)"></span>
        </td>
      </tr>
    </tbody>
  </table>
  <app-supporting-documents [docsObject]="rent" [addTo]="'rental-or-lease'"></app-supporting-documents>
  <div class="modal" tabindex="-1" role="dialog" id="lookUp">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title">Rent or Lease Lookup</h6>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-12 col-md-3">
              <label>Agreement ID</label>
            </div>
            <div class="col-sm-12 col-md-4">
              <input class="form-control" [(ngModel)]="lookupOptions.agreementId.value"
                (change)="lookupFieldChange(lookupOptions.agreementId)" />
            </div>
            <div class="col-sm-12 col-md-3">
              <select class="form-control" (change)="lookupFieldChange(lookupOptions.agreementId)"
                [(ngModel)]="lookupOptions.agreementId.operator">
                <option value="EQ">Equals</option>
                <option value="NEQ">Not equals</option>
                <option value="STARTS_WITH">Starts With</option>
                <option value="ENDS_WITH">Ends With</option>
                <option value="CONTAINS">Contains</option>
                <option value="NOT_CONTAINS">not Contains</option>
              </select>
            </div>
            <div class="col-sm-12 col-md-2">
              <span>
                <input type="checkbox" [(ngModel)]="lookupOptions.agreementId.sort"
                  (change)="lookupSortChange(lookupOptions.agreementId)"> Sort
              </span>
              <select class="form-control d-inline w-50" (change)="lookupSortChange(lookupOptions.agreementId)"
                [(ngModel)]="lookupOptions.agreementId.order">
                <option value="ASC">ASC</option>
                <option value="DESC">DESC</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-3">
              <label>Agreement Name</label>
            </div>
            <div class="col-sm-12 col-md-4">
              <input class="form-control" [(ngModel)]="lookupOptions.agreementName.value"
                (change)="lookupFieldChange(lookupOptions.agreementName)" />
            </div>
            <div class="col-sm-12 col-md-3">
              <select class="form-control" (change)="lookupFieldChange(lookupOptions.agreementName)"
                [(ngModel)]="lookupOptions.agreementName.operator">
                <option value="EQ">Equals</option>
                <option value="NEQ">Not equals</option>
                <option value="STARTS_WITH">Starts With</option>
                <option value="ENDS_WITH">Ends With</option>
                <option value="CONTAINS">Contains</option>
                <option value="NOT_CONTAINS">not Contains</option>
              </select>
            </div>
            <div class="col-sm-12 col-md-2">
              <span>
                <input type="checkbox" [(ngModel)]="lookupOptions.agreementName.sort"
                  (change)="lookupSortChange(lookupOptions.agreementName)"> Sort
              </span>
              <select class="form-control d-inline w-50" (change)="lookupSortChange(lookupOptions.agreementName)"
                [(ngModel)]="lookupOptions.agreementName.order">
                <option value="ASC">ASC</option>
                <option value="DESC">DESC</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-3">
              <label>Agreement Description</label>
            </div>
            <div class="col-sm-12 col-md-4">
              <input class="form-control" [(ngModel)]="lookupOptions.agreementDescription.value"
                (change)="lookupFieldChange(lookupOptions.agreementDescription)" />
            </div>
            <div class="col-sm-12 col-md-3">
              <select class="form-control" (change)="lookupFieldChange(lookupOptions.agreementDescription)"
                [(ngModel)]="lookupOptions.agreementDescription.operator">
                <option value="EQ">Equals</option>
                <option value="NEQ">Not equals</option>
                <option value="STARTS_WITH">Starts With</option>
                <option value="ENDS_WITH">Ends With</option>
                <option value="CONTAINS">Contains</option>
                <option value="NOT_CONTAINS">not Contains</option>
              </select>
            </div>
            <div class="col-sm-12 col-md-2">
              <span>
                <input type="checkbox" [(ngModel)]="lookupOptions.agreementDescription.sort"
                  (change)="lookupSortChange(lookupOptions.agreementDescription)"> Sort
              </span>
              <select class="form-control d-inline w-50" (change)="lookupSortChange(lookupOptions.agreementDescription)"
                [(ngModel)]="lookupOptions.agreementDescription.order">
                <option value="ASC">ASC</option>
                <option value="DESC">DESC</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-3">
              <label>Company Name</label>
            </div>
            <div class="col-sm-12 col-md-4">
              <input class="form-control" [(ngModel)]="lookupOptions.companyName.value"
                (change)="lookupFieldChange(lookupOptions.companyName)" />
            </div>
            <div class="col-sm-12 col-md-3">
              <select class="form-control" (change)="lookupFieldChange(lookupOptions.companyName)"
                [(ngModel)]="lookupOptions.companyName.operator">
                <option value="EQ">Equals</option>
                <option value="NEQ">Not equals</option>
                <option value="STARTS_WITH">Starts With</option>
                <option value="ENDS_WITH">Ends With</option>
                <option value="CONTAINS">Contains</option>
                <option value="NOT_CONTAINS">Not Contains</option>
              </select>
            </div>
            <div class="col-sm-12 col-md-2">
              <span>
                <input type="checkbox" [(ngModel)]="lookupOptions.companyName.sort"
                  (change)="lookupSortChange(lookupOptions.companyName)"> Sort
              </span>
              <select class="form-control d-inline w-50" (change)="lookupSortChange(lookupOptions.companyName)"
                [(ngModel)]="lookupOptions.companyName.order">
                <option value="ASC">ASC</option>
                <option value="DESC">DESC</option>
              </select>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12 col-md-3">
              <label>Contact Person</label>
            </div>
            <div class="col-sm-12 col-md-4">
              <input class="form-control" [(ngModel)]="lookupOptions.companyContactPerson.value"
                (change)="lookupFieldChange(lookupOptions.companyContactPerson)" />
            </div>
            <div class="col-sm-12 col-md-3">
              <select class="form-control" (change)="lookupFieldChange(lookupOptions.companyContactPerson)"
                [(ngModel)]="lookupOptions.companyContactPerson.operator">
                <option value="EQ">Equals</option>
                <option value="NEQ">Not equals</option>
                <option value="STARTS_WITH">Starts With</option>
                <option value="ENDS_WITH">Ends With</option>
                <option value="CONTAINS">Contains</option>
                <option value="NOT_CONTAINS">Not Contains</option>
              </select>
            </div>
            <div class="col-sm-12 col-md-2">
              <span>
                <input type="checkbox" [(ngModel)]="lookupOptions.companyContactPerson.sort"
                  (change)="lookupSortChange(lookupOptions.companyContactPerson)"> Sort
              </span>
              <select class="form-control d-inline w-50" (change)="lookupSortChange(lookupOptions.companyContactPerson)"
                [(ngModel)]="lookupOptions.companyContactPerson.order">
                <option value="ASC">ASC</option>
                <option value="DESC">DESC</option>
              </select>
            </div>
          </div>


          <div class="row">
            <div class="col-sm-12 col-md-3">
              <label>Start Date Time</label>
            </div>
            <div class="col-sm-12 col-md-4">
              <input class="form-control" [owlDateTime]="dtdt" [owlDateTimeTrigger]="dtdt"
                [(ngModel)]="lookupOptions.startDateTime.value"
                (dateTimeChange)="lookupFieldChange(lookupOptions.startDateTime)" />
              <owl-date-time [pickerType]="'both'" [showSecondsTimer]="true" #dtdt></owl-date-time>
            </div>
            <div class="col-sm-12 col-md-3">
              <select class="form-control" (change)="lookupFieldChange(lookupOptions.startDateTime)"
                [(ngModel)]="lookupOptions.startDateTime.operator">
                <option value="EQ">Equals</option>
                <option value="NEQ">Not equals</option>
                <option value="GT"> Greater than</option>
                <option value="LT">Less than</option>
              </select>
            </div>
            <div class="col-sm-12 col-md-2">
              <span>
                <input type="checkbox" [(ngModel)]="lookupOptions.startDateTime.sort"
                  (change)="lookupSortChange(lookupOptions.startDateTime)"> Sort
              </span>
              <select class="form-control d-inline w-50" (change)="lookupSortChange(lookupOptions.startDateTime)"
                [(ngModel)]="lookupOptions.startDateTime.order">
                <option value="ASC">ASC</option>
                <option value="DESC">DESC</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-3">
              <label>End Date Time</label>
            </div>
            <div class="col-sm-12 col-md-4">
              <input class="form-control" [owlDateTime]="dtd" [owlDateTimeTrigger]="dtd"
                [(ngModel)]="lookupOptions.endDateTime.value"
                (dateTimeChange)="lookupFieldChange(lookupOptions.endDateTime)" />
              <owl-date-time [pickerType]="'both'" [showSecondsTimer]="true" #dtd></owl-date-time>
            </div>
            <div class="col-sm-12 col-md-3">
              <select class="form-control" (change)="lookupFieldChange(lookupOptions.endDateTime)"
                [(ngModel)]="lookupOptions.endDateTime.operator">
                <option value="EQ">Equals</option>
                <option value="NEQ">Not equals</option>
                <option value="GT"> Greater than</option>
                <option value="LT">Less than</option>
              </select>
            </div>
            <div class="col-sm-12 col-md-2">
              <span>
                <input type="checkbox" [(ngModel)]="lookupOptions.endDateTime.sort"
                  (change)="lookupSortChange(lookupOptions.endDateTime)"> Sort
              </span>
              <select class="form-control d-inline w-50" (change)="lookupSortChange(lookupOptions.endDateTime)"
                [(ngModel)]="lookupOptions.endDateTime.order">
                <option value="ASC">ASC</option>
                <option value="DESC">DESC</option>
              </select>
            </div>
          </div>
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>Agreement ID</th>
                <th>Name</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Amount</th>
                <th>Rental/Lease Type</th>
                <th></th>
              </tr>
            </thead>
            <tbody *ngIf="lookupItems">
              <tr *ngFor="let rol of lookupItems.rentalOrLeaseAgreements">
                <td>
                  {{rol.agreementId}}
                </td>
                <td>
                  {{rol.agreementName}}
                </td>
                <td>
                  {{rol.startDateTime | date:'dd/MM/yyyy HH:mm:ss'}}
                </td>
                <td>
                  {{rol.endDateTime | date:'dd/MM/yyyy HH:mm:ss'}}
                </td>
                <td>
                  {{rol.agreementAmount}}
                </td>
                <td>
                  {{rol.rentalOrLeaseType?.description}}
                </td>
                <td>
                  <span class="fa fa-plus btn btn-sm btn-outline-danger"
                    (click)="addExistingRentalOrLeaseToAsset(rol)"></span>
                </td>
              </tr>
            </tbody>
          </table>
          <ng-pagination *ngIf="lookupItems" [itemsCount]="lookupItems.totalRecords" [pageSize]="10"
            (getPageData)="lookupRentOrLease($event)"></ng-pagination>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary float-right" (click)="lookupRentOrLease()">Search</button>
          <button type="button" (click)="initLookupParams()" class="btn btn-primary">Clear</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>