<div class="row pb-3">
  <div class="col-md-12">
    <h4>
      <span class="fa fa-address-book-o"></span> {{editMode?'Update': 'Add'}} Role
    </h4>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-sm-12">
    <label>Role Name</label>
    <input [(ngModel)]="role.roleName" [disabled]="editMode" type="text" class="form-control">
  </div>
  <div class="col-md-6 col-sm-12">
    <label>Role Description</label>
    <input [(ngModel)]="role.roleDescription" type="text" class="form-control">
  </div>
</div>

<div class="row pt-3">
  <div class="col-sm-12">
    <button class="btn btn-primary " (click)="addRole()" *ngIf="!editMode">Add</button>
    <button class="btn btn-primary " (click)="updateRole()" *ngIf="editMode">Update</button>
    <button class="btn btn-primary" (click)="goBack()">Back</button>
  </div>
</div>