<div class="row zero-margin header">
    <div class="col-lg-4 col-sm-12">
        <h2 class="logo">
            <a href="#">
                <img src="./assets/images/logo.png" alt="gotorisk.co.uk" />
            </a>
        </h2>
        <div class="sm-navbar-container hidden-lg">
            <span style="font-size:20px" data-elem="smallMenu" class="glyphicon glyphicon-menu-hamburger"></span>
        </div>
    </div>
    <div class="col-lg-4 col-sm-12 text-center pt-2" *ngIf="userDetails">
        <h4 class="welcome">{{module ? module: ''}}</h4>
    </div>
    <div class="col-lg-4 col-sm-12 text-center pt-2" *ngIf="!userDetails">
        <h4 class="welcome">Welcome to Risk Management System</h4>
    </div>
    <div class="col-lg-4 col-sm-12" *ngIf="userDetails && !hideOptions" style="cursor: pointer;">
        <div class="text-right pt-2">
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle zero-padding" data-toggle="dropdown" role="button" aria-haspopup="true"
                    aria-expanded="false">
                    <img src="./assets/images/logo.png" alt="gotorisk.co.uk" /> {{userDetails.loginId}}</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" [routerLink]="['/home']">Home</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" [routerLink]="['/ums']">Profile</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" (click)="logOut()">Logout</a>
                </div>
            </div>
        </div>
    </div>
</div>