<div class="row pb-3">
  <div class="col-md-12">
    <h4>
      <span class="fa fa-file"></span>Notify Admin</h4>
  </div>
</div>


<div class="tab-content">
  <div class="row pb-2">
    <div class="col-sm-12 col-md-6">
      <label>Document ID</label>
      <input class="form-control" [(ngModel)]="document.documentId" readonly/>
    </div>

    <div class="col-sm-12 col-md-6">
      <label>Title</label>
      <input class="form-control" [(ngModel)]="document.documentTitle" readonly/>
    </div>
  </div>
  <div class="row pb-2">
    <div class="col-sm-12 col-md-6">
      <label>Status</label>
      <input class="form-control" [(ngModel)]="document.documentStatusDescription" readonly />
    </div>
    <div class="col-sm-12 col-md-6">
      <label>Document Classification</label>
      <input class="form-control" [(ngModel)]="document.documentClassificationDescription" readonly />
    </div>
  </div>
  <div class="row pb-2">
    <div class="col-6">
      <label>File Name</label>
      <input class="form-control" [(ngModel)]="document.originalFileName" readonly/>
    </div>
    <div class="col-6">
      <label>Version Number</label>
      <input class="form-control" [(ngModel)]="document.versionNumber" readonly/>
    </div>

  </div>
  <div class="row pb-2">
    <div class="col-6">
      <label>Version Status</label>
      <input class="form-control" [(ngModel)]="document.versionStatusDescription" readonly/>
    </div>
    <div class="col-6">
      <label>Approved By</label>
      <input class="form-control" [(ngModel)]="document.approvedBy" readonly/>
    </div>

  </div>

  <div class="row pb-2">
    <div class="col-6">
      <label>Notification Date</label>
      <input class="form-control" [(ngModel)]="notifiedDate" readonly/>
    </div>
    <div class="col-6">
      <label>Notified By</label>
      <input class="form-control" [(ngModel)]="notifiedBy" readonly/>
    </div>

  </div>
  <div class="row pb-2">
    <div class="col-sm-12">
      <label>Comments</label>
      <textarea class="form-control" [(ngModel)]="data.comments" maxlength="256"></textarea>
    </div>
  </div>
  <div class="row pb-2">
    <div class="col-sm-12">
      <button class="btn btn-primary" (click)="Save()">Notify</button>
      <button class="btn btn-danger" [routerLink]="['/cms/document/edit-document',document.complianceDocumentId]">Cancel</button> 
    </div>
  </div>
  </div>