<app-header class="d-none d-lg-block"></app-header>
<div class="row view">
  <div class="col-lg-2 pl-0 pr-0 d-none d-lg-block side-nav-lms">
    <app-side-nav [thisView]="'approve-course'"></app-side-nav>
  </div>
  <div class="col-lg-2 pl-0 pr-0 d-lg-none">
    <app-sm-menu [thisView]="'approve-course'"></app-sm-menu>
  </div>


  <div class="col-lg-10 col-md-12 col-sm-12 content">
    <div class="row pb-3">
      <div class="col-md-8">
        <h4>
          <span class="fa fa-address-book-o"></span> Approve/Reject Course
        </h4>
      </div>
      <div class="col-md-4">
        <div class="searchbox">
          <div class="input-group stylish-input-group">
            <input type="text" class="form-control" placeholder="Search" [(ngModel)]="filter">
            <span class="fa fa-search">
            </span>

          </div>
        </div>
      </div>
    </div>
    <ul class="row nav nav-tabs mb-2">
      <li class="nav-item" (click)="changeTab(tab)" *ngFor="let tab of tabs">
        <a class="nav-link" [ngClass]="{'active': currentTab == tab}">{{tab.name}}

        </a>
      </li>
    </ul>

    <div class="row tab-content">

      <table class="table table-bordered">
        <thead>
          <th>
            Code
          </th>
          <th>
            Name
          </th>


          <th>
            Type
          </th>
          <th>
            Domain
          </th>

          <th>
            Requested By
          </th>
          <th>
            Cost
          </th>
          <th>
            Status
          </th>
          <th>
            &nbsp;
          </th>
        </thead>
        <tbody *ngIf="courseData.length > 0">
          <tr *ngFor="let c of courseData | searchFilter: filter">
            <td>
              <a [routerLink]="['/lms/my-courses/user-course-detail/', c.userCourseId]">{{c.courseCode}}</a>

              <!-- <a [routerLink]="['course-detail', c.id]">{{c.courseCode}}</a> -->
            </td>
            <td>
              {{c.courseName}}
            </td>

            <td>
              {{c.courseTypeDescription}}
            </td>
            <td>
              {{c.courseDomainDescription}}
            </td>

            <td>
              {{c.userFullName}}
            </td>
            <td>
              {{c.courseCost | number: '1.2-2'}}
            </td>
            <td>
              {{c.managerCourseApprovalStatusFlag}}
            </td>

            <td>
              <button class="btn btn-success" data-toggle="modal" data-target="#myModal" (click)="cid=c.managerCourseApprovalId"
                *ngIf=" currentTab.name == 'Active'">Approve</button>

              <button class="btn btn-danger" data-toggle="modal" data-target="#myModal1" (click)="cid=c.managerCourseApprovalId"
                *ngIf=" currentTab.name == 'Active'">Reject</button>
              <button class="btn btn-primary" data-toggle="modal" data-target="#myModal2" (click)="cid=c.managerCourseApprovalId"
                *ngIf=" currentTab.name != 'Active'">Activate</button>


            </td>

          </tr>
        </tbody>
      </table>
      <ng-pagination [position]="'left'" [pageSize]="10" [itemsCount]="itemsCount" (getPageData)="getPageData($event)"></ng-pagination>
    </div>
  </div>
  <div id="myModal" class="modal fade" role="dialog" tabindex="-1" style="top:30%">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">Approve Course</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-12 col-md-3">
              <label>Add Reason</label>
            </div>
            <div class="col-sm-12 col-md-9 pb-1">
              <input class="form-control" [(ngModel)]="reason" />
            </div>
          </div>

          <div class="row"></div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" (click)="approve()">Approve</button>

            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="myModal1" class="modal fade" role="dialog" tabindex="-1" style="top:30%">

    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">Reject Course</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-12 col-md-3">
              <label>Add Reason</label>
            </div>
            <div class="col-sm-12 col-md-9 pb-1">
              <input class="form-control" [(ngModel)]="reason" />
            </div>
          </div>

          <div class="row"></div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" (click)="reject()">Reject</button>

            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="myModal2" class="modal fade" role="dialog" tabindex="-1" style="top:30%">

    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">Activate Course</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-12 col-md-3">
              <label>Add Reason</label>
            </div>
            <div class="col-sm-12 col-md-9 pb-1">
              <input class="form-control" [(ngModel)]="reason" />
            </div>
          </div>

          <div class="row"></div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="activate()">Activate</button>

            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>

    </div>

  </div>