<app-header [module]="module" class="d-none d-lg-block"></app-header>
<div class="row view">
  <div class="col-lg-2 pl-0 pr-0 d-none d-lg-block side-nav-lms">
    <app-side-nav [thisView]="'dashboard'"></app-side-nav>
  </div>
  <div class="col-lg-2 pl-0 pr-0 d-lg-none">
    <app-sm-menu [thisView]="'dashboard'"></app-sm-menu>
  </div>
  <div class="col-lg-10 pl-0 pr-0 col-md-12 content">
    <div class="row dashboard">

      <div class="col-sm-12 col-md-6 text-center">
        <div class="card">
            <div class="single-banner">
                <a [routerLink]="['/lms/courses']">
                  <img src="./assets/images/J001654---Icon_Courses.png" alt="gotorisk.co.uk" />
                  <div class="card-body">
                      <h4 class="card-title">Courses</h4>
                    </div>
                </a>
              </div>
     
        </div>
        <!-- <a [routerLink]="['/lms/courses']"><img src="./assets/images/courses.jpg" alt="gotorisk.co.uk" />
          <h4>Courses</h4></a> -->

      </div>
      <div class="col-sm-12 col-md-6 text-center">
        <div class="card">
          <div class="single-banner">
              <a [routerLink]="['/lms/progress']">
                <img src="./assets/images/J001654---Icon_Progress.png" alt="Card image">
    
                <div class="card-body">
                  <h4 class="card-title">Progress</h4>
                </div>
              </a>
          </div>
         
        </div>
        <!-- <a [routerLink]="['/lms/progress']"><img src="./assets/images/progress.jpg" alt="gotorisk.co.uk" />
          <h4>Learning</h4></a> -->
      </div>

    </div>
  </div>
</div>