<div *ngIf="data.reportedIncidents.length>0">
  <h5>Reported Incident(s)</h5>
  <table class="table table-bordered cms-table">
    <thead>
      <th>Incident ID</th>
      <th>Inc Desc</th>
      <th>Date Opened</th>
      <th>Inc Type </th>
      <th>Inc Status</th>
    </thead>
    <tbody *ngFor="let d of data.reportedIncidents">
      <tr>
        <td>
          <a href="javascript:void(0)" data-toggle="modal" data-target="#myModal"
            (click)="getIncidentDetails(d)">{{d.uniqueIncidentId}}</a>
        </td>
        <td> {{d.incidentDescription}}</td>
        <td>{{d.incidentOpenedDateTime | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
        <td>{{d.incidentType}}</td>
        <td>{{d.incidentStatus}}</td>

      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="data.incidentSuspects.length>0">
  <h5>Suspect to Incident(s)</h5>
  <table class="table table-bordered cms-table">
    <thead>
      <th>Incident ID</th>
      <th>Inc Desc</th>
      <th>Date Opened</th>
      <th>Inc Type </th>
      <th>Inc Status</th>
    </thead>
    <tbody *ngFor="let d of data.incidentSuspects">
      <tr>
        <td>
          <a href="javascript:void(0)" data-toggle="modal" data-target="#myModal"
            (click)="getIncidentDetails(d)">{{d.uniqueIncidentId}}</a>
        </td>
        <td> {{d.incidentDescription}}</td>
        <td>{{d.incidentOpenedDateTime | date :'dd/MM/yyyy hh:mm'}}</td>
        <td>{{d.incidentType}}</td>
        <td>{{d.incidentStatus}}</td>

      </tr>
    </tbody>
  </table>
</div>
<div *ngIf="data.accidentInjuredPersons.length>0">
  <h5>Injured due to accident(s)</h5>
  <table class="table table-bordered cms-table">
    <thead>
      <th>Incident ID</th>
      <th>Accident Desc</th>
      <th>Date Opened</th>
      <th>Inc Type </th>
      <th>Inc Status</th>
    </thead>
    <tbody *ngFor="let d of data.accidentInjuredPersons">
      <tr>
        <td>
          <a href="javascript:void(0)" data-toggle="modal" data-target="#myModal"
            (click)="getIncidentDetails(d)">{{d.uniqueIncidentId}}</a>
        </td>
        <td> {{d.incidentDescription}}</td>
        <td>{{d.incidentOpenedDateTime | date :'dd/MM/yyyy hh:mm'}}</td>
        <td>{{d.incidentType}}</td>
        <td>{{d.incidentStatus}}</td>

      </tr>
    </tbody>
  </table>
</div>
<div *ngIf="data.accidentWitnesses.length>0">
  <h5>Witness to Accident(s)</h5>
  <table class="table table-bordered cms-table">
    <thead>
      <th>Incident ID</th>
      <th>Accident Desc</th>
      <th>Date Opened</th>
      <th>Inc Type </th>
      <th>Inc Status</th>
    </thead>
    <tbody *ngFor="let d of data.accidentWitnesses">
      <tr>
        <td>
          <a href="javascript:void(0)" data-toggle="modal" data-target="#myModal"
            (click)="getIncidentDetails(d)">{{d.uniqueIncidentId}}</a>
        </td>
        <td> {{d.incidentDescription}}</td>
        <td>{{d.incidentOpenedDateTime | date :'dd/MM/yyyy hh:mm'}}</td>
        <td>{{d.incidentType}}</td>
        <td>{{d.incidentStatus}}</td>

      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="data.crimeSuspects.length>0">
  <h5>Crime suspect to Incident(s)</h5>
  <table class="table table-bordered cms-table">
    <thead>
      <th>Incident ID</th>
      <th>Crime Desc</th>
      <th>Date Opened</th>
      <th>Inc Type </th>
      <th>Inc Status</th>
    </thead>
    <tbody *ngFor="let d of data.crimeSuspects">
      <tr>
        <td>
          <a href="javascript:void(0)" data-toggle="modal" data-target="#myModal"
            (click)="getIncidentDetails(d)">{{d.uniqueIncidentId}}</a>
        </td>
        <td> {{d.incidentDescription}}</td>
        <td>{{d.incidentOpenedDateTime | date :'dd/MM/yyyy hh:mm'}}</td>
        <td>{{d.incidentType}}</td>
        <td>{{d.incidentStatus}}</td>

      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="data.crimeWitnesses.length>0">
  <h5>Witness to crime(s)</h5>
  <table class="table table-bordered cms-table">
    <thead>
      <th>Incident ID</th>
      <th>Crime Desc</th>
      <th>Date Opened</th>
      <th>Inc Type </th>
      <th>Inc Status</th>
    </thead>
    <tbody *ngFor="let d of data.crimeWitnesses">
      <tr>
        <td>
          <a href="javascript:void(0)" data-toggle="modal" data-target="#myModal"
            (click)="getIncidentDetails(d)">{{d.uniqueIncidentId}}</a>
        </td>
        <td> {{d.incidentDescription}}</td>
        <td>{{d.incidentOpenedDateTime | date :'dd/MM/yyyy hh:mm'}}</td>
        <td>{{d.incidentType}}</td>
        <td>{{d.incidentStatus}}</td>

      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="data.incidentInvestigations.length>0">
  <h5>Investigator for Incident(s)</h5>
  <table class="table table-bordered cms-table">
    <thead>
      <th>Incident ID</th>
      <th>Inc Desc</th>
      <th>Date Opened</th>
      <th>Inc Type </th>
      <th>Inc Status</th>
    </thead>
    <tbody *ngFor="let d of data.incidentInvestigations">
      <tr>
        <td>
          <a href="javascript:void(0)" data-toggle="modal" data-target="#myModal"
            (click)="getIncidentDetails(d)">{{d.uniqueIncidentId}}</a>
        </td>
        <td> {{d.incidentDescription}}</td>
        <td>{{d.incidentOpenedDateTime | date :'dd/MM/yyyy hh:mm'}}</td>
        <td>{{d.incidentType}}</td>
        <td>{{d.incidentStatus}}</td>

      </tr>
    </tbody>
  </table>
</div>
<div *ngIf="data.claimsHandled.length>0">
  <h5>Claim handler for Incident(s)</h5>
  <table class="table table-bordered cms-table">
    <thead>
      <th>Incident ID</th>
      <th>Inc Desc</th>
      <th>Date Opened</th>
      <th>Inc Type </th>
      <th>Inc Status</th>
    </thead>
    <tbody *ngFor="let d of data.claimsHandled">
      <tr>
        <td>
          <a href="javascript:void(0)" (click)="getIncidentDetails(d)" data-toggle="modal"
            data-target="#myModal">{{d.uniqueIncidentId}}</a>
        </td>
        <td> {{d.incidentDescription}}</td>
        <td>{{d.incidentOpenedDateTime | date :'dd/MM/yyyy hh:mm'}}</td>
        <td>{{d.incidentType}}</td>
        <td>{{d.incidentStatus}}</td>

      </tr>
    </tbody>
  </table>
</div>

<div id="myModal" class="modal fade" role="dialog" tabindex="-1">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Incident Details</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngIf="incident">
          <h4>Incident Details</h4>
          <div class="row">

            <div class="col-md-4 col-sm-12">
              <label>Reported By:</label>
              <label class="summary-text">{{incident.incidentReportedBy?.fullName}}</label>
            </div>
            <div class="col-md-4 col-sm-12">
              <label>Organization:</label>
              <label class="summary-text">{{incident.incidentReportedBy?.department?.organization?.name}}</label>
            </div>
            <div class="col-md-4 col-sm-12">
              <label>Department:</label>
              <label class="summary-text">{{incident.incidentReportedBy?.department?.description}}</label>
            </div>

            <div class="col-md-4 col-sm-12">
              <label>Place Of Incident:</label>
              <label class="summary-text">{{incident.placeOfIncident}}</label>
            </div>
            <div class="col-md-4 col-sm-12" *ngIf="incident.incidentType && incident.incidentType.id != 'OTHER'">
              <label>Incident Type:</label>
              <label class="summary-text">{{incident.incidentType?.description}}</label>
            </div>
            <div class="col-md-4 col-sm-12" *ngIf="incident.incidentType && incident.incidentType.id == 'OTHER'">
              <label>Incident Type:</label>
              <label class="summary-text">{{incident.incidentTypeOther}}</label>
            </div>
            <div class="col-md-4 col-sm-12" *ngIf="incident.entryPoint && incident.entryPoint.id != 'OTHER'">
              <label>Entry Point:</label>
              <label class="summary-text">{{incident.entryPoint?.description}}</label>
            </div>
            <div class="col-md-4 col-sm-12" *ngIf="incident.entryPoint && incident.entryPoint.id == 'OTHER'">
              <label>Entry Point:</label>
              <label class="summary-text">{{incident.entryPointOther}}</label>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-sm-12">
              <label>Incident Location:</label>
              <label class="summary-text">{{incident.incidentLocation?.description}}</label>
            </div>
            <div class="col-md-4 col-sm-12"
              *ngIf="incident.incidentLocation && incident.incidentLocation.id != 'OTHER'">
              <label>Incident Location Details:</label>
              <label class="summary-text">{{incident.incidentLocationDetail?.description}}</label>
            </div>
            <div class="col-md-4 col-sm-12"
              *ngIf="incident.incidentLocation && incident.incidentLocation.id == 'OTHER'">
              <label>Incident Location Details:</label>
              <label class="summary-text">{{incident.incidentLocationOther}}</label>
            </div>
            <div class="col-md-4 col-sm-12">
              <label>Date Of Incident:</label>
              <label class="summary-text">{{incident?.incidentOpenedDateTime | date:'dd/MM/yyyy'}}</label>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-4 col-lg-4">
              <label>Asset Damage:</label>
              <label class="summary-text">{{incident.assetDamage}}</label>
            </div>
            <div class="col-sm-4 col-lg-4">
              <label>Criminal Attack:</label>
              <label class="summary-text">{{incident.criminalAttack}}</label>
            </div>
            <div class="col-sm-4 col-lg-4">
              <label>Accident Damange:</label>
              <label class="summary-text">{{incident.accidentDamage}}</label>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 col-sm-12">
              <label>Incident Description:</label>
              <label class="summary-text">{{incident.incidentDescription}}</label>
            </div>
          </div>
          <h4 *ngIf="incident.suspects.length>0">Suspects</h4>
          <table class="table table-bordered" *ngIf="incident.suspects.length>0">
            <thead>
              <tr>
                <th>Suspect type</th>
                <th>Name</th>
                <th>Age</th>
                <th>Gender</th>
                <th>Address</th>
                <th>City</th>
                <th>County</th>
                <th>PostCode</th>
              </tr>

            </thead>
            <tbody>
              <tr *ngFor="let suspect of incident.suspects">
                <td>
                  {{suspect.suspectType && suspect.suspectType.id != 'OTHER' ? suspect.suspectType.description :
                  suspect.suspectTypeOther}}
                </td>
                <td>
                  {{suspect.firstName}} {{suspect.middleName}} {{suspect.lastName}}
                </td>
                <td>
                  {{suspect.age}}
                </td>
                <td>
                  {{suspect.genderType && suspect.genderType.id != 'OTHER' ? suspect.genderType.description :
                  suspect.genderTypeOther}}
                </td>

                <td>
                  {{suspect.addresses[0]?.organizationName}} {{suspect.addresses[0]?.buildingName}}
                  {{suspect.addresses[0]?.localityName}} {{suspect.addresses[0]?.streetName}}
                </td>
                <td>
                  {{suspect.addresses[0]?.city}}
                </td>
                <td>
                  {{suspect.addresses[0]?.county}}
                </td>
                <td>
                  {{suspect.addresses[0]?.postcode1}}{{suspect.addresses[0]?.postcode2}}
                </td>

              </tr>
            </tbody>
          </table>

          <h4 *ngIf="incident.reportedLosses.length">Reported Losses</h4>
          <table class="table table-bordered" *ngIf="incident.reportedLosses.length > 0">
            <thead>
              <tr>
                <th>Loss Type</th>
                <th>Loss value</th>
                <th>External Agency</th>
                <th>Cost Estimation</th>
              </tr>

            </thead>
            <tbody>
              <tr *ngFor="let loss of incident.reportedLosses">
                <td>{{loss.lossType && loss.lossType.id != 'OTHER'?loss.lossType.description : loss.lossTypeOther}}</td>
                <td>
                  {{loss.lossValue}}
                </td>
                <td>
                  {{loss.externalAgency && loss.externalAgency.id != 'OTHER'? loss.externalAgency.description :
                  loss.externalAgencyTypeOther}}
                </td>
                <td>
                  {{loss.costEstimation}}
                </td>
              </tr>
            </tbody>
          </table>

          <h4 *ngIf="incident.accident">Accident Details</h4>
          <div class="row" *ngIf="incident.accident">
            <div class="col-sm-12 col-md-4">
              <label>Accident Type:</label>
              <label class="summary-text">{{incident.accident?.accidentType?.description}}</label>
            </div>
            <div class="col-sm-12 col-md-4">
              <label>Accident Description:</label>
              <label class="summary-text">{{incident.accident?.accidentDescription}}</label>
            </div>
            <div class="col-sm-12 col-md-4">
              <label>Accident Date/Time:</label>
              <label class="summary-text">{{incident.accident?.accidentDateTime | date:'dd/MM/yyyy hh:mm'}}</label>
            </div>
          </div>
          <div class="row" *ngIf="incident.accident">
            <div class="col-sm-12 col-md-4">
              <label>Accident Place:</label>
              <label class="summary-text">{{incident.accident?.accidentPlace}}</label>
            </div>
            <div class="col-sm-12 col-md-4">
              <label>Accident Location:</label>
              <label class="summary-text">{{incident.accident && incident.accident.accidentLocation &&
                incident.accident.accidentLocation.id !='OTHER' ?
                incident.accident?.accidentLocation?.description
                : incident.accident?.accidentLocationOther}}</label>
            </div>
            <div class="col-sm-12 col-md-4">
              <label>Accident Location Details:</label>
              <label class="summary-text">{{incident.accident?.accidentLocationDetails?.description}}</label>
            </div>
          </div>
          <!-- witnesses -->
          <table class="table table-bordered" *ngIf="incident.accident && incident.accident.witnesses.length>0">
            <thead>
              <tr>
                <th colspan="8" class="text-center">Witnesses</th>
              </tr>
              <tr>
                <th>Witness type</th>
                <th>Name</th>
                <th>Age</th>
                <th>Gender</th>
                <th>Address</th>
                <th>City</th>
                <th>County</th>
                <th>PostCode</th>
              </tr>

            </thead>
            <tbody>
              <tr *ngFor="let witness of incident.accident.witnesses">
                <td>
                  {{witness.witnessType && witness.witnessType.id != 'OTHER' ? witness.witnessType.description :
                  witness.witnessTypeOther}}
                </td>
                <td>
                  {{witness.firstName}} {{witness.middleName}} {{witness.lastName}}
                </td>
                <td>
                  {{witness.age}}
                </td>
                <td>
                  {{witness.genderType && witness.genderType.id != 'OTHER' ? witness.genderType.description :
                  witness.genderTypeOther}}
                </td>

                <td>
                  {{witness.addresses[0]?.organizationName}} {{witness.addresses[0]?.buildingName}}
                  {{witness.addresses[0]?.localityName}} {{witness.addresses[0]?.streetName}}
                </td>
                <td>
                  {{witness.addresses[0]?.city}}
                </td>
                <td>
                  {{witness.addresses[0]?.county}}
                </td>
                <td>
                  {{witness.addresses[0]?.postcode1}} {{witness.addresses[0]?.postcode2}}
                </td>

              </tr>
            </tbody>
          </table>
          <!-- injuredPersons -->
          <table class="table table-bordered" *ngIf="incident.accident && incident.accident.injuredPersons.length>0">
            <thead>
              <tr>
                <th colspan="8" class="text-center">Injured Persons</th>
              </tr>
              <tr>
                <th>Person type</th>
                <th>Name</th>
                <th>Age</th>
                <th>Gender</th>
                <th>Address</th>
                <th>City</th>
                <th>County</th>
                <th>PostCode</th>
              </tr>

            </thead>
            <tbody>
              <tr *ngFor="let injuredPerson of incident.accident.injuredPersons">
                <td>
                  {{injuredPerson.injuredPersonType && injuredPerson.injuredPersonType.id != 'OTHER' ?
                  injuredPerson.injuredPersonType.description : injuredPerson.injuredPersonTypeOther}}
                </td>
                <td>
                  {{injuredPerson.firstName}} {{injuredPerson.middleName}}
                  {{injuredPerson.lastName}}
                </td>
                <td>
                  {{injuredPerson.age}}
                </td>
                <td>
                  {{injuredPerson.genderType && injuredPerson.genderType.id != 'OTHER' ?
                  injuredPerson.genderType.description :
                  injuredPerson.genderTypeOther}}
                </td>

                <td>
                  {{injuredPerson.addresses[0]?.organizationName}}
                  {{injuredPerson.addresses[0]?.buildingName}}
                  {{injuredPerson.addresses[0]?.localityName}}
                  {{injuredPerson.addresses[0]?.streetName}}
                </td>
                <td>
                  {{injuredPerson.addresses[0]?.city}}
                </td>
                <td>
                  {{injuredPerson.addresses[0]?.county}}
                </td>
                <td>
                  {{injuredPerson.addresses[0]?.postcode1}}{{injuredPerson.addresses[0]?.postcode2}}
                </td>

              </tr>
            </tbody>
          </table>


          <h4>Asset Details</h4>
          <div class="row">
            <div class="col-sm-12 col-md-4">
              <label>Asset Category:</label>
              <label class="summary-text">{{incident?.asset?.assetCategory?.description}}</label>
            </div>
            <div class="col-sm-12 col-md-4">
              <label>Other Description:</label>
              <label class="summary-text">{{incident?.asset?.otherDescription}}</label>
            </div>
          </div>
          <table class="table table-bordered"
            *ngIf="incident.asset && incident.asset.vehicles && incident.asset.vehicles.length >0">
            <thead>
              <tr>
                <th>Registration ID</th>
                <th>Engine Number</th>
                <th>Chasis Number</th>
                <th>Comment</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let vehicle of incident.asset.vehicles">
                <td>{{vehicle.vehicleRegistrationId}}</td>
                <td>{{vehicle.engineNumber}}</td>
                <td>{{vehicle.chasisNumber}}</td>
                <td>{{vehicle.commentDescription}}</td>
              </tr>
            </tbody>
          </table>
          <table class="table table-bordered"
            *ngIf="incident.asset && incident.asset.equipments && incident.asset.equipments.length >0">
            <thead>
              <tr>
                <th>Equipment ID</th>
                <th>Serial Number</th>
                <th>Equipment Details</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let equipment of incident.asset.equipments">
                <td>{{equipment.equipmentId}}</td>
                <td>{{equipment.serialNumber}}</td>
                <td>{{equipment.equipmentDetails}}</td>
              </tr>
            </tbody>
          </table>
          <table class="table table-bordered"
            *ngIf="incident.asset && incident.asset.buildings && incident.asset.buildings.length >0">
            <thead>
              <tr>
                <th>Building ID</th>
                <th>Building Name</th>
                <th>Building Description</th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let building of incident.asset.buildings">
                <td>{{building.buildingId}}</td>
                <td>{{building.buildingName}}</td>
                <td>{{building.buildingDescription}}</td>
              </tr>
            </tbody>
          </table>
          <table class="table table-bordered"
            *ngIf="incident.asset && incident.asset.assetTypeOthers && incident.asset.assetTypeOthers.length >0">
            <thead>
              <tr>
                <th>Asset ID</th>
                <th>Asset Name</th>
                <th>Asset Description</th>


              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let asset of incident.asset.assetTypeOthers">
                <td>{{asset.assetTypeOtherId}}</td>
                <td>{{asset.assetTypeOtherName}}</td>
                <td>{{asset.assetTypeOtherDescription}}</td>
              </tr>
            </tbody>
          </table>

          <h4>Crime Details</h4>
          <div class="row">
            <div class="col-sm-12 col-md-4">
              <label>Crime Description:</label>
              <label class="summary-text">{{incident?.crime?.crimeDescription}}</label>
            </div>
            <div class="col-sm-12 col-md-4">
              <label>Crime Date Time:</label>
              <label class="summary-text">{{incident?.crime?.crimeDateTime | date :'dd/MM/yyyy hh:mm'}}</label>
            </div>
            <div class="col-sm-12 col-md-4">
              <label>Any Witness:</label>
              <label class="summary-text">{{incident?.crime?.anyWitness}}</label>
            </div>
          </div>
          <table class="table table-bordered" *ngIf="incident.crime && incident.crime.crimeSuspects.length>0">
            <thead>
              <tr>
                <th colspan="8" class="text-center">Crime Suspects</th>
              </tr>
              <tr>
                <th>Suspect Type</th>
                <th>Name</th>
                <th>Age</th>
                <th>Gender</th>
                <th>Address</th>
                <th>City</th>
                <th>County</th>
                <th>PostCode</th>
              </tr>

            </thead>
            <tbody>
              <tr *ngFor="let crimeSuspect of incident.crime.crimeSuspects">
                <td>
                  {{crimeSuspect.crimeSuspectType && crimeSuspect.crimeSuspectType.id != 'OTHER' ?
                  crimeSuspect.crimeSuspectType.description :
                  crimeSuspect.crimeSuspectTypeOther}}
                </td>
                <td>
                  {{crimeSuspect.firstName}} {{crimeSuspect.middleName}}
                  {{crimeSuspect.lastName}}
                </td>
                <td>
                  {{crimeSuspect.age}}
                </td>
                <td>
                  {{crimeSuspect.genderType && crimeSuspect.genderType.id != 'OTHER' ?
                  crimeSuspect.genderType.description :
                  crimeSuspect.genderTypeOther}}
                </td>

                <td>
                  {{crimeSuspect.addresses[0]?.organizationName}}
                  {{crimeSuspect.addresses[0]?.buildingName}}
                  {{crimeSuspect.addresses[0]?.localityName}}
                  {{crimeSuspect.addresses[0]?.streetName}}
                </td>
                <td>
                  {{crimeSuspect.addresses[0]?.city}}
                </td>
                <td>
                  {{crimeSuspect.addresses[0]?.county}}
                </td>
                <td>
                  {{crimeSuspect.addresses[0]?.postcode1}}{{crimeSuspect.addresses[0]?.postcode2}}
                </td>

              </tr>
            </tbody>
          </table>

          <table class="table table-bordered"
            *ngIf="incident.crime && incident.crime.witnesses && incident.crime.witnesses.length>0">
            <thead>
              <tr>
                <th colspan="8" class="text-center">Crime Witnesses</th>
              </tr>
              <tr>
                <th>Witness type</th>
                <th>Name</th>
                <th>Age</th>
                <th>Gender</th>
                <th>Address</th>
                <th>City</th>
                <th>County</th>
                <th>PostCode</th>
              </tr>

            </thead>
            <tbody>
              <tr *ngFor="let witness of incident.crime.witnesses">
                <td>
                  {{witness.witnessType && witness.witnessType.id != 'OTHER' ? witness.witnessType.description :
                  witness.witnessTypeOther}}
                </td>
                <td>
                  {{witness.firstName}} {{witness.middleName}} {{witness.lastName}}
                </td>
                <td>
                  {{witness.age}}
                </td>
                <td>
                  {{witness.genderType && witness.genderType.id != 'OTHER' ? witness.genderType.description :
                  witness.genderTypeOther}}
                </td>

                <td>
                  {{witness.addresses[0]?.organizationName}} {{witness.addresses[0]?.buildingName}}
                  {{witness.addresses[0]?.localityName}} {{witness.addresses[0]?.streetName}}
                </td>
                <td>
                  {{witness.addresses[0]?.city}}
                </td>
                <td>
                  {{witness.addresses[0]?.county}}
                </td>
                <td>
                  {{witness.addresses[0]?.postcode1}}{{witness.addresses[0]?.postcode2}}
                </td>

              </tr>
            </tbody>
          </table>


          <h4 *ngIf="incident.claim">Claim Details</h4>
          <div class="row" *ngIf="incident.claim">
            <div class="col-sm-12 col-md-4">
              <label>Claim ID:</label>
              <label class="summary-text">{{incident.claim?.claimId}}</label>
            </div>
            <div class="col-sm-12 col-md-4">
              <label>Claimant Name:</label>
              <label class="summary-text">{{incident.claim?.claimantName}}</label>
            </div>
            <div class="col-sm-12 col-md-4">
              <label>Insured Name:</label>
              <label class="summary-text">{{incident.claim?.insuredName}}</label>
            </div>
          </div>
          <div class="row" *ngIf="incident.claim">
            <div class="col-sm-12 col-md-4">
              <label>Claim Status:</label>
              <label class="summary-text">{{incident.claim?.claimStatus?.description}}</label>
            </div>
            <div class="col-sm-12 col-md-4">
              <label>Claim Type:</label>
              <label class="summary-text">{{incident.claim.claimType && incident.claim.claimType.id
                !='OTHER'?incident.claim?.claimType?.description :
                incident.claim?.claimTypeOther}}</label>
            </div>
            <div class="col-sm-12 col-md-4">
              <label>Claim Request Type:</label>
              <label class="summary-text">{{incident.claim.claimRequestRegistrationType &&
                incident.claim.claimRequestRegistrationType.id !=
                'OTHER'?incident.claim?.claimRequestRegistrationType?.description
                : incident.claim?.claimRequestRegistrationTypeOther}}</label>
            </div>
          </div>
          <div class="row" *ngIf="incident.claim">
            <div class="col-sm-12 col-md-4">
              <label>Policy No.:</label>
              <label class="summary-text">{{incident.claim?.policyNumber}}</label>
            </div>
            <div class="col-sm-12 col-md-4">
              <label>Policy Holder Name:</label>
              <label class="summary-text">{{incident.claim?.policyHolderName}}</label>
            </div>
            <div class="col-sm-12 col-md-4">
              <label>Policy Type:</label>
              <label class="summary-text">{{incident.claim && incident.claim.policyType && incident.claim.policyType.id !='OTHER' ?
                incident.claim?.policyType?.description :
                incident.claim?.policyTypeOther}}
              </label>
            </div>
          </div>
          <div class="row" *ngIf="incident.claim">
            <div class="col-sm-12 col-md-4">
              <label>Security Requested:</label>
              <label class="summary-text">{{incident.claim?.securityRequested}}</label>
            </div>
            <div class="col-sm-12 col-md-4">
              <label>Training Requested:</label>
              <label class="summary-text">{{incident.claim?.trainingRequested}}</label>
            </div>
          </div>
          <div class="row" *ngIf="incident.claim">
            <div class="col-sm-12">
              <table class="table table-bordered">
                <thead>
                  <tr class="text-center">
                    <td colspan="3">Claim Handler Details</td>
                  </tr>
                  <tr>
                    <th>Full Name</th>
                    <th>Phone</th>
                    <th>Email</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      {{incident.claim?.claimHandler?.fullName}}
                    </td>
                    <td>
                      {{incident.claim?.claimHandler?.phone}}
                    </td>
                    <td>
                      {{incident.claim?.claimHandler?.email}}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

          </div>
          <div class="row" *ngIf="incident.claim">
            <div class="col-sm-12 col-md-4">
              <label>Claim Requested Amount:</label>
              <label class="summary-text">{{incident.claim?.claimRequestedAmount}}</label>
            </div>
            <div class="col-sm-12 col-md-4">
              <label>Claim Requested Date:</label>
              <label class="summary-text">{{incident.claim?.claimRequestedDate | date: 'dd/MM/yyyy'}}</label>
            </div>
            <div class="col-sm-12 col-md-4">
              <label>Claim Requested By:</label>
              <label class="summary-text">{{incident.claim?.claimRequestedBy}}</label>
            </div>
          </div>
          <div class="row" *ngIf="incident.claim">
            <div class="col-sm-12 col-md-4">
              <label>Claim Approved By:</label>
              <label class="summary-text">{{incident.claim?.claimApprovedBy}}</label>
            </div>
            <div class="col-sm-12 col-md-4">
              <label>Claim Approved Amount:</label>
              <label class="summary-text">{{incident.claim?.claimApprovedAmount}}</label>
            </div>
            <div class="col-sm-12 col-md-4">
              <label>Claim Approved Date:</label>
              <label class="summary-text">{{incident.claim?.claimApprovedDate | date: 'dd/MM/yyyy'}}</label>
            </div>
          </div>
          <div class="row" *ngIf="incident.claim">
            <div class="col-sm-12 col-md-4">
              <label>Claim Settlement By:</label>
              <label class="summary-text">{{incident.claim?.claimSettlementBy}}</label>
            </div>
            <div class="col-sm-12 col-md-4">
              <label>Claim Settlement Amount:</label>
              <label class="summary-text">{{incident.claim?.claimSettlementAmount}}</label>
            </div>
            <div class="col-sm-12 col-md-4">
              <label>Claim Settlement Date:</label>
              <label class="summary-text">{{incident.claim?.claimSettlementDate | date: 'dd/MM/yyyy'}}</label>
            </div>
          </div>
          <div class="row" *ngIf="incident.claim">
            <div class="col-sm-12 col-md-4">
              <label>Claim Declined By:</label>
              <label class="summary-text">{{incident.claim?.claimDeclinedBy}}</label>
            </div>
            <div class="col-sm-12 col-md-4">
              <label>Claim Declined Date:</label>
              <label class="summary-text">{{incident.claim?.claimDeclinedDate | date: 'dd/MM/yyyy'}}</label>
            </div>
            <div class="col-sm-12 col-md-4">
              <label>Claim Declined Comments:</label>
              <label class="summary-text">{{incident.claim?.claimDeclinedComments}}</label>
            </div>
          </div>
          <div class="row" *ngIf="incident.claim">
            <div class="col-sm-12 col-md-4">
              <label>Claim Reopened By:</label>
              <label class="summary-text">{{incident.claim?.claimReopenedBy}}</label>
            </div>
            <div class="col-sm-12 col-md-4">
              <label>Claim Reopened Date:</label>
              <label class="summary-text">{{incident.claim?.claimReopenedDate | date: 'dd/MM/yyyy'}}</label>
            </div>
            <div class="col-sm-12 col-md-4">
              <label>Claim Reopened Comments:</label>
              <label class="summary-text">{{incident.claim?.claimReopenedComments}}</label>
            </div>
          </div>
          <h4>Investigation</h4>
          <div class="row">
            <div class="col-sm-12 col-md-4">
              <label>Security Requested:</label>
              <label class="summary-text">{{incident.investigation?.securityRequested}}</label>
            </div>
            <div class="col-sm-12 col-md-4">
              <label>Training Requested:</label>
              <label class="summary-text">{{incident.investigation?.trainingRequested}}</label>
            </div>
            <div class="col-sm-12 col-md-4">
              <label>Reviewed Investigation Records:</label>
              <label class="summary-text">{{incident.investigation?.reviewedInvestigationRecords}}</label>
            </div>

          </div>
          <div class="row">
            <div class="col-sm-12 col-md-4">
              <label>Reviewed CCTV:</label>
              <label class="summary-text">{{incident.investigation?.reviewedCCTV}}</label>
            </div>
            <div class="col-sm-12 col-md-4">
              <label>Reviewed Pictures:</label>
              <label class="summary-text">{{incident.investigation?.reviewedPictures}}</label>
            </div>
            <div class="col-sm-12 col-md-4">
              <label>Reviewed Witness Statement:</label>
              <label class="summary-text">{{incident.investigation?.reviewedWitnessStatement}}</label>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-4">
              <label>Reviewed Learner Records:</label>
              <label class="summary-text">{{incident.investigation?.reviewedLearnerRecords}}</label>
            </div>
            <div class="col-sm-12 col-md-4">
              <label>Reviewed Asset Records:</label>
              <label class="summary-text">{{incident.investigation?.reviewedAssetRecords}}</label>
            </div>
            <div class="col-sm-12 col-md-4">
              <label>Reviewed Compliance Records:</label>
              <label class="summary-text">{{incident.investigation?.reviewedComplianceRecords}}</label>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <label>Investigator Statement:</label>
              <label class="summary-text">{{incident.investigation?.investigatorStatement}}</label>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <table class="table table-bordered" *ngIf="incident.investigation && incident.investigation.investigator">
                <thead>
                  <tr>
                    <th>Full Name</th>
                    <th>Phone</th>
                    <th>Email</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      {{incident.investigation?.investigator?.firstName}}
                      {{incident.investigation?.investigator?.lastName}}
                    </td>
                    <td>
                      {{incident.investigation?.investigator?.phone}}
                    </td>
                    <td>
                      {{incident.investigation?.investigator?.email}}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div
            *ngIf="incident.investigation && incident.investigation.investigator && incident.investigation.investigator.investigationTeams.length > 0"
            class="row">
            <div class="col-sm-12" *ngFor="let team of incident.investigation.investigator.investigationTeams">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th colspan="3">{{team.teamDescription}}</th>
                  </tr>
                  <tr>
                    <th colspan="3">Team Leads</th>
                  </tr>
                  <tr>
                    <th>Full Name</th>
                    <th>Phone</th>
                    <th>Email</th>
                  </tr>
                </thead>
                <tbody *ngIf="team.investigationTeamLeads.length > 0">
                  <tr *ngFor="let lead of team.investigationTeamLeads">
                    <td>{{lead.teamLeadFirstName}} {{lead.teamLeadLastName}}</td>
                    <td>{{lead.teamLeadPhone}}</td>
                    <td>{{lead.teamLeadEmail}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>




          <h4>Supporting Documents</h4>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Document Type</th>
                <th>Document Name</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let doc of incident.documents">
                <td>{{doc.fileContentType}}</td>
                <td>{{doc.originalFileName}}</td>
                <td>{{doc.fileDescription}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>