<div class="row pb-3">
  <div class="col-md-12">
    <h4>
      <span class="fa fa-folder"></span> {{editMode?'Edit':'Add'}} Document</h4>
  </div>
</div>


<div class="tab-content">
  <h5>Document Details</h5>
  <div class="row pb-2">
    <div class="col-sm-12 col-md-4">
      <label>Document ID</label>
      <input class="form-control" [(ngModel)]="document.documentId" readonly/>
    </div>
    <div class="col-sm-12 col-md-4">
      <label>Title</label>
      <input class="form-control" [(ngModel)]="document.documentTitle" name="documentTitle" />
    </div>

    <div class="col-sm-12 col-md-4">
      <label>Status</label>
      <select class="form-control" [disabled]="!editMode" [compareWith]="selectCompareFunction" [(ngModel)]="document.documentStatus">
        <option value="null"></option>
        <option *ngFor="let opt of dropdownsData.documentStatuses" [ngValue]="opt">{{opt.description}}</option>
      </select>
    </div>
  </div>
  <div class="row pb-2">
    <div class="col-sm-12">
      <label>Description</label>
      <textarea class="form-control" [(ngModel)]="document.documentDescription" name="documentDescription" maxlength="256"></textarea>
    </div>
  </div>


  <div class="row pb-2">
    <div class="col-sm-12 col-md-4">
      <label>Document Classification</label>
      <select class="form-control" [compareWith]="selectCompareFunction" [(ngModel)]="document.documentClassification">
        <option value="null"></option>
        <option *ngFor="let opt of dropdownsData.documentClassifications" [ngValue]="opt">{{opt.description}}</option>
      </select>
    </div>
    <div class="col-sm-12 col-md-4">
      <label>Published</label>
      <select class="form-control" disabled [(ngModel)]="document.isPublished">
        <option value="null"></option>
        <option value="Y">Yes</option>
        <option value="N">No</option>
      </select>
    </div>
    <div class="col-sm-12 col-md-4">
      <label>Published Date</label>
      <input class="form-control" disabled [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" [disabled]="true" [(ngModel)]="document.publishedDate"
        name="publishedDate" />
      <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
    </div>
  </div>

  <div class="row pb-2">
    <div class="col-sm-12">
      <label>Publish Comments</label>
      <textarea class="form-control" disabled [(ngModel)]="document.publishComments" name="publishComments" maxlength="256"></textarea>
    </div>
  </div>

  <div class="row pb-2">
    <div class="col-sm-12 col-md-4">
      <label>LMS Notified</label>
      <select class="form-control" disabled [(ngModel)]="document.isLmsNotified">
        <option value="null"></option>
        <option value="N">No</option>
        <option value="Y">Yes</option>
      </select>
    </div>
    <div class="col-sm-12 col-md-4">
      <label>LMS Notified by</label>
   
      <input class="form-control" disabled [ngModel]="document.lmsNotifiedBy?.fullName" name="lmsNotifiedBy" />
    </div>
    <div class="col-sm-12 col-md-4">
      <label>LMS Notified Date</label>
      <input class="form-control" [owlDateTime]="dt2" [owlDateTimeTrigger]="dt2" [disabled]="true" [(ngModel)]="document.lmsNotificationDate"
        name="lmsNotificationDate" />
      <owl-date-time [pickerType]="'calendar'" #dt2></owl-date-time>
    </div>

  </div>

  <div class="row pb-2">
    <div class="col-sm-12">
      <label>LMS Notification Comments</label>
      <textarea class="form-control" disabled [(ngModel)]="document.lmsNotificationComments" name="lmsNotificationComments" maxlength="256"></textarea>
    </div>
  </div>




  <div class="row pb-2">
      <div class="col-sm-12 col-md-4">
          <label>Never Expires</label>
          <select class="form-control" [(ngModel)]="document.neverExpires" (change)="neverExpireChange()">
            <option value="null"></option>
            <option value="N">No</option>
            <option value="Y">Yes</option>
          </select>
        </div>
    <div class="col-sm-12 col-md-4">
      <label>Expiry Date</label>
      <input class="form-control" [disabled]="document.neverExpires == 'Y'" [owlDateTime]="dt3" [owlDateTimeTrigger]="dt3" [(ngModel)]="document.expiryDate" name="expiryDate"
      />
      <owl-date-time [pickerType]="'calendar'" #dt3></owl-date-time>
    </div>
  
    <div class="col-sm-12 col-md-4">
      <label>Approval Level</label>
      <select class="form-control" [compareWith]="selectCompareFunction" [(ngModel)]="document.approvalLevel">
        <option value="null"></option>
        <option *ngFor="let opt of dropdownsData.approvalLevels" [ngValue]="opt">{{opt.description}}</option>
      </select>
    </div>

  </div>
  <div class="row pb-2">
    <div class="col-sm-12">
      <button class="btn btn-primary" (click)="save()">{{editMode? 'Update':'Save'}}</button>
    </div>
  </div>

  <h5>Upload File</h5>
  <div class="row pb-2">
    <div class="col-sm-12">
      <label>File Description</label>
      <textarea class="form-control" [(ngModel)]="file.fileDescription" name="documentDescription" maxlength="256"></textarea>
    </div>
  </div>
  <div class="row pb-2">
    
    <div class="col-sm-12 col-md-4">
      <label>File</label>
      <input class="form-control" (change)="documentSelected($event)" type="file" [disabled]="!file.fileDescription"
      />
    </div>
  </div>

  <div class="row pb-2">
    <div class="col-sm-12 col-md-6">
      <label>Status</label>
      <select class="form-control" [(ngModel)]="file.statusCode">
        <option value="null"></option>
        <option *ngFor="let opt of dropdownsData.versionStatuses" [ngValue]="opt.id">{{opt.description}}</option>

      </select>
    </div>
    <div class="col-sm-12 col-md-6">
      <label>Comments</label>
      <input type="text" class="form-control" [(ngModel)]="file.comments" />
    </div>
  </div>
  <div class="row pb-2">
    <div class="col-sm-12">
      <button class="btn btn-primary" (click)="uploadDocumentVersion()">Upload</button>
    </div>
  </div>
  <h5>Version History</h5>
  <table class="table table-bordered cms-table">
    <thead>
      <th>File Name</th>
      <th>Description</th>
      <th>Version</th>
      <th>Status</th>
      <th>Added By</th>
      <!-- <th>Added Date</th> -->
      <th>Reviewed By</th>
      <!-- <th>Reviewd Date</th> -->
      <th>Approved By</th>
      <!-- <th>Approved Date</th> -->
      <th></th>
    </thead>
    <tbody>
      <tr *ngFor="let doc of document.complianceDocumentVersionHistoryView | sortBy: reverse : keyName;">
        <td>{{doc.originalFileName}}</td>
        <td>{{doc.fileDescription}}</td>
        <td>{{doc.versionNumber}}</td>
        <td>{{doc.documentHistoryStatusDescription}}</td>
        <td>{{doc.addedUserFullName}}</td>
        <!-- <td>{{doc.addedDate | date: "dd/MM/yyyy"}}</td> -->
        <td>{{doc.reviewedUserFullName}}</td>
        <!-- <td>{{doc.reviewedDate | date: "dd/MM/yyyy"}}</td> -->
        <td>{{doc.approvedUserFullName}}</td>
        <!-- <td>{{doc.approvedDate | date: "dd/MM/yyyy"}}</td> -->
        <td>
          <span class="fa fa-file btn btn-sm  btn-outline-info" data-toggle="tooltip" title="Publish" [routerLink]="['/cms/publish-document',doc.id]"></span>
          <span class="fa fa-bell btn btn-sm  btn-outline-info" data-toggle="tooltip" title="Notify" [routerLink]="['/cms/notify-admin',doc.id]"></span>
          <span class="fa fa-envelope btn btn-sm  btn-outline-info" data-toggle="tooltip" title="Email" [routerLink]="['/cms/document/send-email',doc.id]"></span>
          <span class="fa fa-download btn btn-sm btn-outline-info" data-toggle="tooltip" title="Download" (click)="downloadVersion(doc)"></span>
          <span class="fa fa-trash btn btn-sm btn-outline-danger" data-toggle="tooltip" title="Delete" (click)="deleteVersionHistory(doc)"></span>
        </td>
      </tr>
    </tbody>
  </table>

</div>
