.single-banner {
    overflow: hidden;
    max-width: 350px;
    margin: auto;
}

.cont {
    overflow: auto;
}

.single-banner {
    img {
        width: 100%;
        max-width: 290px;
    }
    position: relative;
}

.single-banner a:before {
    animation-duration: 0.5s;
    background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0;
    content: "";
    display: block;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    transition: all 0.5s ease 0s;
    width: 0;
    max-height: 290px;
}

.single-banner:hover a:before {
    opacity: 1;
    border-radius: 50%;
    width: 100%;
    max-width: 290px;
    left: 30px;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}

.label {
    margin-top: 1rem;
    text-align: center;
}

.ims {
    color: red;
}

.ams {
    color: #3c90d2;
}

.lms {
    color: #efa128;
}

.cms {
    color: #8bc63e;
    margin-left: 2rem;
}

.pms {
    color: #a0428b;
    margin-left: 1rem;
}