<app-header class="d-none d-lg-block"></app-header>

<div class="row view cont">
    <div class="container p-0 m-0" style="max-width:100%">
        <div id="demo" class="carousel slide" data-ride="carousel">

            <!-- Indicators -->
            <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
                <li data-target="#demo" data-slide-to="3"></li>
                <li data-target="#demo" data-slide-to="4"></li>
            </ul>

            <!-- The slideshow -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="assets/images/slider2.jpg" width="1100" height="500">
                </div>
                <div class="carousel-item">
                    <img src="assets/images/slider3.jpg" width="1100" height="500">
                </div>
                <div class="carousel-item">
                    <img src="assets/images/slider4.jpg" width="1100" height="500">
                </div>
                <div class="carousel-item">
                    <img src="assets/images/slider6.jpg" width="1100" height="500">
                </div>
                <div class="carousel-item">
                    <img src="assets/images/slider7.jpg" width="1100" height="500">
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </div>

    <div class="container">

        <div class="row pt-4">
            <div class="col-md-4 col-sm-4 text-center">
                <!-- Single Banner -->
                <div class="single-banner " title="LMS">
                    <a [routerLink]="['/lms']">
                        <img src="./assets/images/Bulb-(Circle).png" alt="LMS">
                    </a>
                </div>
                <h4 class="label lms">
                    Learning Management
                </h4>
            </div>
            <div class="col-md-4 col-sm-4 text-center">
                <!-- Single Banner -->
                <div class="single-banner" title="IMS">
                    <!-- <a [routerLink]="['/ims']">
                        <img src="./assets/images/banner2.png" alt="IMS">
                    </a> -->
                    <a href="https://hiroku11.github.io/IMS/">
                        <img src="./assets/images/Fall-(Circle).png" alt="IMS">
                    </a>

                </div>
                <h4 class="label ims">
                    Incident Management
                </h4>
            </div>
            <div class="col-md-4 col-sm-4 text-center">
                <!-- Single Banner -->
                <div class="single-banner" title="AMS">
                    <a [routerLink]="['/ams']">
                        <img src="./assets/images/Computer-(Circle).png" alt="AMS">
                    </a>

                </div>
                <h4 class="label ams">
                    Asset Management
                </h4>
            </div>
        </div>
        <br>
    </div>

    <div class="container">
        <div class="row text-center">
            <div class="col-md-6 col-sm-12">
                <!-- Single Banner -->
                <div class="single-banner" title="CMS">
                    <a [routerLink]="['/cms']">
                        <img src="./assets/images/Board-(Circle).png" alt="CMS">
                    </a>

                </div>
                <h4 class="label cms">
                    Compliance Management
                </h4>
            </div>
            <div class="col-md-6 col-sm-12">
                <!-- Single Banner -->
                <div class="single-banner" title="PMS">
                    <a [routerLink]="['/pms']">
                        <img src="./assets/images/Chart-(Circle).png" alt="PMS">
                    </a>

                </div>
                <h4 class="label pms">
                    Performance Management
                </h4>
            </div>
        </div>

    </div>
</div>