<app-header [module]="module" class="d-none d-lg-block"></app-header>
<div class="row view">
  <div class="col-lg-2 col-md-12 pl-0 pr-0 d-none d-lg-block side-nav-pms">
    <app-side-nav [thisView]="'admin'"></app-side-nav>
  </div>
  <div class="col-lg-2 col-md-12 pl-0 pr-0 d-lg-none">
    <app-sm-menu [thisView]="'admin'"></app-sm-menu>
  </div>
  <div class="col-lg-10 col-md-12 col-sm-12 content">
    <div class="row">
      <div class="col-md-6">
        <h4>
          <span class="fa fa-building"></span> Performance | Admin
        </h4>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="input-group search float-right">
          <input class="form-control form-control-sm " [(ngModel)]="searchText" placeholder="Search" />
          <span class="input-group-addon">
            <span class="fa fa-search"></span>
          </span>
        </div>

      </div>
    </div>
    <table class="table table-bordered cms-table">
      <thead>
        <th>Title</th>
        <th> Start Date</th>
        <th>End Date</th>
        <th>Published </th>
        <th>Status </th>
        <th>Mid Year Open</th>
        <!-- <th>Expiry Date </th> -->
        <th>Full Year Open</th>

        <th></th>
      </thead>
      <tbody>
        <tr *ngFor="let cycle of performanceCycles | searchFilter : searchText; let i = index;">
          <td>
            <a>{{cycle.title}}</a>
          </td>
          <td>{{cycle.cycleStartDate |date:'dd/MM/yyyy' }}</td>
          <td>{{cycle.cycleEndDate |date:'dd/MM/yyyy'}}</td>
          <td> {{cycle.published}}</td>
          <td> {{cycle.statusFlag}}</td>
          <td>{{cycle.openMidYearReview == 'Y'? 'Yes' : 'No'}}</td>
          <td>{{cycle.openFullYearReview == 'Y'? 'Yes' : 'No'}}</td>

          <td>
            <span class="fa fa-share btn btn-sm  btn-outline-info" (click)="publish(cycle)" data-toggle="tooltip" title="Publish"></span>
            <span class="fa fa-pencil btn btn-sm btn-outline-info" (click)="editCycle(cycle)" data-toggle="tooltip"
              title="Edit"></span>
            <span class="fa fa-trash btn btn-sm btn-outline-danger" (click)="deleteCycle(cycle, i)" data-toggle="tooltip"
              title="Delete"></span>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- <ng-pagination [position]="'left'" [pageSize]="10" [itemsCount]="itemsCount" (getPageData)="getPageData($event)"></ng-pagination> -->

    <div class="row">
      <div class="col-12 col-md-4">
        <label>Title</label>
        <input class="form-control" type="text" [(ngModel)]="addCycle.title">
      </div>
      <div class="col-12 col-md-4">
        <label>Mid Year Review Status</label>
        <select class="form-control" [(ngModel)]="addCycle.openMidYearReview">
          <option value="null"></option>
          <option value="N">No</option>
          <option value="Y">Yes</option>
        </select>
      </div>
      <div class="col-12 col-md-4">
        <label>Full Year Review Status</label>
        <select class="form-control" [(ngModel)]="addCycle.openFullYearReview">
          <option value="null"></option>
          <option value="N">No</option>
          <option value="Y">Yes</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-4">
        <label>Start Date</label>
        <input class="form-control" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" [(ngModel)]="addCycle.cycleStartDate "
          name="publishedDate" />
        <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
      </div>
      <div class="col-12 col-md-4">
        <label>End Date</label>
        <input class="form-control" [owlDateTime]="dt2" [owlDateTimeTrigger]="dt2" [(ngModel)]="addCycle.cycleEndDate "
          name="publishedDate" />
        <owl-date-time [pickerType]="'calendar'" #dt2></owl-date-time>
      </div>
      <div class="col-12 col-md-4 pt-3">
        <button (click)="addUpdatePerformanceCycle()" class="btn btn-primary mt-3">
          {{editing?'Update':'Add'}}

        </button>
      </div>
    </div>
  </div>
</div>