<app-header [module]="module" class="d-none d-lg-block"></app-header>
<div class="row view">
  <div class="col-lg-2 pl-0 pr-0 d-none d-lg-block side-nav-lms">
    <app-side-nav [thisView]="'courses'"></app-side-nav>
  </div>
  <div class="col-lg-2 pl-0 pr-0 d-lg-none">
    <app-sm-menu [thisView]="'courses'"></app-sm-menu>
  </div>
  <div class="col-lg-10 col-md-12 content">
      <router-outlet></router-outlet>
    </div>
    </div>
    


