<app-header [module]="module" class="d-none d-lg-block"></app-header>
<div class="row view">
  <div class="col-lg-12 pl-0 pr-0 col-md-12 content">
    <div class="row filter">
      <div class="col-md-3 col-sm-12">
        <label>Report Level</label>
        <select class="form-control" [(ngModel)]="dashboardFilters.reportLevel">
          <option *ngFor="let opt of lstReportLevel" [value]="opt.value"> {{opt.name}} </option>
        </select>
      </div>
      <div class="col-md-3 col-sm-12">
        <label>Quarter Start Month</label>
        <select class="form-control" [(ngModel)]="dashboardFilters.quarterStartMonth">
          <option *ngFor="let opt of lstMoths" [value]="opt.value"> {{opt.name}} </option>
        </select>
      </div>
      <div class="col-md-3 col-sm-12">
        <label>Report Year</label>
        <select class="form-control" [(ngModel)]="dashboardFilters.reportYear">
          <option *ngFor="let opt of lstYears" [value]="opt.value"> {{opt.name}} </option>
        </select>
      </div>
      <div class="col-md-3 col-sm-12 search-div">
        <button class="btn btn-primary" type="button" (click)="getLMSdashboard()">Search</button>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-4 text-center">
        <div id="incompleteCourse-container"></div>
      </div>
      <div class="col-sm-6 col-md-4 text-center">
        <div id="courseStatus-container"></div>
      </div>
      <div class="col-sm-6 col-md-4 text-center">
        <div id="complianceRates-container"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-4 text-center">
        <div id="completeLearn-container"></div>
      </div>
      <div class="col-sm-6 col-md-4 text-center">
        <div id="pendingApproval-container"></div>
      </div>
      <div class="col-sm-6 col-md-4 text-center">
        <div id="companyComplianceRates-container"></div>
      </div>
    </div>
  </div>
</div>