@import './../../../../assets/styles/_lms';
.row {
    @extend .zero-margin;
}
.cont {
    overflow: auto;
}

.view{
    background: #fff;
    .filter{
        padding: 10px;
    background-color: #dadde0bf;
    .search-div{
        text-align: center;
    margin-top: 2.5%;
    }
    }
}