<app-header [module]="module" class="d-none d-lg-block"></app-header>
<div class="row view">
  <div class="col-lg-2 pl-0 pr-0 d-none d-lg-block side-nav-lms">
    <app-side-nav [thisView]="'reports'"></app-side-nav>
  </div>
  <div class="col-lg-2 pl-0 pr-0 d-lg-none">
    <app-sm-menu [thisView]="'reports'"></app-sm-menu>
  </div>
  <div class="col-lg-10 col-md-12 col-sm-12 content">
    <div class="row pb-3">
      <div class="col-md-12">
        <h4>
          <span class="fa fa-address-book-o"></span> Reports
        </h4>
      </div>
    </div>
    <ul class="row nav nav-tabs mb-2">
      <li class="nav-item" (click)="changeTab(1)">
        <a class="nav-link" [ngClass]="{'active': tab == 1}">User, Profile, Course and Role Volume</a>
      </li>
      <li class="nav-item" (click)="changeTab(2)">
        <a class="nav-link" [ngClass]="{'active': tab == 2}">User Course Progress</a>
      </li>
      <li class="nav-item" (click)="changeTab(3)">
        <a class="nav-link" [ngClass]="{'active': tab == 3}">User Course Approval</a>
      </li>
      <li class="nav-item" (click)="changeTab(4)">
        <a class="nav-link" [ngClass]="{'active': tab == 4}">Course Statistics</a>
      </li>
    </ul>
    <div class="tab-content" *ngIf="tab == 1">
      <div style="width: calc(100% - 20px)" id="firstReport">

      </div>
    </div>
    <div class="tab-content" *ngIf="tab == 2">
      <div style="width: calc(100% - 20px)" id="secondReport">

      </div>
    </div>
    <div class="tab-content" *ngIf="tab == 3">
      <div style="width: calc(100% - 20px)" id="thirdReport">

      </div>
    </div>
    <div class="tab-content" *ngIf="tab == 4">
      <div style="width: calc(100% - 20px)" id="fourthReport">

      </div>
    </div>
  </div>
</div>