<table class="table table-bordered cms-table">
  <tbody>
    <tr>
      <td>
        Title
      </td>
      <td>
        {{cycle?.performanceCycleTitle}}
      </td>
    </tr>
    <tr>
      <td>
        Start Date
      </td>
      <td>
        {{cycle?.performanceCycleStartDate | date: 'dd/MM/yyyy'}}
      </td>
    </tr>
    <tr>
      <td>
        End Date
      </td>
      <td>
        {{cycle?.performanceCycleEndDate | date: 'dd/MM/yyyy'}}
      </td>
    </tr>
    <tr>
      <td>
        Status
      </td>
      <td>
        <span *ngIf="!isManager">
          {{cycle?.userPerformanceCycleStatusDescription}}
        </span>

        <select class="form-control" *ngIf="isManager" [(ngModel)]="goalStatus" [compareWith]="selectCompareFunction"
          (change)="statusUpdate()">
          <option value="null"></option>
          <option *ngFor="let opt of dropDownsData.status" [ngValue]="opt">{{opt.description}}</option>
        </select>

      </td>
    </tr>
    <tr>
      <td>
        Mid Year Open
      </td>
      <td>
        {{cycle?.performanceCycleMidYearStatus == 'Y'? 'Yes' : 'No'}}
      </td>
    </tr>
    <tr>
      <td>
        Full Year Open
      </td>
      <td>
        {{cycle?.performanceCycleFullYearStatus == 'Y'? 'Yes' : 'No'}}
      </td>
    </tr>
    <!-- <tr>
      <td>
        Manager
      </td>
      <td>
        Karthik
      </td>
    </tr> -->
  </tbody>
</table>
<div class="row">

  <div class="col-sm-12">
    <h4>
      <span class="fa fa-building"></span> Employee | Performance Review <span *ngIf="isManager && cycleForUser">:
        {{cycleForUser?.fullName}}</span>
    </h4>
  </div>
</div>

<ul class="row nav nav-tabs mb-2">
  <li class="nav-item" (click)="changeTab(tab)" *ngFor="let tab of tabs">
    <a class="nav-link" [ngClass]="{'active': currentTab.tab == tab.tab}">{{tab.name}}</a>
  </li>
</ul>
<div *ngIf="cycle">
  <app-goal-details (update)="updatedCycle($event)" [cycle]="cycle" [userPerformanceCycleId]="Id" [isManager]="isManager"
    *ngIf="currentTab.tab == 1"></app-goal-details>
  <app-incidents (update)="updatedCycle($event)" [cycle]="cycle" *ngIf="currentTab.tab == 4"></app-incidents>
  <app-360-feedback (update)="updatedCycle($event)" [cycle]="cycle" *ngIf="currentTab.tab == 2"></app-360-feedback>
  <app-document (update)="updatedCycle($event)" [cycle]="cycle" [userPerformanceCycleId]="Id" *ngIf="currentTab.tab == 3"></app-document>
  <app-lms-details (update)="updatedCycle($event)" [cycle]="cycle" *ngIf="currentTab.tab == 5"></app-lms-details>
</div>