@import "./../../../../_common";
@import './../../../../assets/styles/_lms';
.navbar {
    height: 100%;
    position: relative;
    align-items: initial;
    @extend .zero-padding;
    ul {
        list-style: none;
        @extend .zero-margin;
        padding-left: 5px;
        padding-right: 5px;
        width: 100%;
        li {
            cursor: pointer;
            background-color: #2e2e2e;
            border-bottom: 2px solid white;
            font-size: 13px;
            &.active {
                a {
                    background-color: $lmsColor;
                    color: #fff;
                }
            }
            &:hover {
                a {
                    background-color: $lmsColor;
                    color: #fff;
                }
                .dropdown-toggle{
                    background-color: none;
                }
            }
            a {
                display: block;
                padding: 6px;
                font-size: 1.1em;
                color: #d2d2d2;
            }
        }
    }
}

.user-image{
        width: 50px;
}

.user-role{
min-width: 100px;
@extend .text-overflow;
}