<div class="row pr-1 pb-3 pt-3 zero-margin">
    <div class="col-3" style="vertical-align:middle">
        <img src="./assets/images/logo.png" alt="gotorisk.co.uk" class="user-image" />
    </div>
    <div class="col-6" style="vertical-align:middle;">
        <span>{{userDetails.loginId}}</span>
        <br>
        <span class="fa fa-circle text-success"> Online</span>
    </div>
    <div class="col-3">
        <button class="btn float-right btn-info btn-sm" style="vertical-align:middle" (click)="logOut()">
            <span class="fa fa-power-off "></span>
        </button>

    </div>
</div>
<div class="navbar">
    <ul>
        <li [ngClass]="{active:thisView=='dashboard'}">
            <a [routerLink]="['/lms/dashboard']" title="">
                <i class="fa fa-tasks"></i> Dashboard
            </a>
        </li>
        <li [ngClass]="{active:thisView=='courses'}">
            <a [routerLink]="['/lms/courses']" title="">
                <i class="fa fa-lock"></i> Courses
            </a>
        </li>
        <li [ngClass]="{active:thisView=='my-courses'}">
            <a [routerLink]="['/lms/my-courses']" title="">
                <i class="fa fa-lock"></i> My Courses
            </a>
        </li>
        <li [ngClass]="{active:thisView=='progress'}">
            <a [routerLink]="['/lms/progress']" title="">
                <i class="fa fa-lock"></i> My Progress
            </a>
        </li>
        <li [ngClass]="{active:thisView == 'manage-courses'}" *ngIf="isAdmin">
            <a [routerLink]="['/lms/manage-courses']" title="">
                <i class="fa fa-user"></i> Manage Courses
            </a>
        </li>
        <li [ngClass]="{active:thisView == 'manage-profiles'}" *ngIf="isAdmin">
            <a [routerLink]="['/lms/manage-profiles']" title="">
                <i class="fa fa-user"></i> Manage Profiles
            </a>
        </li>

        <li [ngClass]="{active:thisView=='reports'}" *ngIf="isAdmin">
            <a [routerLink]="['/lms/reports']" title="">
                <i class="fa fa-commenting-o"></i> Reports
            </a>
        </li>

        <li [ngClass]="{active:thisView=='approve-course'}" *ngIf="isAdmin || isSupervisor">
            <a [routerLink]="['/lms/approve-course']" title="">
                <i class="fa fa-commenting-o"></i> Approve/Reject Courses
            </a>
        </li>
<!--         
        <li [ngClass]="{active:thisView=='approve-tab'}" *ngIf="isAdmin || isSupervisor">
            <a [routerLink]="['/lms/approve-tab']" title="">
                <i class="fa fa-commenting-o"></i> Approve/Reject Inactive-tab
            </a>
        </li> -->
    </ul>

</div>