<app-header [module]="module" class="d-none d-lg-block"></app-header>
<div class="row view">
  <div class="col-lg-2 col-md-12 pl-0 pr-0 d-none d-lg-block side-nav-pms">
    <app-side-nav [thisView]="'feedback'"></app-side-nav>
  </div>
  <div class="col-lg-2 col-md-12 pl-0 pr-0 d-lg-none">
    <app-sm-menu [thisView]="'feedback'"></app-sm-menu>
  </div>
  <div class="col-lg-10 col-md-12 col-sm-12 content">
    <div class="row">
      <div class="col-md-6">
        <h4>
          <span class="fa fa-building"></span> Feedback
        </h4>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <router-outlet></router-outlet>
      </div>

    </div>
  </div>
</div>