@import './../../../../assets/styles/ams';
.backdrop {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.modal-body {
    max-height: 375px;
    overflow: auto;
}