<!-- <div class="col-sm-12">
  <div class="input-group search float-right">
    <input class="form-control form-control-sm " [(ngModel)]="searchText" placeholder="Search" />
    <span class="input-group-addon">
      <span class="fa fa-search"></span>
    </span>
  </div>
</div> -->
<div class="col s12">
  <table class="table table-bordered cms-table">
    <thead>
      <th>Title</th>
      <th> Start Date</th>
      <th>End Date</th>
      <th>Published </th>
      <th>Mid year open</th>
      <!-- <th>Expiry Date </th> -->
      <th>Full year open</th>

      <th></th>
    </thead>
    <tbody>
      <tr *ngFor="let cycle of performanceCycles | searchFilter : searchText; let i = index;">
        <td>
          <a [routerLink]="['manager-subview',cycle.id]">{{cycle.title}}</a>
        </td>
        <td>{{cycle.cycleStartDate |date:'dd/MM/yyyy' }}</td>
        <td>{{cycle.cycleEndDate |date:'dd/MM/yyyy'}}</td>
        <td> {{cycle.published}}</td>
        <td>{{cycle.openMidYearReview == 'Y'? 'Yes' : 'No'}}</td>
        <td>{{cycle.openFullYearReview == 'Y'? 'Yes' : 'No'}}</td>

        <td>
          <span class="fa fa-envelope btn btn-sm  btn-outline-info" (click)="publish(cycle)" data-toggle="tooltip"
            title="Email"></span>
        </td>
      </tr>
    </tbody>
  </table>
</div>