<div class="row pb-3">
  <div class="col-md-12">
    <h4>
      <span class="fa fa-file"></span> Send Email</h4>
  </div>
</div>


<div class="tab-content">

  <div class="row pb-2">
    <div class="col-sm-12 col-md-6">
      <label>Document ID</label>
      <input class="form-control" [(ngModel)]="document.documentId" readonly/>
    </div>

    <div class="col-sm-12 col-md-6">
      <label>Title</label>
      <input class="form-control" [(ngModel)]="document.documentTitle" readonly/>
    </div>
  </div>
  <div class="row pb-2">
    <div class="col-sm-12 col-md-6">
      <label>Status</label>
      <input class="form-control" [(ngModel)]="document.documentStatusDescription" readonly />
    </div>
    <div class="col-sm-12 col-md-6">
      <label>Document Classification</label>
      <input class="form-control" [(ngModel)]="document.documentClassificationDescription" readonly />
    </div>
  </div>
  <div class="row pb-2">
    <div class="col-6">
      <label>File Name</label>
      <input class="form-control" [(ngModel)]="document.originalFileName" readonly/>
    </div>
    <div class="col-6">
      <label>Version Number</label>
      <input class="form-control" [(ngModel)]="document.versionNumber" readonly/>
    </div>

  </div>
  <div class="row pb-2">
    <div class="col-6">
      <label>Version Status</label>
      <input class="form-control" [(ngModel)]="document.versionStatusDescription" readonly/>
    </div>
    <div class="col-6">
      <label>Approved By</label>
      <input class="form-control" [(ngModel)]="document.approvedBy" readonly/>
    </div>

  </div>

  <div class="row pb-2">
    <div class="col-6">
      <label>Sent Date</label>
      <input class="form-control" [(ngModel)]="notifiedDate" readonly/>
    </div>
    <div class="col-6">
      <label>From</label>
      <input class="form-control" [(ngModel)]="notifiedBy" readonly/>
    </div>

  </div>
  <div class="row pb-2">
    <div class="col-sm-12">
      <label>Sender Comments</label>
      <textarea class="form-control" [(ngModel)]="data.comments" maxlength="256"></textarea>
    </div>
  </div>
  <div class="row pb-2">
    <div class="col-sm-12">
      <label>Selected users</label>
    
      <button class="btn btn-primary btn-sm" (click)="userLookup()">Lookup</button>
    </div>
  </div>
  <table class="table table-bordered">
    <thead>
      <th>
        Login ID
      </th>
      <th>
        First Name
      </th>
      <th>
        Last Name
      </th>
      <th></th>
    </thead>
    <tbody>
      <tr *ngFor="let user of data.users">
        
        <td>{{user.userLoginId}}
        </td>
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td>
          <span class="fa fa-trash btn btn-sm btn-outline-success" (click)="deleteUser(user)"></span>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="row pb-2">
    <div class="col-sm-12">
      <button class="btn btn-primary" (click)="Save()">Save</button>

    </div>
  </div>