<div class="row pb-3">
  <div class="col-md-12">
    <h4>
      <span class="fa fa-bus"></span> Add Vehicle</h4>
  </div>
</div>
<ul class="row nav nav-tabs mb-2">
  <li class="nav-item" (click)="changeTab(tab)" *ngFor="let tab of tabs">
    <a class="nav-link" [ngClass]="{'active': currentTab.tab == tab.tab}">{{tab.name}}</a>
  </li>
</ul>
<div class="tab-content" *ngIf="currentTab.tab == 1">
  <h5>Vehicle Details</h5>
  <div class="row pb-2">
    <div class="col-sm-12 col-md-4">
      <label>Vehicle Reg. No.</label>
      <input class="form-control" [(ngModel)]="vehicle.vehicleRegistrationId" name="vehicleRegistrationId" />
    </div>
    <div class="col-sm-12 col-md-4">
      <label>Engine #</label>
      <input class="form-control" [(ngModel)]="vehicle.engineNumber" name="engineNumber" />
    </div>
    <div class="col-sm-12 col-md-4">
      <label>Chasis #</label>
      <input class="form-control" [(ngModel)]="vehicle.chassisNumber" name="chassisNumber" />
    </div>
  </div>

  <div class="row pb-2">
    <div class="col-sm-12 col-md-4">
      <label>Asset Category</label>
      <select class="form-control" [compareWith]="selectCompareFunction" disabled [(ngModel)]="vehicle.assetCategory">
        <option [ngValue]="null"></option>
        <option *ngFor="let category of dropDownsData.assetCategoriesList" [ngValue]="category">{{category.description}}
        </option>
      </select>
    </div>
    <div class="col-sm-12 col-md-4">
      <label>Organization</label>
      <input class="form-control" disabled [(ngModel)]="vehicle.organizationName" name="organizationName" />
    </div>
    <div class="col-sm-12 col-md-4">
      <label>Department</label>
      <select class="form-control" [compareWith]="selectCompareFunction" [(ngModel)]="vehicle.department">
        <option [ngValue]="null"></option>
        <option *ngFor="let department of dropDownsData.departmentList" [ngValue]="department">
          {{department.description}}</option>
      </select>
    </div>
  </div>

  <div class="row pb-2">
    <div class="col-sm-12 col-md-3">
      <label>Make</label>
      <input class="form-control" [(ngModel)]="vehicle.make" name="make" />
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Model</label>
      <input class="form-control" [(ngModel)]="vehicle.model" name="model" />
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Year Of Manufacturing</label>
      <!-- <input class="form-control" [(ngModel)]="vehicle.yearOfManufacturing" name="yearOfManufacturing"
       [owlDateTime]="dty" [owlDateTimeTrigger]="dty" />
     <owl-date-time [pickerType]="'calendar'" #dty></owl-date-time> -->
      <input class="form-control" [(ngModel)]="vehicle.yearOfManufacturing" name="yearOfManufacturing" />
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Month Of Manufacturing</label>
      <select class="form-control" [compareWith]="selectCompareFunction" [(ngModel)]="vehicle.monthOfManufacturing">
        <option [ngValue]="null"></option>
        <option *ngFor="let month of dropDownsData.monthTypeList" [ngValue]="month">{{month.description}}</option>
      </select>
    </div>
  </div>

  <div class="row pb-2">
    <div class="col-sm-12 col-md-6">
      <label>Vehicle Type</label>
      <select class="form-control" [compareWith]="selectCompareFunction" [(ngModel)]="vehicle.vehicleType">
        <option [ngValue]="null"></option>
        <option *ngFor="let veh of dropDownsData.vehicleTypeList" [ngValue]="veh">{{veh.description}}</option>
      </select>
    </div>
    <div class="col-sm-12 col-md-6">
      <label>If other Specify</label>
      <input class="form-control" [disabled]="!vehicle.vehicleType || vehicle.vehicleType.id != 'OTHER'"
        [(ngModel)]="vehicle.vehicleTypeOther" name="vehicleTypeOther" />
    </div>
  </div>

  <div class="row pb-2">
    <div class="col-sm-12 col-md-3">
      <label>Tax</label>
      <select class="form-control" [(ngModel)]="vehicle.taxApplicable">
        <option [ngValue]="null"></option>
        <option value="Y">Yes</option>
        <option value="N">No</option>
      </select>
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Tax Amount</label>
      <input class="form-control" [disabled]="vehicle.taxApplicable == 'N'" [(ngModel)]="vehicle.taxAmount"
        name="taxAmount" />
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Tax Start Date Time</label>
      <input [disabled]="vehicle.taxApplicable == 'N'" class="form-control" [owlDateTime]="dt3"
        [owlDateTimeTrigger]="dt3" [(ngModel)]="vehicle.taxStartDateTime" name="taxStartDateTime" />
      <owl-date-time [pickerType]="'both'" [showSecondsTimer]="true" #dt3></owl-date-time>
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Tax End Date Time</label>
      <input class="form-control" [owlDateTime]="dt2" [owlDateTimeTrigger]="dt2"
        [disabled]="vehicle.taxApplicable == 'N'" [(ngModel)]="vehicle.taxEndDateTime" name="taxEndDateTime" />
      <owl-date-time [pickerType]="'both'" [showSecondsTimer]="true" #dt2></owl-date-time>
    </div>
  </div>

  <div class="row pb-2">
    <div class="col-sm-12 col-md-4">
      <label>MOT</label>
      <select class="form-control" [(ngModel)]="vehicle.motApplicable">
        <option [ngValue]="null"></option>
        <option value="Y">Yes</option>
        <option value="N">No</option>
      </select>
    </div>
    <div class="col-sm-12 col-md-4">
      <label>MOT Authority Name</label>
      <input class="form-control" [(ngModel)]="vehicle.motAuthorityName" name="motAuthorityName" />
    </div>
    <div class="col-sm-12 col-md-4">
      <label>MOT Place</label>
      <input class="form-control" [(ngModel)]="vehicle.motPlace" name="motPlace" />
    </div>
  </div>

  <div class="row pb-2">
    <div class="col-sm-12 col-md-4">
      <label>MOT Start Date Time</label>
      <input class="form-control" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" [(ngModel)]="vehicle.motStartDateTime"
        name="motStartDateTime" />
      <owl-date-time [pickerType]="'both'" [showSecondsTimer]="true" #dt1></owl-date-time>
    </div>
    <div class="col-sm-12 col-md-4">
      <label>MOT End Date Time</label>
      <input class="form-control" [owlDateTime]="dt4" [owlDateTimeTrigger]="dt4" [(ngModel)]="vehicle.motEndDateTime"
        name="motEndDateTime" />
      <owl-date-time [pickerType]="'both'" [showSecondsTimer]="true" #dt4></owl-date-time>
    </div>
    <div class="col-sm-12 col-md-4">
      <label>MOT Obtained Date</label>
      <input class="form-control" [owlDateTime]="dt5" [owlDateTimeTrigger]="dt5" [(ngModel)]="vehicle.motObtainedDate"
        name="motObtainedDate" />
      <owl-date-time [pickerType]="'calendar'" #dt5></owl-date-time>
    </div>
  </div>


  <div class="row pb-2">
    <div class="col-sm-12 col-md-6">
      <label>Vehicle Damage Type</label>
      <ngx-select-dropdown *ngIf="dropDownsData.vehicleDamageTypeList" [multiple]="true" [config]="multiselectConfig"
        [(value)]="vehicle.vehicleDamageTypes" [options]="dropDownsData.vehicleDamageTypeList"
        (change)="damageTypeChanged()"></ngx-select-dropdown>
    </div>
    <div class="col-sm-12 col-md-6">
      <label>If other Specify</label>
      <input class="form-control" [disabled]="enabledOthers" [(ngModel)]="vehicle.vehicleDamageTypeOther"
        name="vehicleDamageTypeOther" />
    </div>
  </div>

  <div class="row pb-2">
    <div class="col-sm-12 col-md-4">
      <label>Regulatory Compliance</label>
      <select class="form-control" [(ngModel)]="vehicle.regulatoryCompliance">
        <option [ngValue]="null"></option>
        <option value="Y">Yes</option>
        <option value="N">No</option>
      </select>
    </div>
    <div class="col-sm-12 col-md-4">
      <label>Regulatory Authority</label>
      <input class="form-control" [disabled]="vehicle.regulatoryCompliance != 'Y'"
        [(ngModel)]="vehicle.regulatoryAuthorityName" name="regulatoryAuthorityName" />
    </div>
    <div class="col-sm-12 col-md-4">
      <label>Compliance Obtained Date</label>
      <input class="form-control" [disabled]="vehicle.regulatoryCompliance != 'Y'" [owlDateTime]="dt8"
        [owlDateTimeTrigger]="dt8" [(ngModel)]="vehicle.regCompObtainedDate" name="regCompObtainedDate" />
      <owl-date-time [pickerType]="'calendar'" #dt8></owl-date-time>
    </div>
  </div>



  <div class="row pb-2">

    <div class="col-sm-12 col-md-4">
      <label>Fire Exitinguishers Present</label>
      <select class="form-control" [(ngModel)]="vehicle.fireExtinguishers">
        <option [ngValue]="null"></option>
        <option value="Y">Yes</option>
        <option value="N">No</option>
      </select>
    </div>
    <div class="col-sm-12 col-md-4">
      <label>Fire Extinguishers</label>
      <ngx-select-dropdown [ngClass]="{'disabled': vehicle.fireExtinguishers != 'Y'}"
        *ngIf="dropDownsData.fireExtinguisherTypeList" [multiple]="true" [config]="multiselectConfig"
        [(value)]="vehicle.fireExtinguisherTypes" [options]="dropDownsData.fireExtinguisherTypeList">
      </ngx-select-dropdown>
    </div>
    <div class="col-sm-12 col-md-4">
      <label>Fire Extinguishers Location</label>
      <input class="form-control" [disabled]="vehicle.fireExtinguishers !='Y'" [(ngModel)]="vehicle.fireExtinguisherLoc"
        name="description" />
    </div>
  </div>

  <div class="row pb-2">
    <div class="col-sm-12 col-md-3">
      <label>Annual Maintenance Contract</label>
      <select class="form-control" [(ngModel)]="vehicle.amcPresent" (change)="updateTabs()">
        <option [ngValue]="null"></option>
        <option value="Y">Yes</option>
        <option value="N">No</option>
      </select>
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Inspection</label>
      <select class="form-control" [(ngModel)]="vehicle.inspectionPresent" (change)="updateTabs()">
        <option [ngValue]="null"></option>
        <option value="Y">Yes</option>
        <option value="N">No</option>
      </select>
    </div>
    <div class="col-sm-12 col-md-3">
      <label>License</label>
      <select class="form-control" [(ngModel)]="vehicle.licensePresent" (change)="updateTabs()">
        <option [ngValue]="null"></option>
        <option value="Y">Yes</option>
        <option value="N">No</option>
      </select>
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Loan</label>
      <select class="form-control" [(ngModel)]="vehicle.loanPresent" (change)="updateTabs()">
        <option [ngValue]="null"></option>
        <option value="Y">Yes</option>
        <option value="N">No</option>
      </select>
    </div>
  </div>

  <div class="row pb-2">
    <div class="col-sm-12 col-md-3">
      <label>Policy</label>
      <select class="form-control" [(ngModel)]="vehicle.insurancePresent" (change)="updateTabs()">
        <option [ngValue]="null"></option>
        <option value="Y">Yes</option>
        <option value="N">No</option>
      </select>
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Rental/Lease</label>
      <select class="form-control" [(ngModel)]="vehicle.rentalOrLeasePresent" (change)="updateTabs()">
        <option [ngValue]="null"></option>
        <option value="Y">Yes</option>
        <option value="N">No</option>
      </select>
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Service</label>
      <select class="form-control" [(ngModel)]="vehicle.servicePresent" (change)="updateTabs()">
        <option [ngValue]="null"></option>
        <option value="Y">Yes</option>
        <option value="N">No</option>
      </select>
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Warranty</label>
      <select class="form-control" [(ngModel)]="vehicle.warrantyPresent" (change)="updateTabs()">
        <option [ngValue]="null"></option>
        <option [ngValue]="null"></option>
        <option value="Y">Yes</option>
        <option value="N">No</option>
      </select>
    </div>
  </div>

  <div class="row pb-2">
    <div class="col-sm-12 col-md-6">
      <label>Asset Condition</label>
      <select [compareWith]="selectCompareFunction" class="form-control" [(ngModel)]="vehicle.assetCondition">
        <option [ngValue]="null"></option>
        <option *ngFor="let condition of dropDownsData.assetConditionList" [ngValue]="condition">
          {{condition.description}}</option>
      </select>
    </div>
    <div class="col-sm-12 col-md-6">
      <label>If Other Specify</label>
      <input class="form-control" [disabled]="!vehicle.assetCondition || vehicle.assetCondition.id != 'OTHER'"
        [(ngModel)]="vehicle.assetConditionOther" name="assetConditionOther" />
    </div>
  </div>

  <div class="row pb-2">
    <div class="col-sm-12 col-md-6">
      <label>Asset Status</label>
      <select [compareWith]="selectCompareFunction" class="form-control" [(ngModel)]="vehicle.assetStatus">
        <option [ngValue]="null"></option>
        <option *ngFor="let status of dropDownsData.assetStatusList" [ngValue]="status">{{status.description}}</option>
      </select>
    </div>
    <div class="col-sm-12 col-md-6">
      <label>If Other Specify</label>
      <input class="form-control" [disabled]="!vehicle.assetStatus || vehicle.assetStatus.id != 'OTHER'"
        [(ngModel)]="vehicle.assetStatusOther" name="description" />
    </div>
  </div>
  <div class="row pb-2">
    <div class="col-sm-12 col-md-6">
      <label>Asset Type</label>
      <select [compareWith]="selectCompareFunction" class="form-control" [(ngModel)]="vehicle.assetType">
        <option [ngValue]="null"></option>
        <option *ngFor="let type of dropDownsData.assetTypeList" [ngValue]="type">{{type.description}}</option>
      </select>
    </div>
    <div class="col-sm-12 col-md-6">
      <label>If Other Specify</label>
      <input class="form-control" [disabled]="!vehicle.assetType || vehicle.assetType.id != 'OTHER'"
        [(ngModel)]="vehicle.assetTypeOther" name="description" />
    </div>
  </div>
  <div class="row pb-2">
    <div class="col-sm-12">
      Assigned To:
      <button class="btn btn-primary" (click)="userLookup()">Lookup</button>
    </div>
  </div>

  <table class="table table-bordered">
    <thead>
      <th>
        Login ID
      </th>
      <th>
        First Name
      </th>
      <th>
        Last Name
      </th>
      <th></th>
    </thead>
    <tbody>
      <tr *ngFor="let assignee of vehicle.assignees">

        <td>{{assignee.userLoginId || assignee.loginId}}
        </td>
        <td>{{assignee.firstName}}</td>
        <td>{{assignee.lastName}}</td>
        <td>
          <span class="fa fa-trash btn btn-sm btn-outline-success" (click)="deleteAssignee(assignee)"></span>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="row pb-2">
    <div class="col-sm-12">
      <label>Comment/Description</label>
      <textarea class="form-control" [(ngModel)]="vehicle.commentDescription"></textarea>
    </div>
  </div>
  <div class="row pb-3">
    <div class="col-sm-12">
      <button class="btn btn-primary" (click)="lookup('address')">
        <span class="fa fa-search">Address Lookup</span>
      </button>
      <button class="btn btn-primary" (click)="lookup()">
        <span class="fa fa-search"> Office Address Lookup</span>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-12">
      <label>Organization Name (if any)</label>
      <input disabled [(ngModel)]="vehicle.addresses[0].organizationName" type="text" class="form-control">
    </div>
    <div class="col-md-4 col-sm-12">
      <label>Block #/Name</label>
      <input disabled [(ngModel)]="vehicle.addresses[0].blockNumber" type="text" class="form-control">
    </div>
    <div class="col-md-4 col-sm-12">
      <label>Vehicle Name</label>
      <input disabled [(ngModel)]="vehicle.addresses[0].vehicleName" type="text" class="form-control">
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-12 row m-0 ">
      <div class="col-sm-4 p-0">
        <label>Postcode</label>
        <input disabled [(ngModel)]="vehicle.addresses[0].postcode1" type="text" class="form-control">
      </div>
      <div class="col-sm-4 p-0" style="padding-top:32px !important">
        <!-- <label>Post Code 2</label> -->
        <input disabled [(ngModel)]="vehicle.addresses[0].postcode2" type="text" class="form-control">
      </div>
      <div class="col-sm-4 pt-2 pl-0">
        <label class="p-1"></label>
        <button class="btn btn-primary d-block" (click)="lookup('post')">
          <span class="fa fa-search"> Lookup</span>
        </button>

      </div>

    </div>
    <div class="col-md-4 col-sm-12">
      <label>Locality Name</label>
      <input disabled [(ngModel)]="vehicle.addresses[0].localityName" type="text" class="form-control">
    </div>
    <div class="col-md-4 col-sm-12">
      <label>City</label>
      <input disabled [(ngModel)]="vehicle.addresses[0].city" type="text" class="form-control">
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-12">
      <label>Door #</label>
      <input disabled [(ngModel)]="vehicle.addresses[0].doorNumber" type="text" class="form-control">
    </div>
    <div class="col-md-4 col-sm-12">
      <label>Apartment #/Name</label>
      <input disabled [(ngModel)]="vehicle.addresses[0].apartmentNumber" type="text" class="form-control">
    </div>
    <div class="col-md-4 col-sm-12">
      <label>Street Name</label>
      <input disabled [(ngModel)]="vehicle.addresses[0].streetName" type="text" class="form-control">
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-12">
      <label>Post Town</label>
      <input disabled [(ngModel)]="vehicle.addresses[0].postTown" type="text" class="form-control">
    </div>
    <div class="col-md-4 col-sm-12">
      <label>County</label>
      <input disabled [(ngModel)]="vehicle.addresses[0].county" type="text" class="form-control">
    </div>
    <div class="col-md-4 col-sm-12">
      <label>Country</label>
      <input disabled [(ngModel)]="vehicle.addresses[0].country" type="text" class="form-control">
    </div>
  </div>
  <div class="row pb-2">
    <div class="col-sm-12">
      <button class="btn btn-primary" (click)="save()">{{editMode?'Update':'Save'}}</button>
      <!-- <button class="btn btn-success float-right">Next</button> -->
    </div>
  </div>
</div>
<app-maintenance *ngIf="currentTab.tab==2" (addedToAsset)="addedToAsset($event)" [asset]="vehicle"></app-maintenance>
<app-inspection *ngIf="currentTab.tab==3" (addedToAsset)="addedToAsset($event)" [asset]="vehicle"></app-inspection>
<app-license *ngIf="currentTab.tab==4" (addedToAsset)="addedToAsset($event)" [asset]="vehicle"></app-license>
<app-loan *ngIf="currentTab.tab==5" (addedToAsset)="addedToAsset($event)" [asset]="vehicle"></app-loan>
<app-policy *ngIf="currentTab.tab==6" (addedToAsset)="addedToAsset($event)" [asset]="vehicle"></app-policy>
<app-rent-or-lease *ngIf="currentTab.tab==7" (addedToAsset)="addedToAsset($event)" [asset]="vehicle">
</app-rent-or-lease>
<app-service *ngIf="currentTab.tab==8" (addedToAsset)="addedToAsset($event)" [asset]="vehicle"></app-service>
<app-warranty *ngIf="currentTab.tab==9" (addedToAsset)="addedToAsset($event)" [asset]="vehicle"></app-warranty>
<app-supporting-documents *ngIf="currentTab.tab==10" (addedToAsset)="addedToAsset($event)" [docsObject]="vehicle"
  [addTo]="'vehicle'"></app-supporting-documents>
<asset-summary [asset]="vehicle" *ngIf="currentTab.tab==11"></asset-summary>