<div class="row pb-2">
  <div class="col-sm-12">
    <h5 style="height:40px;">Feedback
      <button *ngIf="!isManager" class="btn btn-info btn-sm float-right" [routerLink]="['/pms/employee/request-feedback',cycle.userPerformanceCycleId]">Request
        Feedback</button>
    </h5>
  </div>
</div>

<div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h6 class="mb-0" class="btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
        aria-controls="collapseOne">
        Internal
      </h6>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        <div class="row" *ngFor="let feedback of internalFeedbacks;let ind = index;">
          <div class="col-sm-12">
            <div class="card mb-1">
              <h5 class="card-header">{{ind+1}}. {{feedback.user.fullName}}
                <span (click)="deleteInternalFeedback(feedback, ind)" class="btn btn-sm btn-outline-danger fa fa-trash float-right"></span>
              </h5>
              <div class="card-body">
                <div class="row">
                  <div class="col-12 col-md-4">
                    Position: {{feedback?.user?.position?.description}}
                  </div>
                  <div class="col-12 col-md-4">
                    Department: {{feedback?.user?.department?.description}}
                  </div>
                  <div class="col-12 col-md-4">
                    Organization: {{feedback?.user?.department?.organozation?.description}}
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-md-4">
                    Date: {{feedback?.commentGivenDate | date: 'dd/MM/yyyy'}}
                  </div>
                  <div class="col-12 col-md-4">
                    Phone: {{feedback?.user?.phone}}
                  </div>
                  <div class="col-12 col-md-4">
                    Email: {{feedback?.user?.email}}
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    Comments:
                    <textarea class="form-control" disabled [value]="feedback.comment"></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h6 class="mb-0 btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
        aria-controls="collapseTwo">
        External
      </h6>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        <div class="row" *ngFor="let feedback of externalFeedbacks;let ind = index;">
          <div class="col-sm-12">
            <div class="card mb-1">
              <h5 class="card-header">{{ind+1}}. {{feedback.firstName}}
                <span (click)="deleteExternalFeedback(feedback, ind)" class="btn btn-sm btn-outline-danger fa fa-trash float-right"></span>
              </h5>
              <div class="card-body">
                <div class="row">
                  <div class="col-12 col-md-4">
                    Given By: {{feedback?.firstName}} {{feedback?.middleName}} {{feedback?.lastName}}
                  </div>
                  <div class="col-12 col-md-4">
                    Phone: {{feedback?.phone}}
                  </div>
                  <div class="col-12 col-md-4">
                    Email: {{feedback?.email}}
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-md-4">
                    Date: {{feedback?.commentGivenDate | date: 'dd/MM/yyyy'}}
                  </div>
                  <div class="col-12 col-md-4">
                    Job Title: {{feedback?.jobTitle}}
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    Comments:
                    <textarea class="form-control" disabled [value]="feedback.comment"></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 
<ng-pagination *ngIf="itemsCount" [position]="'left'" [pageSize]="pageSize" [itemsCount]="itemsCount" (getPageData)="getPageData($event)"></ng-pagination>
<app-ajax-loader *ngIf="!buildingList"></app-ajax-loader> -->