<div class="col s12">
  <table class="table table-bordered cms-table">
    <tbody>
      <tr>
        <td>
          Title
        </td>
        <td>
          {{cycle?.performanceCycleTitle}}
        </td>
      </tr>
      <tr>
        <td>
          Start Date
        </td>
        <td>
          {{cycle?.performanceCycleStartDate | date:'dd/MM/yyyy'}}
        </td>
      </tr>
      <tr>
        <td>
          End Date
        </td>
        <td>
          {{cycle?.performanceCycleEndDate | date:'dd/MM/yyyy'}}
        </td>
      </tr>
      <tr>
        <td>
          Status
        </td>
        <td>
          {{cycle?.performanceCycleStatus}}
        </td>
      </tr>
      <tr>
        <td>
          Mid Year Open
        </td>
        <td>
          {{cycle?.performanceCycleMidYearStatus == 'Y'? 'Yes' : 'No'}}
        </td>
      </tr>
      <tr>
        <td>
          Full Year Open
        </td>
        <td>
          {{cycle?.performanceCycleFullYearStatus == 'Y'? 'Yes' : 'No'}}
        </td>
      </tr>
      <tr>
        <td>
          Manager
        </td>
        <td>
          {{cycle?.managerFullName}}
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="col-sm-12">
  <div class="input-group search float-right">
    <input class="form-control form-control-sm " [(ngModel)]="searchText" placeholder="Search" />
    <span class="input-group-addon">
      <span class="fa fa-search"></span>
    </span>
  </div>
</div>

<div class="col s12">
  <table class="table table-bordered cms-table">
    <thead>
      <th>User ID</th>
      <th> Full Name</th>
      <th>Phone</th>
      <th>Email </th>
      <th>Mid year review submitted</th>
      <!-- <th>Expiry Date </th> -->
      <th>Full year review submitted</th>

      <th>Status</th>
    </thead>
    <tbody *ngFor="let c of performanceCycles | searchFilter: searchText; let i = index;">
      <tr>
        <td>
          <a *ngIf="c?.userPerfCycleId && c?.userLoginId" [routerLink]="['/pms/manager/manager-subview',c?.userPerfCycleId,c?.userLoginId]">{{c.userLoginId}}</a>
          <a *ngIf="!c?.userPerfCycleId && c?.userLoginId">{{c.userLoginId}}</a>
        </td>
        <td>{{c.userFullName}}</td>
        <td>{{c.userPhone}}</td>
        <td>
          <a href="mailto:{{c.userEmail}}">{{c.userEmail}}</a>
        </td>
        <td>{{c.userPerfCycleMidYearStatus == 'Y' ? 'Yes' : 'No'}}</td>
        <td> {{c.userPerfCycleFullYearStatus == 'Y' ? 'Yes' : 'No'}} </td>
        <td>
          {{c.userPerfCycleStatus != null ? c.userPerfCycleStatus.description : null }}
        </td>
      </tr>
    </tbody>
  </table>
  <!-- <ng-pagination [position]="'left'" [pageSize]="10" [itemsCount]="itemsCount" (getPageData)="getPageData($event)"></ng-pagination> -->
</div>