@import './../../../../../assets/styles/pms';

:host {
    width: 100%;
}
@media only screen and (max-width:767px) {
    .search {
        &.float-right{
            float: left !important;
            width: 100%;
        }
    }
 }