<div class="row pb-3">
  <div class="col-md-8">
    <h4>
      <span class="fa fa-address-book-o"></span> Manage Profiles |
      <button class="btn btn-sm btn-primary" [routerLink]="['add-profile']">
        <span class="fa fa-plus"></span> Add Profile</button>
      <button class="btn btn-sm btn-primary" [routerLink]="['assign-profile']">
        <span class="fa fa-plus"></span> Assign Profile</button>
      <button class="btn btn-sm btn-primary" [routerLink]="['remove-profile']">
        <span class="fa fa-trash"></span> Remove Profile</button>
    </h4>
  </div>
  <div class="col-md-4">
      <div class="searchbox">
          <div class="input-group stylish-input-group">
              <input type="text" class="form-control" placeholder="Search" [(ngModel)]="filter">
              <span class="fa fa-search">
              </span>

          </div>
      </div>
  </div>
</div>
<div class="row">
  <table class="table table-bordered">
    <thead>
      <th>
        Profile Code
      </th>
      <th>
        Profile Description
      </th>
      <th>

      </th>

    </thead>
    <tbody>
      <tr *ngFor="let prof of profiles | searchFilter: filter; let ind = index;">
        <td>
          <a [routerLink]="['edit-profile', prof.id]">{{prof.id}}</a>
        </td>
        <td>
          {{prof.description}}
        </td>
        <td>
          <span class="btn btn-outline-danger fa fa-trash" (click)="deleteProfile(prof, ind)"></span>
        </td>

      </tr>
    </tbody>
  </table>
  <ng-pagination [position]="'left'" [pageSize]="10" [itemsCount]="itemsCount" (getPageData)="getPageData($event)"></ng-pagination>
</div>