<h5>Request Feedback</h5>

<table class="table table-bordered cms-table">
  <tbody>
    <tr>
      <td>
        Title
      </td>
      <td>
        {{cycle?.performanceCycleTitle}}
      </td>
    </tr>
    <tr>
      <td>
        Start Date
      </td>
      <td>
        {{cycle?.performanceCycleStartDate | date: 'dd/MM/yyyy'}}
      </td>
    </tr>
    <tr>
      <td>
        End Date
      </td>
      <td>
        {{cycle?.performanceCycleEndDate | date: 'dd/MM/yyyy'}}
      </td>
    </tr>
    <tr>
      <td>
        Status
      </td>
      <td>
        {{cycle?.userPerformanceCycleStatusDescription}}
      </td>
    </tr>
    <tr>
      <td>
        Mid Year Open?
      </td>
      <td>
        {{cycle?.performanceCycleMidYearStatus == 'Y'? 'Yes' : 'No'}}
      </td>
    </tr>
    <tr>
      <td>
        Full Year Open?
      </td>
      <td>
        {{cycle?.performanceCycleFullYearStatus == 'Y'? 'Yes' : 'No'}}
      </td>
    </tr>
    <tr>
      <td>
        Manager
      </td>
      <td>
        {{userDetails?.manager?.fullName}}
      </td>
    </tr>
  </tbody>
</table>
<div class="row">
  <div class="col-sm-12">
    <label>Requestor Comments</label>
    <textarea [(ngModel)]="request.requestorComments" class="form-control" maxlength="521"></textarea>
  </div>
</div>
<div class="row">
  <div class="col-sm-10">
    <label>Users</label>
    <ngx-select-dropdown [multiple]="true" [options]="usersOptions" [config]="{displayKey:'fullName'}" [(value)]="selectedUsers"></ngx-select-dropdown>
  </div>
  <div class="col-sm-2 pt-2">
    <button class="btn pt-1 btn-info mt-4" (click)="userLookup()">Lookup</button>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <label>Enter Email Ids</label>
    <textarea [(ngModel)]="emails" class="form-control"></textarea>
  </div>
</div>
<div class="row mt-3">
  <div class="col-sm-12">
    <button class="btn btn-secondary float-right" [routerLink]="['/pms/employee']">Cancel</button>
    <button class="btn btn-primary float-right mr-1" (click)="sendFeedbackRequest()">Send</button>

  </div>
</div>