<div id="myModal" class="modal fade" role="dialog" tabindex="-1" [ngClass]="{'show backdrop d-block':display}">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Profile Lookup</h3>
        <button type="button" class="close" data-dismiss="modal" (click)="close()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12 col-md-3">
            <label>Profile Code</label>
          </div>
          <div class="col-sm-12 col-md-3">
            <select class="form-control" (change)="lookupFieldChange(lookupOptions.id)" [(ngModel)]="lookupOptions.id.operator">
              <option value="EQ" selected>Equals</option>
              <option value="NEQ">Not equals</option>
              <option value="STARTS_WITH">Starts with</option>
              <option value="ENDS_WITH">Ends with</option>
              <option value="CONTAINS">Contains</option>
            </select>
          </div>
          <div class="col-sm-12 col-md-4">
            <input class="form-control" [(ngModel)]="lookupOptions.id.value" (change)="lookupFieldChange(lookupOptions.id)" name="id"
            />
          </div>
          <div class="col-sm-12 col-md-2">
            <span>
              <input type="checkbox" [(ngModel)]="lookupOptions.id.sort" (change)="lookupSortChange(lookupOptions.id)"> Sort
            </span>
            <select class="form-control d-inline w-50" (change)="lookupSortChange(lookupOptions.id)" [(ngModel)]="lookupOptions.id.order">
              <option value="ASC">ASC</option>
              <option value="DESC">DESC</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-3">
            <label>Profile Description</label>
          </div>

          <div class="col-sm-12 col-md-3">
            <select class="form-control" (change)="lookupFieldChange(lookupOptions.description)" [(ngModel)]="lookupOptions.description.operator">
              <option value="EQ" selected>Equals</option>
              <option value="NEQ">Not equals</option>
              <option value="STARTS_WITH">Starts with</option>
              <option value="ENDS_WITH">Ends with</option>
              <option value="CONTAINS">Contains</option>

            </select>
          </div>
          <div class="col-sm-12 col-md-4">
            <input class="form-control" [(ngModel)]="lookupOptions.description.value" (change)="lookupFieldChange(lookupOptions.description)"
              name="buildingName" />
          </div>
          <div class="col-sm-12 col-md-2">
            <span>
              <input type="checkbox" [(ngModel)]="lookupOptions.description.sort" (change)="lookupSortChange(lookupOptions.description)"> Sort
            </span>
            <select class="form-control d-inline w-50" (change)="lookupSortChange(lookupOptions.description)" [(ngModel)]="lookupOptions.description.order">
              <option value="ASC">ASC</option>
              <option value="DESC">DESC</option>
            </select>
          </div>
        </div>

        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Profile Code</th>
              <th>Description</th>

              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let prof of searchResult">
              <td>{{prof.id || user.id}}</td>
              <td>{{prof.description}}</td>

              <td>
                <span class="fa fa-plus btn btn-sm btn-outline-success" (click)="profileSelected(prof)"></span>
              </td>
            </tr>
          </tbody>
        </table>
        <ng-pagination *ngIf="searchResult" [position]="'left'" [pageSize]="10" [itemsCount]="itemsCount" (getPageData)="getPageData($event)"></ng-pagination>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="searchProfiles()">Submit</button>
        <button type="button" class="btn btn-primary" (click)="initSearchParams()">Clear</button>
        <button type="button" class="btn btn-secondary" (click)="close()" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>