<div class="row">
  <div class="col-md-6">
    <h4>
      <span class="fa fa-building"></span> Documents |
      <button class="btn btn-info btn-sm" [routerLink]="'add-document'">
        <span class="fa fa-plus"></span> Add</button>
    </h4>
  </div>
  <div class="col-md-6">
    <button class="btn btn-info btn-sm float-right ml-2" (click)="advancedSearch()">
      <span class="fa fa-search"></span>Search</button>
    <div class="input-group search float-right">
      <input class="form-control form-control-sm " placeholder="Search" [(ngModel)]="searchText" />
      <span class="input-group-addon">
        <span class="fa fa-search"></span>
      </span>
    </div>

  </div>
</div>
<table class="table table-bordered cms-table">
  <thead>
    <th (click)="changeSort('documentId')"> ID</th>
    <th (click)="changeSort('documentTitle')"> Title</th>
    <th (click)="changeSort('versionNumber')">Version</th>
    <th (click)="changeSort('documentClassificationDescription')">Classification </th>
    <th (click)="changeSort('documentStatusDescription')">Status</th>
    <th (click)="changeSort('isPublished')">Published</th>
    <!-- <th>Expiry Date </th> -->
    <th (click)="changeSort('addedBy')">Author</th>
    <th (click)="changeSort('approvedBy')">Approver</th>
    <th></th>
  </thead>
  <tbody>
    <tr *ngFor="let doc of documentsList | searchFilter: searchText | sortBy: reverse : keyName; let i = index;">
      <td>
        <a [routerLink]="['edit-document',doc.id]">{{doc.documentId}}</a>
      </td>
      <td> {{doc.documentTitle}}</td>
      <td>{{doc.versionNumber}}</td>
      <td>{{doc.documentClassificationDescription}}</td>
      <td>{{doc.documentStatusDescription}}</td>
      <td> {{doc.isPublished}}</td>
      <!-- <td>{{doc.expiryDate ? (doc.expiryDate | date:'dd/MM/yyyy'): 'NA'}}</td> -->
      <td>{{doc.addedBy}}</td>
      <td>{{doc.approvedBy}}</td>
      <td>
        <span class="fa fa-envelope btn btn-sm  btn-outline-info" data-toggle="tooltip" title="Email" [routerLink]="['send-email',doc.versionHistoryId]"></span>
        <span class="fa fa-download btn btn-sm btn-outline-info" data-toggle="tooltip" title="Download" (click)="downloadDocument(doc)"></span>
        <span class="fa fa-trash btn btn-sm btn-outline-danger" data-toggle="tooltip" title="Delete" (click)="deleteDocumnet(doc,i)"></span>
      </td>
    </tr>
  </tbody>
</table>
<ng-pagination *ngIf="documentsList.length>0" [itemsCount]="itemsCount" [pageSize]="pageSize" (getPageData)="getPageData($event)"></ng-pagination>
<app-ajax-loader *ngIf="!documentsList"></app-ajax-loader>