<app-header [module]="module" class="d-none d-lg-block"></app-header>
<div class="row view">
  <div class="col-lg-2 pl-0 pr-0 d-none d-lg-block side-nav-pms">
    <app-side-nav [thisView]="'dashboard'"></app-side-nav>
  </div>
  <div class="col-lg-2 pl-0 pr-0 d-lg-none">
    <app-sm-menu [thisView]="'dashboard'"></app-sm-menu>
  </div>
  <div class="col-lg-10 pl-0 pr-0 col-md-12 content">
    <div class="row dashboard">
      <div class="col-sm-12 col-md-6 text-center" *ngIf="isAdmin">
        <div class="single-banner">
          <a [routerLink]="['/pms/admin']">
            <img src="./assets/images/J001654---Icon_Admin.png" alt="Admin">

          </a>
        </div>
        <h4>Admin</h4>
      </div>
      <div class="col-sm-12 col-md-6 text-center" *ngIf="isSupervisor">
        <div class="single-banner">
          <a [routerLink]="['/pms/manager']">
            <img src="./assets/images/J001654---Icon_Manager.png" alt="Manager">

          </a>
        </div>
        <h4>Manager</h4>

      </div>
      <div class="col-sm-12 col-md-6 text-center">
        <div class="single-banner">
          <a [routerLink]="['/pms/employee']">
            <img src="./assets/images/J001654---Icon_Employee.png" alt="Employee">
          </a>
        </div>
        <h4>Employee</h4>
      </div>
      <div class="col-sm-12 col-md-6 text-center">
        <div class="single-banner">
          <a [routerLink]="['/pms/feedback']">
            <img src="./assets/images/J001654---Icon_Feedback.png" alt="Feedback">
          </a>
        </div>
        <h4>Feedback</h4>
      </div>
    </div>
  </div>
</div>