<h5 *ngIf="!isManager">Upload File</h5>
<div class="row pb-2" *ngIf="!isManager">
  <div class="col-sm-12">
    <label>File Description</label>
    <textarea class="form-control" name="documentDescription" maxlength="256" [(ngModel)]="file.fileDescription"></textarea>
  </div>
</div>
<div class="row pb-2" *ngIf="!isManager">
  <div class="col-sm-12">
    <label>Comments</label>
    <textarea class="form-control" [(ngModel)]="file.comments" name="comments" maxlength="256"></textarea>
  </div>
</div>
<div class="row pb-2" *ngIf="!isManager">
  <div class="col-sm-12 col-md-4">
    <label>File</label>
    <input class="form-control" (change)="documentSelected($event)" type="file" />
  </div>

  <div class="col-sm-12 col-md-4 pt-2">
    <button class="btn btn-primary mt-4" (click)="addDocument()">Upload</button>
  </div>
</div>
<table class="table table-bordered cms-table">
  <thead>
    <th>ID</th>
    <th>File Name</th>
    <th>Description</th>
    <th>Comments </th>
    <th>Size</th>
    <th>Added By</th>
    <th></th>


  </thead>
  <tbody *ngFor="let doc of documents; let i = index;">
    <tr>
      <td>
        {{doc.id}}
      </td>
      <td> {{doc.originalFileName}}</td>

      <td>{{doc.fileDescription}}</td>

      <td> {{doc.comments}}</td>
      <td>{{doc.fileSize/1024}} KB</td>
      <td>{{doc.createdBy}}</td>
      <td>
        <span class="fa fa-download btn btn-sm btn-outline-info" data-toggle="tooltip" title="Download" (click)="downloadDocument(doc)"></span>
        <span class="fa fa-trash btn btn-sm btn-outline-danger" data-toggle="tooltip" title="Delete" (click)="deleteDocumnet(doc, i)"></span>
      </td>
    </tr>
  </tbody>
</table>