@import "./../../../../_common";
.backdrop {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

thead {
    &.lms {
        background-color: $lmsColor !important;
    }
    &.pms {
        background-color: $pmsColor !important;
    }
    &.ams {
        background-color: $amsColor !important;
    }
    &.cms {
        background-color: $cmsColor !important;
    }
}

.btn {
    &.lms {
        &:hover {
            background-color: $lmsColor !important;
        }
    }
    &.pms {
        &:hover {
            background-color: $pmsColor !important;
        }
    }
    &.ams {
        &:hover {
            background-color: $amsColor !important;
        }
    }
    &.cms {
        &:hover {
            background-color: $cmsColor !important;
        }
    }
}