@import './../../_common';

html{
    font-family: sans-serif;
}
.content{
    border-color: $pmsColor;
}

thead {
    background-color: $pmsColor;
    color: white;
}

.btn {
    &:hover {
        background-color: $pmsColor !important;
    }
}

// .card-header{
//     background-color: $pmsColor;
//     color: #fff;
//     .fa{
//         color:#fff;
//     }
//     .btn-link{
//         color: #fff;
//     }
// }
.nav-tabs {
    border-bottom: 1px solid $pmsColor;
    .nav-link {
        border-color: $pmsColor;
        color:  $pmsColor;
        cursor: pointer;
        &:hover, &.active{
            color:white !important;
            background-color: $pmsColor;
            border-color: $pmsColor;
        }
       
       
    }
}


.input-group.search{
    width: 200px;
    margin-bottom: 5px;
}
 
//  @media only screen and (min-width: 410px) and (max-width:767px) {
//     /* hide the menu item*/
//     .input-group .search .float-right{
//         float: left !important;
//     }
//  }
