<div class="row pb-3">
  <div class="col-md-12">
    <h4>
      <span class="fa fa-address-book-o"></span> My Progress
    </h4>
  </div>
</div>
<ul class="row nav nav-tabs mb-2">
  <li class="nav-item" (click)="changeTab(tab)" *ngFor="let tab of tabs">
    <a class="nav-link" [ngClass]="{'active': currentTab == tab}">{{tab.name}}
      <span class="badge">{{tab.count}}</span>
    </a>
  </li>
</ul>
<div class="row tab-content">

  <table class="table table-bordered">
    <thead>
      <th>
        Course Code
      </th>
      <th>
        Course Name
      </th>
      <th>
        Status
      </th>
      <th>
        Duration
      </th>

      <th>
        Score
      </th>
      <th>
        Last Accessed
      </th>

      <th>
        &nbsp;
      </th>
    </thead>
    <tbody>
      <tr *ngFor="let c of courseData">
        <td>
          <a [routerLink]="['user-course-detail-progress', c.userCourseId]">{{c.courseCode}}</a>
          <!-- <a [routerLink]="['/lms/my-courses/user-course-detail/', c.userCourseId]">{{c.courseCode}}</a> -->

        </td>
        <td>
          {{c.courseName}}
        </td>
        <td>
          {{c.userCourseLessonStatus}}
        </td>
        <td>
          {{c.courseDuration}}
        </td>
        <td>
          {{c.userCourseRawScore | number : '1.2-2'}}
        </td>
        <td>
          {{c.userCourseLastUpdatedDateTime | date:'dd/MM/yyyy HH:mm:ss'}}
        </td>

        <td>
          <a [ngClass]="{'disabled': c.userCourseApprovalRequired === 'Y' &&  c.userCourseApprovalStatusCode === 'PENDING'}" target="_blank"
            [href]="config.playerBaseUrl+'scorm/bin/player.html?sid='+c.userCourseId">Start Course</a>
        </td>
      </tr>
    </tbody>
  </table>
  <ng-pagination [position]="'left'" [pageSize]="10" [itemsCount]="itemsCount" (getPageData)="getPageData($event)"></ng-pagination>
</div>