<div class="row pb-3">
  <div class="col-md-8">
    <h4>
      <span class="fa fa-users"></span> Users |
      <button class="btn btn-sm btn-primary" [routerLink]="['add-user']">
        <span class="fa fa-plus"></span> Add</button>
      <button class="btn btn-sm btn-primary" [routerLink]="['import-users']">
        <span class="fa fa-upload"></span> Import</button>
    </h4>
  </div>
  <div class="col-md-4">
    <div class="searchbox">
      <div class="input-group stylish-input-group">
        <input type="text" class="form-control" placeholder="Search" [(ngModel)]="filter">
        <span class="fa fa-search">
        </span>

      </div>
    </div>
  </div>
</div>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Username</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of userList | searchFilter: filter;let ind = index;">
      <td>
        <a [routerLink]="['edit-user',user.userLoginId]">{{user.userLoginId}}</a>
      </td>
      <td>{{user.firstName}}</td>
      <td>{{user.lastName}}</td>
      <td>{{user.email}}</td>
      <td>
        <span class="fa fa-trash btn btn-outline-danger" (click)="deleteUser(user.id, ind)"></span>
      </td>
    </tr>
  </tbody>
</table>
<ng-pagination [position]="'left'" [pageSize]="10" [itemsCount]="itemsCount" (getPageData)="getPageData($event)"></ng-pagination>