<div class="row pb-3">
  <div class="col-md-12">
    <h4>
      <span class="fa fa-building"></span> Add Building</h4>
  </div>
</div>

<ul class="row nav nav-tabs mb-2">
  <li class="nav-item" (click)="changeTab(tab)" *ngFor="let tab of tabs">
    <a class="nav-link" [ngClass]="{'active': currentTab.tab == tab.tab}">{{tab.name}}</a>
  </li>
</ul>
<div class="tab-content" *ngIf="currentTab.tab == 1">
  <h5>Building Details</h5>
  <div class="row pb-2">
    <div class="col-sm-12 col-md-3">
      <label>Building ID</label>
      <input class="form-control" [(ngModel)]="building.buildingId" name="buildingid" />
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Building Name</label>
      <input class="form-control" [(ngModel)]="building.buildingName" name="buildingName" />
    </div>
    <div class="col-sm-12 col-md-3">
      <label>No. Of Floors</label>
      <input class="form-control" [(ngModel)]="building.numberOfFloors" name="numberOfFloors" />
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Building Size</label>
      <input class="form-control" [(ngModel)]="building.buildingSize" name="buildingSize" />
    </div>
  </div>


  <div class="row pb-2">
    <div class="col-sm-12 col-md-4">
      <label>Asset Category</label>
      <select class="form-control" [compareWith]="selectCompareFunction" disabled [(ngModel)]="building.assetCategory">
        <option [ngValue]="null"></option>
        <option *ngFor="let category of dropDownsData.assetCategoriesList" [ngValue]="category">{{category.description}}
        </option>
      </select>
    </div>
    <div class="col-sm-12 col-md-4">
      <label>Organization</label>
      <input class="form-control" disabled [(ngModel)]="building.organizationName" name="organizationName" />
    </div>
    <div class="col-sm-12 col-md-4">
      <label>Department</label>
      <select class="form-control" [compareWith]="selectCompareFunction" [(ngModel)]="building.department">
        <option [ngValue]="null"></option>
        <option *ngFor="let department of dropDownsData.departmentList" [ngValue]="department">
          {{department.description}}</option>
      </select>
    </div>
  </div>

  <div class="row pb-2">
    <div class="col-sm-12">
      <label>Building Description</label>
      <textarea class="form-control" [(ngModel)]="building.buildingDescription" name="buildingDescription"></textarea>
    </div>
  </div>

  <div class="row pb-2">
    <div class="col-sm-12 col-md-3">
      <label>Regulatory Compliance</label>
      <select class="form-control" [(ngModel)]="building.regulatoryCompliance">
        <option [ngValue]="null"></option>
        <option value="N">No</option>
        <option value="Y">Yes</option>
      </select>
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Regulatory Authority</label>
      <input class="form-control" [disabled]="building.regulatoryCompliance != 'Y'"
        [(ngModel)]="building.regulatoryAuthorityName" name="regulatoryAuthorityName" />
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Compliance Obtained Date</label>
      <input class="form-control" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1"
        [disabled]="building.regulatoryCompliance != 'Y'" [(ngModel)]="building.regCompObtainedDate"
        name="regCompObtainedDate" />
      <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Fire Exits</label>
      <select class="form-control" [(ngModel)]="building.fireExits">
        <option [ngValue]="null"></option>
        <option value="N">No</option>
        <option value="Y">Yes</option>
      </select>
    </div>
  </div>



  <div class="row pb-2">
    <div class="col-sm-12 col-md-3">
      <label>Fire Exit Location(s)</label>
      <input class="form-control" [disabled]="building.fireExits != 'Y'" [(ngModel)]="building.fireExitsLoc"
        name="fireExitsLoc" />
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Fire Exitinguishers Present</label>
      <select class="form-control" [(ngModel)]="building.fireExtinguishers">
        <option [ngValue]="null"></option>
        <option value="N">No</option>
        <option value="Y">Yes</option>
      </select>
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Fire Extinguisher</label>
      <ngx-select-dropdown [ngClass]="{'disabled':building.fireExtinguishers != 'Y'}"
        *ngIf="dropDownsData.fireExtinguisherTypeList" [multiple]="true" [config]="multiselectConfig"
        [(value)]="building.fireExtinguisherTypes" [options]="dropDownsData.fireExtinguisherTypeList">
      </ngx-select-dropdown>
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Fire Extinguisher Location(s)</label>
      <input class="form-control" [disabled]="building.fireExtinguishers != 'Y'"
        [(ngModel)]="building.fireExtinguisherLoc" name="fireExtinguisherLoc" />
    </div>
  </div>

  <div class="row pb-2">
    <div class="col-sm-12 col-md-3">
      <label>Annual Maintenance Contract</label>
      <select class="form-control" [(ngModel)]="building.amcPresent" (change)="updateTabs()">
        <option [ngValue]="null"></option>
        <option value="N">No</option>
        <option value="Y">Yes</option>
      </select>
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Inspection</label>
      <select class="form-control" [(ngModel)]="building.inspectionPresent" (change)="updateTabs()">
        <option [ngValue]="null"></option>
        <option value="N">No</option>
        <option value="Y">Yes</option>
      </select>
    </div>
    <div class="col-sm-12 col-md-3">
      <label>License</label>
      <select class="form-control" [(ngModel)]="building.licensePresent" (change)="updateTabs()">
        <option [ngValue]="null"></option>
        <option value="N">No</option>
        <option value="Y">Yes</option>
      </select>
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Loan</label>
      <select class="form-control" [(ngModel)]="building.loanPresent" (change)="updateTabs()">
        <option [ngValue]="null"></option>
        <option value="N">No</option>
        <option value="Y">Yes</option>
      </select>
    </div>
  </div>

  <div class="row pb-2">
    <div class="col-sm-12 col-md-3">
      <label>Policy</label>
      <select class="form-control" [(ngModel)]="building.insurancePresent" (change)="updateTabs()">
        <option [ngValue]="null"></option>
        <option value="N">No</option>
        <option value="Y">Yes</option>
      </select>
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Rental/Lease</label>
      <select class="form-control" [(ngModel)]="building.rentalOrLeasePresent" (change)="updateTabs()">
        <option [ngValue]="null"></option>
        <option value="N">No</option>
        <option value="Y">Yes</option>
      </select>
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Service</label>
      <select class="form-control" [(ngModel)]="building.servicePresent" (change)="updateTabs()">
        <option [ngValue]="null"></option>
        <option value="N">No</option>
        <option value="Y">Yes</option>
      </select>
    </div>
    <div class="col-sm-12 col-md-3">
      <label>Warranty</label>
      <select class="form-control" [(ngModel)]="building.warrantyPresent" (change)="updateTabs()">
        <option [ngValue]="null"></option>
        <option value="N">No</option>
        <option value="Y">Yes</option>
      </select>
    </div>
  </div>

  <div class="row pb-2">
    <div class="col-sm-12 col-md-6">
      <label>Asset Condition</label>
      <select [compareWith]="selectCompareFunction" class="form-control" [(ngModel)]="building.assetCondition">
        <option [ngValue]="null"></option>
        <option *ngFor="let condition of dropDownsData.assetConditionList" [ngValue]="condition">
          {{condition.description}}</option>
      </select>
    </div>
    <div class="col-sm-12 col-md-6">
      <label>If Other Specify</label>
      <input class="form-control" [disabled]="!building.assetCondition || building.assetCondition.id != 'OTHER'"
        [(ngModel)]="building.assetConditionOther" name="assetConditionOther" />
    </div>
  </div>

  <div class="row pb-2">
    <div class="col-sm-12 col-md-6">
      <label>Asset Status</label>
      <select [compareWith]="selectCompareFunction" class="form-control" [(ngModel)]="building.assetStatus">
        <option [ngValue]="null"></option>
        <option *ngFor="let status of dropDownsData.assetStatusList" [ngValue]="status">{{status.description}}</option>
      </select>
    </div>
    <div class="col-sm-12 col-md-6">
      <label>If Other Specify</label>
      <input class="form-control" [disabled]="!building.assetStatus || building.assetStatus.id != 'OTHER'"
        [(ngModel)]="building.assetStatusOther" name="assetStatusOther" />
    </div>
  </div>
  <div class="row pb-2">
    <div class="col-sm-12 col-md-6">
      <label>Asset Type</label>
      <select [compareWith]="selectCompareFunction" class="form-control" [(ngModel)]="building.assetType">
        <option [ngValue]="null"></option>
        <option *ngFor="let type of dropDownsData.assetTypeList" [ngValue]="type">{{type.description}}</option>
      </select>
    </div>
    <div class="col-sm-12 col-md-6">
      <label>If Other Specify</label>
      <input class="form-control" [disabled]="!building.assetType || building.assetType.id != 'OTHER'"
        [(ngModel)]="building.assetTypeOther" name="description" />
    </div>
  </div>
  <div class="row pb-2">
    <div class="col-sm-12">
      Assigned To:
      <button class="btn btn-primary btn-sm" (click)="userLookup()">Lookup</button>
    </div>
  </div>

  <table class="table table-bordered">
    <thead>
      <th>
        Login ID
      </th>
      <th>
        First Name
      </th>
      <th>
        Last Name
      </th>
      <th></th>
    </thead>
    <tbody>
      <tr *ngFor="let assignee of building.assignees">

        <td>{{assignee.userLoginId || assignee.loginId }}
        </td>
        <td>{{assignee.firstName}}</td>
        <td>{{assignee.lastName}}</td>
        <td>
          <span class="fa fa-trash btn btn-sm btn-outline-success" (click)="deleteAssignee(assignee)"></span>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="row pb-2">
    <div class="col-sm-12">
      <label>Notes</label>
      <textarea class="form-control" [(ngModel)]="building.notes"></textarea>
    </div>
  </div>
  <div class="row pb-3">
    <div class="col-sm-12">
      <button class="btn btn-primary" (click)="lookup('address')">
        <span class="fa fa-search">Address Lookup</span>
      </button>

      <button class="btn btn-primary" (click)="lookup()">
        <span class="fa fa-search"> Office Address Lookup</span>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-12">
      <label>Organization Name (if any)</label>
      <input disabled [(ngModel)]="building.addresses[0].organizationName" type="text" class="form-control">
    </div>
    <div class="col-md-4 col-sm-12">
      <label>Block #/Name</label>
      <input disabled [(ngModel)]="building.addresses[0].blockNumber" type="text" class="form-control">
    </div>
    <div class="col-md-4 col-sm-12">
      <label>Building Name</label>
      <input disabled [(ngModel)]="building.addresses[0].buildingName" type="text" class="form-control">
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-12 row m-0 ">
      <div class="col-sm-4 p-0">
        <label>Postcode</label>
        <input disabled [(ngModel)]="building.addresses[0].postcode1" type="text" class="form-control">
      </div>
      <div class="col-sm-4 p-0" style="padding-top:32px !important">
        <!-- <label>Post Code 2</label> -->
        <input disabled [(ngModel)]="building.addresses[0].postcode2" type="text" class="form-control">
      </div>
      <div class="col-sm-4 pt-2 pl-0">
        <label class="p-1"></label>
        <button class="btn btn-primary d-block" (click)="lookup('post')">
          <span class="fa fa-search"> Lookup</span>
        </button>

      </div>

    </div>
    <div class="col-md-4 col-sm-12">
      <label>Locality Name</label>
      <input disabled [(ngModel)]="building.addresses[0].localityName" type="text" class="form-control">
    </div>
    <div class="col-md-4 col-sm-12">
      <label>City</label>
      <input disabled [(ngModel)]="building.addresses[0].city" type="text" class="form-control">
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-12">
      <label>Door #</label>
      <input disabled [(ngModel)]="building.addresses[0].doorNumber" type="text" class="form-control">
    </div>
    <div class="col-md-4 col-sm-12">
      <label>Apartment #/Name</label>
      <input disabled [(ngModel)]="building.addresses[0].apartmentNumber" type="text" class="form-control">
    </div>
    <div class="col-md-4 col-sm-12">
      <label>Street Name</label>
      <input disabled [(ngModel)]="building.addresses[0].streetName" type="text" class="form-control">
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-12">
      <label>Post Town</label>
      <input disabled [(ngModel)]="building.addresses[0].postTown" type="text" class="form-control">
    </div>
    <div class="col-md-4 col-sm-12">
      <label>County</label>
      <input disabled [(ngModel)]="building.addresses[0].county" type="text" class="form-control">
    </div>
    <div class="col-md-4 col-sm-12">
      <label>Country</label>
      <input disabled [(ngModel)]="building.addresses[0].country" type="text" class="form-control">
    </div>
  </div>


  <div class="row pb-2">
    <div class="col-sm-12">
      <button class="btn btn-primary" (click)="save()">{{editMode?'Update':'Save'}}</button>
      <!-- <button class="btn btn-success float-right">Next</button> -->
    </div>
  </div>
</div>
<app-maintenance *ngIf="currentTab.tab==2" [asset]="building" (addedToAsset)="addedToAsset($event)"></app-maintenance>
<app-inspection *ngIf="currentTab.tab==3" [asset]="building" (addedToAsset)="addedToAsset($event)"></app-inspection>
<app-license *ngIf="currentTab.tab==4" [asset]="building" (addedToAsset)="addedToAsset($event)"></app-license>
<app-loan *ngIf="currentTab.tab==5" [asset]="building" (addedToAsset)="addedToAsset($event)"></app-loan>
<app-policy *ngIf="currentTab.tab==6" [asset]="building" (addedToAsset)="addedToAsset($event)"></app-policy>
<app-rent-or-lease *ngIf="currentTab.tab==7" [asset]="building" (addedToAsset)="addedToAsset($event)">
</app-rent-or-lease>
<app-service *ngIf="currentTab.tab==8" [asset]="building" (addedToAsset)="addedToAsset($event)"></app-service>
<app-warranty *ngIf="currentTab.tab==9" [asset]="building" (addedToAsset)="addedToAsset($event)"></app-warranty>
<app-supporting-documents *ngIf="currentTab.tab==10" (addedToAsset)="addedToAsset($event)" [docsObject]="building"
  [addTo]="'building'"></app-supporting-documents>
<asset-summary [asset]="building" *ngIf="currentTab.tab==11"></asset-summary>