<div class="row pb-3">
  <div class="col-md-8">
    <h4>
      <span class="fa fa-address-book-o"></span> Organization |
      <button class="btn btn-sm btn-primary" [routerLink]="['add-organization']">
        <span class="fa fa-plus"></span>Add</button>
    </h4>
  </div>
  <div class="col-md-4">
    <div class="searchbox">
      <div class="input-group stylish-input-group">
        <input type="text" class="form-control" placeholder="Search" [(ngModel)]="filter">
        <span class="fa fa-search">
        </span>

      </div>
    </div>
  </div>
</div>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Sub Goup Org</th>
      <th>Active</th>
      <th></th>
    </tr>

  </thead>
  <tbody>
    <tr *ngFor="let org of organizationList | searchFilter: filter; let ind = index;">
      <td>
        <a [routerLink]="['edit-organization',org.id]">{{org.name}}</a>
      </td>
      <td>
        {{org.location}}
      </td>
      <td>
        {{org.subOrganization}}
      </td>
      <td>
        {{org.statusFlag==='ACTIVE'?'Y':'N'}}
      </td>
      <td>
        <span class="btn btn-outline-danger fa fa-trash" (click)="deleteOrganization(org,ind)"></span>
      </td>
    </tr>
  </tbody>
</table>
<ng-pagination [position]="'left'" [pageSize]="10" [itemsCount]="itemsCount" (getPageData)="getPageData($event)"></ng-pagination>