<div class="row pb-3">
  <div class="col-md-12">
    <h4>
      <span class="fa fa-address-book-o"></span> {{editMode?'Update': 'Add'}} Profile
    </h4>
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-sm-12">
    <label>Profile Code</label>
    <input [(ngModel)]="profile.id" type="text" class="form-control">
  </div>
  <div class="col-md-4 col-sm-12">
    <label>Profile Description</label>
    <input [(ngModel)]="profile.description" type="text" class="form-control">
  </div>
  <div class="col-md-4 col-sm-12 row">
    <div class="col-sm-8 p-0">
      <label>Select Courses</label>
      <ngx-select-dropdown [options]="[]" [multiple]="true" [(value)]="profile.courses" [config]="config"></ngx-select-dropdown>
    </div>
    <div class="col-sm-4 pt-2 pl-0">
      <label class="p-1"></label>
      <button class="btn btn-primary d-block" (click)="courseLookup()">
        <span class="fa fa-search"> Lookup</span>
      </button>

    </div>
  </div>
</div>

<div class="row pt-3">
  <div class="col-sm-12">
    <button class="btn btn-primary " (click)="addProfile()" *ngIf="!editMode">Add</button>
    <button class="btn btn-primary " (click)="updateProfile()" *ngIf="editMode">Update</button>
    <button class="btn btn-primary" (click)="goBack()">Back</button>
  </div>
</div>

<div class="col-sm-12">
  <p class="pt-2 lmsColor">*Please use lookup to find courses.</p>
</div>