<div class="row">
  <div class="col-md-6">
    <h4>
      <span class="fa fa-building"></span> Employee | Add Cycle
    </h4>
  </div>
  <div class="col-md-6 col-sm-12">
    <div class="input-group search float-right">
      <input class="form-control form-control-sm " [(ngModel)]="searchText" placeholder="Search" />
      <span class="input-group-addon">
        <span class="fa fa-search"></span>
      </span>
    </div>
  </div>
</div>
<table class="table table-bordered cms-table">
  <thead>
    <th>Title</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Status </th>
    <th></th>
  </thead>
  <tbody>
    <tr *ngFor="let cycle of cycles | searchFilter : searchText">
      <td>
        <a>{{cycle.title}}</a>
      </td>
      <td> {{cycle.cycleStartDate| date: 'dd/MM/yyyy'}}</td>
      <td>{{cycle.cycleEndDate | date: 'dd/MM/yyyy'}}</td>
      <td>{{cycle.statusFlag}}</td>
      <td>
        <span class="btn btn-outline-primary btn-sm fa fa-plus" (click)="addPerformanceCycle(cycle)"></span>
      </td>
    </tr>
  </tbody>
</table>
<!-- <button class="btn btn-primary">Add</button> -->